Frankbelford/FBv1/force-app/main/default/flows/BH_Push_Notification_to_Start_Finish_Now.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Flow built to send a push notification to the BlueArrow app users to not forget to Start/Finish the shift 15 minutes before the Scheduled Start/End Time</description>
    <environments>Default</environments>
    <interviewLabel>BH: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BH: Push Notification to Start/Finish Now</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Push_Notification</name>
        <label>Create Push Notification</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>sirenum__ExtraParameters__c</field>
            <value>
                <stringValue>{&quot;sirenum_tab_name&quot;:&quot;schedule&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TemplateName__c</field>
            <value>
                <stringValue>Push_Notify_Start_Now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Push_Notification1</name>
        <label>Create Push Notification</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>sirenum__ExtraParameters__c</field>
            <value>
                <stringValue>{&quot;sirenum_tab_name&quot;:&quot;schedule&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TemplateName__c</field>
            <value>
                <stringValue>Push_Notify_End_Shift</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X15_minutes_before_Scheduled_Start_Time</name>
            <connector>
                <targetReference>Create_Push_Notification</targetReference>
            </connector>
            <label>15 minutes before Scheduled Start Time</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>sirenum__Scheduled_Start_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_minutes_before_Scheduled_End_Time</name>
            <connector>
                <targetReference>Create_Push_Notification1</targetReference>
            </connector>
            <label>15 minutes before Scheduled End Time</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>sirenum__Scheduled_End_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
