Frankbelford/FBv1/force-app/main/default/flows/Candidate_Portal_Search_Prefernce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>761</locationX>
        <locationY>957</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Search_Preferences</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Job Preference Added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>717</locationX>
        <locationY>1237</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Get_Search_Preferences</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Job Preference Deleted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_collection_0</name>
        <label>Add to collection</label>
        <locationX>901</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreferenceLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreferenceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PreferenceLoop.Search_Parameter__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>1540</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>Recomended</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Paramaters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParamaterID</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Data_Category_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>1111</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>ChoiceLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Add Job Preference</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:job_profile</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>View and add a Job filter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Data_Category_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData1</name>
        <label>AssignData1</label>
        <locationX>756</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData10</name>
        <label>AssignData10</label>
        <locationX>1312</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>LGV Various</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ten</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData11</name>
        <label>AssignData11</label>
        <locationX>1194</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Management</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eleven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData12</name>
        <label>AssignData12</label>
        <locationX>1107</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Manual/Physical Labour</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Twelve</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData2</name>
        <label>AssignData2</label>
        <locationX>920</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ADR Specific</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Two</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData3</name>
        <label>AssignData3</label>
        <locationX>1008</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bus/Coach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Three</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData4</name>
        <label>AssignData4</label>
        <locationX>1130</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Catering</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Four</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData5</name>
        <label>AssignData5</label>
        <locationX>1227</locationX>
        <locationY>109</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Chef</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Five</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData6</name>
        <label>AssignData6</label>
        <locationX>1323</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Six</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData7</name>
        <label>AssignData7</label>
        <locationX>1417</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Driving Generic</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Seven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData8</name>
        <label>AssignData8</label>
        <locationX>1480</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Driving Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eight</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignData9</name>
        <label>AssignData9</label>
        <locationX>1476</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>FLT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Wipe</name>
        <label>Collection Wipe</label>
        <locationX>880</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceLabels</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recomended</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreferenceList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Two</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Three</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Four</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Five</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Six</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Seven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eight</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ten</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eleven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Twelve</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParamaterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Wipe_0</name>
        <label>Collection Wipe</label>
        <locationX>417</locationX>
        <locationY>1267</locationY>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceIcons</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChoiceLabels</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Recomended</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreferenceList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DataGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecommendedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>One</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Two</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Three</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Four</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Five</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Six</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Seven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eight</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ten</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Eleven</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Twelve</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParamaterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Blank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NoJobAssign</name>
        <label>NoJob</label>
        <locationX>815</locationX>
        <locationY>873</locationY>
        <assignmentItems>
            <assignToReference>NoJob</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preference_Assign</name>
        <label>Preference Assign</label>
        <locationX>337</locationX>
        <locationY>937</locationY>
        <assignmentItems>
            <assignToReference>PreferenceCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SearchPreferenceSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preference_Creation_Single</name>
        <label>Preference Creation Single</label>
        <locationX>184</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>SearchPreferenceSingle.Search_Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Search_Parameter2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchPreferenceSingle.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchPreferenceSingle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Search_Parameter2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchPreferenceSingle.Candidate_Geolocation__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.MailingLatitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchPreferenceSingle.Candidate_Geolocation__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate.MailingLongitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Preference_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateID</name>
        <label>UpdateID</label>
        <locationX>1757</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>ParamaterID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Paramater_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paramater_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort</label>
        <locationX>1328</locationX>
        <locationY>862</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Recomended</collectionReference>
        <connector>
            <targetReference>Preference_Screen_0</targetReference>
        </connector>
        <limit>20</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Add_Decision</name>
        <label>Add Decision</label>
        <locationX>1084</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>Preference_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recommended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecommendedCard.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Search_Paramater3_0</targetReference>
            </connector>
            <label>Recommended</label>
        </rules>
        <rules>
            <name>Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup2.selectedRecordId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>a</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Search_Paramater3</targetReference>
            </connector>
            <label>Manual</label>
        </rules>
        <rules>
            <name>BackClicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoBack.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>BackClicked</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobFlex.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Get_0</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>DataCategory</name>
        <label>DataCategory</label>
        <locationX>1083</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>PreferenceLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>One</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData1</targetReference>
            </connector>
            <label>Data1</label>
        </rules>
        <rules>
            <name>Data2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ADR Specific</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Two</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData2</targetReference>
            </connector>
            <label>Data2</label>
        </rules>
        <rules>
            <name>Data3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bus/Coach</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Three</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData3</targetReference>
            </connector>
            <label>Data3</label>
        </rules>
        <rules>
            <name>Data4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Catering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Four</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData4</targetReference>
            </connector>
            <label>Data4</label>
        </rules>
        <rules>
            <name>Data5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chef</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Five</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData5</targetReference>
            </connector>
            <label>Data5</label>
        </rules>
        <rules>
            <name>Data6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Six</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData6</targetReference>
            </connector>
            <label>Data6</label>
        </rules>
        <rules>
            <name>Data7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Driving Generic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Seven</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData7</targetReference>
            </connector>
            <label>Data7</label>
        </rules>
        <rules>
            <name>Data8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Driving Related</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Eight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData8</targetReference>
            </connector>
            <label>Data8</label>
        </rules>
        <rules>
            <name>Data9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FLT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData9</targetReference>
            </connector>
            <label>Data9</label>
        </rules>
        <rules>
            <name>Data10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LGV Various</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ten</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData10</targetReference>
            </connector>
            <label>Data10</label>
        </rules>
        <rules>
            <name>Data11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Management</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Eleven</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData11</targetReference>
            </connector>
            <label>Data11</label>
        </rules>
        <rules>
            <name>Data12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceLoop.Search_Parameter__r.Data_Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manual/Physical Labour</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Twelve</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignData12</targetReference>
            </connector>
            <label>Data12</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>883</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competency</targetReference>
            </connector>
            <label>No Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Creation_Decision</name>
        <label>Job Creation Decision</label>
        <locationX>465</locationX>
        <locationY>861</locationY>
        <defaultConnector>
            <targetReference>Create_Preferences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreferenceCreation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoJobAssign</targetReference>
            </connector>
            <label>None create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parameter_Found_Decision</name>
        <label>Parameter Found Decision</label>
        <locationX>268</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Preference_Creation_Single</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Search_Parameter2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competency_Loop</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Now_Plus_2Hour</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+((1/24)*2)</expression>
    </formulas>
    <interviewLabel>Candidate Portal - Search Prefernce {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Portal - Search Preference</label>
    <loops>
        <name>Competency_Loop</name>
        <label>Competency Loop</label>
        <locationX>479</locationX>
        <locationY>669</locationY>
        <collectionReference>Get_Competency</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Search_Parameter2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Job_Creation_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Data_Category_Loop</name>
        <label>Data Category Loop</label>
        <locationX>1340</locationX>
        <locationY>679</locationY>
        <collectionReference>DataGroups</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Paramaters</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Paramater_Loop</name>
        <label>Paramater Loop</label>
        <locationX>1591</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_Paramaters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_to_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PreferenceLoop</name>
        <label>PreferenceLoop</label>
        <locationX>977</locationX>
        <locationY>562</locationY>
        <collectionReference>Get_Search_Preferences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Preferences</name>
        <label>Create Preferences</label>
        <locationX>476</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>Collection_Wipe</targetReference>
        </connector>
        <inputReference>PreferenceCreation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Search_Preference_0</name>
        <label>Create Search Preference</label>
        <locationX>1196</locationX>
        <locationY>1340</locationY>
        <connector>
            <targetReference>Collection_Wipe</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Candidate.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Candidate.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Search_Paramater3.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Search_Parameter__c</field>
            <value>
                <elementReference>Lookup2.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Search_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Search_Preference_0_0</name>
        <label>Create Search Preference</label>
        <locationX>1497</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Collection_Wipe</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate_Geolocation__Latitude__s</field>
            <value>
                <elementReference>Get_Candidate.MailingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Geolocation__Longitude__s</field>
            <value>
                <elementReference>Get_Candidate.MailingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Search_Paramater3_0.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Search_Parameter__c</field>
            <value>
                <elementReference>Get_Search_Paramater3_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Search_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Preference_0</name>
        <label>Delete Preference</label>
        <locationX>726</locationX>
        <locationY>1433</locationY>
        <connector>
            <targetReference>Collection_Wipe_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Delete_Get_0.Id</elementReference>
            </value>
        </filters>
        <object>Search_Preference__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Delete_Get_0</name>
        <label>Delete Get</label>
        <locationX>988</locationX>
        <locationY>1381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Preference_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>JobFlex.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>501</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_candidate_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_candidate_user</name>
        <label>Get candidate user</label>
        <locationX>619</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Search_Preferences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency</name>
        <label>Get Competency</label>
        <locationX>614</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competency_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paramaters</name>
        <label>Get Paramater</label>
        <locationX>1528</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Paramater_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>PreferenceList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Data_Category_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Data_Category_Loop</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ParamaterID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Search_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Search_Paramater3</name>
        <label>Get Search Paramater3</label>
        <locationX>1283</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Search_Preference_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup2.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Search_Paramater3_0</name>
        <label>Get Search Paramater3</label>
        <locationX>1599</locationX>
        <locationY>1177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Search_Preference_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecommendedCard.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Search_Parameter2</name>
        <label>Get Search Parameter</label>
        <locationX>260</locationX>
        <locationY>654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parameter_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Competency_Loop.sirenum__TicketType__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Parameter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Search_Preferences</name>
        <label>Get Search Preferences</label>
        <locationX>766</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PreferenceLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Search_Preference__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Preference_Screen_0</name>
        <label>Preference Screen</label>
        <locationX>1132</locationX>
        <locationY>896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Decision</targetReference>
        </connector>
        <fields>
            <name>GoBack</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cxvxvxc</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-size: 28px;&quot;&gt;Manually Add Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lookup2</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Search_Parameter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Sub_Type__c = &apos;Job Category&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Sector__C</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeHolder</name>
                <value>
                    <stringValue>Type the name of the job eg. Chef, Driver, Cleaner etc.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>withSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showFiveRecent</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Use the box below to search for and add a Job Preference:</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfbbdf</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddButton</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add Job Preference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Preference_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preference_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(102, 102, 102);&quot;&gt;Recommended Preferences&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Below are some recommended jobs based on your current preferences.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;﻿&lt;/em&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;﻿&lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;(Tap on any of the records below to add)&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RecommendedCard</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Search_Parameter__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:fsc_flexcardFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectAPIName</name>
                        <value>
                            <stringValue>Search_Parameter__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Sector&quot;,&quot;name&quot;:&quot;Sector__c&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;hidden&quot;:false}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>records</name>
                        <value>
                            <elementReference>Recomended</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cardSizeString</name>
                        <value>
                            <numberValue>174.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>icon</name>
                        <value>
                            <stringValue>standard:job_profile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isClickable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isClickable</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiSelect</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>transitionOnClick</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_transitionOnClick</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecommendedCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Preference_Screen_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Preference_Screen_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JobPreferences</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-size: 28px; background-color: rgb(255, 255, 255);&quot;&gt;My Current Job Preferences&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;These are your current Job Preferences.&lt;/em&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;﻿&lt;/span&gt;&lt;em style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;(Tap on any of the records below to delete)&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>JobFlex</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Search_Preference__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:fsc_flexcardFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectAPIName</name>
                        <value>
                            <stringValue>Search_Preference__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Sector&quot;,&quot;name&quot;:&quot;Sector__c&quot;,&quot;type&quot;:&quot;STRING&quot;,&quot;hidden&quot;:false}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>records</name>
                        <value>
                            <elementReference>JobCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cardSizeString</name>
                        <value>
                            <numberValue>174.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>icon</name>
                        <value>
                            <stringValue>standard:job_profile</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isClickable</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isClickable</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiSelect</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>transitionOnClick</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_transitionOnClick</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>JobCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>303</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ActionURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/candidate/s/preferencedelete?ID={!PreferenceLoop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;b&gt;Click to Delete&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DataCategoryText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!PreferenceLoop.Search_Parameter__r.Data_Category__c}</text>
    </textTemplates>
    <variables>
        <name>Blank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataGroups</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Eight</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Eleven</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Five</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Four</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JobCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>JobCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationPreferenceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>Nine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NoJob</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParamaterID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreferenceCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>PreferenceList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recomended</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Parameter__c</objectType>
    </variables>
    <variables>
        <name>RecommendedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Search_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>SearchPreference</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>SearchPreferenceSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Search_Preference__c</objectType>
    </variables>
    <variables>
        <name>Seven</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Six</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Ten</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Three</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TimeLabel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Twelve</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Two</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
