Frankbelford/FBv1/force-app/main/default/flows/Candidate_Portal_Shift_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel2</name>
        <label>Cancel</label>
        <locationX>1649</locationX>
        <locationY>1036</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Shift cancelled successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm</name>
        <label>Confirm</label>
        <locationX>1342</locationX>
        <locationY>1301</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Shift confirmed successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0</name>
        <label>Confirm</label>
        <locationX>972</locationX>
        <locationY>1226</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Break added successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0_0</name>
        <label>Confirm</label>
        <locationX>1535</locationX>
        <locationY>479</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Break deleted successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0_0_0</name>
        <label>Confirm</label>
        <locationX>550</locationX>
        <locationY>1335</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>All shifts confirmed successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0_0_0_0_0</name>
        <label>Confirm</label>
        <locationX>1925</locationX>
        <locationY>434</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Shift Edited Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0_0_0_0_0_0</name>
        <label>Confirm</label>
        <locationX>50</locationX>
        <locationY>1038</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Shift Created Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Confirm_0_0_0_0_0_0_0</name>
        <label>Confirm</label>
        <locationX>1775</locationX>
        <locationY>134</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Your preferences have been saved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_Cancellation</name>
        <label>Email Cancellation</label>
        <locationX>1630</locationX>
        <locationY>819</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cancel2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>CancelledBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>SiteEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>CancelSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error</name>
        <label>Error</label>
        <locationX>1038</locationX>
        <locationY>1463</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>An error has occurred, please get in touch with your consultant</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Break_Assignment</name>
        <label>Break Assignment</label>
        <locationX>848</locationX>
        <locationY>1182</locationY>
        <assignmentItems>
            <assignToReference>BreakFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Break_Assignment_0</name>
        <label>Break Assignment</label>
        <locationX>980</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>Break_Loop.DeleteURL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeleteURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Break_Collection</name>
        <label>Break Collection</label>
        <locationX>731</locationX>
        <locationY>1161</locationY>
        <assignmentItems>
            <assignToReference>BreakCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Break_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Break_Def_Assign</name>
        <label>Break Def Assign</label>
        <locationX>801</locationX>
        <locationY>868</locationY>
        <assignmentItems>
            <assignToReference>BreakDef</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Confirm_All_Assignment</name>
        <label>Confirm All Assignment</label>
        <locationX>687</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>ShiftConfirmAll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Shift_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Job_Collection_Assignment</name>
        <label>Job Collection Assignment</label>
        <locationX>354</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>JobList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Shift_Loop2.sirenum__Team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Job_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Shift_Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shift_Collection_Assingnment</name>
        <label>Shift Collection Assingnment</label>
        <locationX>509</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>ShiftText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Loop.sirenum__Actual_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shift_Loop.sirenum__Scheduled_Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Loop.sirenum__Actual_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shift_Loop.sirenum__Scheduled_End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Loop.IP_CandidateApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_All_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Site_Collection_Assignment</name>
        <label>Site Collection Assignment</label>
        <locationX>684</locationX>
        <locationY>110</locationY>
        <assignmentItems>
            <assignToReference>SiteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>All_Shift_Loop.sirenum__Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Shift_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Decision</name>
        <label>Action Decision</label>
        <locationX>1079</locationX>
        <locationY>714</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BreakDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Break</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Breaks</targetReference>
            </connector>
            <label>BreakDeleted</label>
        </rules>
        <rules>
            <name>Shift_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Screen</targetReference>
            </connector>
            <label>Shift Confirmation</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Screen</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Settings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Screen_0</targetReference>
            </connector>
            <label>Settings</label>
        </rules>
        <rules>
            <name>ConfirmAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ConfirmAll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shifts</targetReference>
            </connector>
            <label>ConfirmAll</label>
        </rules>
        <rules>
            <name>Breaks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Breaks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Breaks</targetReference>
            </connector>
            <label>Breaks</label>
        </rules>
        <rules>
            <name>Break_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BreakDelete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Break</targetReference>
            </connector>
            <label>Break Delete</label>
        </rules>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Screen</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>AddNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddNew</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Shifts</targetReference>
            </connector>
            <label>AddNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Break_Def_Decision</name>
        <label>Break Def Decision</label>
        <locationX>956</locationX>
        <locationY>934</locationY>
        <defaultConnector>
            <targetReference>Break_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Break_Def_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Break_Def</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Break_Def_Assign</targetReference>
            </connector>
            <label>Break Def Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Break_Def_Decision_0</name>
        <label>Break Def Decision</label>
        <locationX>921</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Break_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Break_Def_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Break_Def</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Break_Assignment_0</targetReference>
            </connector>
            <label>No Break Def Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_Checking</name>
        <label>Field Checking</label>
        <locationX>815</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Get_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_Already_in_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>All_Shift_Loop.sirenum__Site__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Shift_Loop</targetReference>
            </connector>
            <label>Site Already in List</label>
        </rules>
        <rules>
            <name>Site_Not_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Shift_Loop.sirenum__Site__r.Candidate_Shift_Creation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Shift_Loop</targetReference>
            </connector>
            <label>Site Not Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_Checking_0</name>
        <label>Field Checking</label>
        <locationX>444</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Already_in_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>All_Shift_Loop2.sirenum__Team__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Shift_Loop2</targetReference>
            </connector>
            <label>Job Already in List</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Confirmation_Decision</name>
        <label>Shift Confirmation Decision</label>
        <locationX>1132</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Update_Shift_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hours_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hours_Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift</targetReference>
            </connector>
            <label>Hours Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Collection_Blank</name>
        <label>Site Collection Blank</label>
        <locationX>497</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Add_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Sites_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Screen_0_0_0</targetReference>
            </connector>
            <label>No Sites Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>BreakStart</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_Shift.sirenum__Scheduled_End_Time__c}-(({!Break_Length_Mins}/60)/24)</expression>
    </formulas>
    <formulas>
        <name>Todayminus100</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 100</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 30</expression>
    </formulas>
    <formulas>
        <name>URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Candidate Portal - Shift Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate Portal - Shift Action</label>
    <loops>
        <name>All_Shift_Loop</name>
        <label>All Shift Loop</label>
        <locationX>636</locationX>
        <locationY>374</locationY>
        <collectionReference>Get_All_Shifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Field_Checking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Site_Collection_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>All_Shift_Loop2</name>
        <label>All Shift Loop</label>
        <locationX>124</locationX>
        <locationY>419</locationY>
        <collectionReference>Get_All_Shifts2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Field_Checking_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Screen_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Break_Loop</name>
        <label>Break Loop</label>
        <locationX>811</locationX>
        <locationY>1019</locationY>
        <collectionReference>Get_Breaks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Break_Def_Decision_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Break_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Shift_Loop</name>
        <label>Shift Loop</label>
        <locationX>675</locationX>
        <locationY>812</locationY>
        <collectionReference>Get_Shifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shift_Collection_Assingnment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConfirmAllScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Break</name>
        <label>Create Break</label>
        <locationX>653</locationX>
        <locationY>1255</locationY>
        <connector>
            <targetReference>Confirm_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>sirenum__End_Time__c</field>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Paid_Break__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Shift__c</field>
            <value>
                <elementReference>ShiftID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start_Time__c</field>
            <value>
                <elementReference>BreakStart</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift_Break__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shift</name>
        <label>Create Shift</label>
        <locationX>140</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>Confirm_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>sirenum__Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Published__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Scheduled_End_Time__c</field>
            <value>
                <elementReference>When_did_the_shift_end</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Scheduled_Start_Time__c</field>
            <value>
                <elementReference>When_did_the_shift_start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Site__c</field>
            <value>
                <elementReference>SelectedSite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Team__c</field>
            <value>
                <elementReference>SelectedJob.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Break</name>
        <label>Delete Break</label>
        <locationX>1517</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Confirm_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BreakID</elementReference>
            </value>
        </filters>
        <object>sirenum__Shift_Break__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Shifts</name>
        <label>Get All Shifts</label>
        <locationX>795</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Shift_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Shifts2</name>
        <label>Get All Shifts2</label>
        <locationX>324</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Shift_Loop2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedSite.sirenum__Operating_Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Break_Def</name>
        <label>Get Break Def</label>
        <locationX>917</locationX>
        <locationY>804</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Break_Def_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Break_definition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Breaks</name>
        <label>Get Breaks</label>
        <locationX>1018</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Break_Def</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Break__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Role</name>
        <label>Get Job Role</label>
        <locationX>510</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Collection_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Shift_Loop2.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift</name>
        <label>Get Shift</label>
        <locationX>1013</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shifts</name>
        <label>Get Shifts</label>
        <locationX>825</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Scheduled_Start_Time__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>Todayminus100</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Scheduled_Start_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TodayPlus30</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Scheduled_End_Time__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Timesheet_summaries__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Allow_pay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Allow_charge__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_CandidateApproved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <sortField>sirenum__Scheduled_Start_Time__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>842</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Collection_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Shift_Loop.sirenum__Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Edit_Shift</name>
        <label>Edit Shift</label>
        <locationX>1580</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Confirm_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sirenum__Actual_End_Time__c</field>
            <value>
                <elementReference>Edited_End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_Start_Time__c</field>
            <value>
                <elementReference>Edited_Start</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift</name>
        <label>Update Shift</label>
        <locationX>1141</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_CandidateApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_End_Time__c</field>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_Start_Time__c</field>
            <value>
                <elementReference>Get_Shift.sirenum__Scheduled_Start_Time__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_0</name>
        <label>Update Shift</label>
        <locationX>1358</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>Confirm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_CandidateApproved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_End_Time__c</field>
            <value>
                <elementReference>Actual_End_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Actual_Start_Time__c</field>
            <value>
                <elementReference>Actual_Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_0_0</name>
        <label>Update Shift</label>
        <locationX>1513</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Email_Cancellation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_CancellationTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__CancellationReason__c</field>
            <value>
                <stringValue>Cancelled by Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Cancelled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Published__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Shift__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shifts</name>
        <label>Update Shifts</label>
        <locationX>334</locationX>
        <locationY>1167</locationY>
        <connector>
            <targetReference>Confirm_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>ShiftConfirmAll</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>1590</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Confirm_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Future_Shifts__c</field>
            <value>
                <elementReference>FutureShifts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Shifts__c</field>
            <value>
                <elementReference>PreviousShifts</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Screen</name>
        <label>Add Screen</label>
        <locationX>347</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Screen_0</targetReference>
        </connector>
        <fields>
            <name>Back_Button_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Create New Shift&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When_did_the_shift_start</name>
            <dataType>DateTime</dataType>
            <fieldText>When did the shift start?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You cannot create a shift for more than 2 weeks in the past&lt;/p&gt;</errorMessage>
                <formulaExpression>({!$Flow.CurrentDateTime} -{!When_did_the_shift_start})&lt;14</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>When_did_the_shift_end</name>
            <dataType>DateTime</dataType>
            <fieldText>When did the shift end?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Shift End must be ahead of the Shift Start time and be under 24 hours in length&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(({!When_did_the_shift_end} - {!When_did_the_shift_start})&gt;0,
({!When_did_the_shift_end} - {!When_did_the_shift_start})&lt;1)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Next1</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Screen_0</name>
        <label>Add Screen</label>
        <locationX>210</locationX>
        <locationY>564</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Shifts2</targetReference>
        </connector>
        <fields>
            <name>Back_Button_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SiteTable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Site__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SiteCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Location Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Which location did you work at?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedSite</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Next12</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Screen_0_0</name>
        <label>Add Screen</label>
        <locationX>64</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Shift</targetReference>
        </connector>
        <fields>
            <name>Back_Button_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 24px;&quot;&gt;Create New Shift&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>JobRoleTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Team__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>JobCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Which Job where you doing?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedJob</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ConfirmationButton_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Save Shift</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Add_Screen_0_0_0</name>
        <label>Add Screen</label>
        <locationX>400</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Back_Button_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Create New Shift&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;There are no available locations for you to create shifts against, please get in touch with your branch to get any missing hours added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Auto_Navigate</name>
        <label>Auto Navigate</label>
        <locationX>1696</locationX>
        <locationY>1325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Moveon</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/myshifts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auto_Navigate_0</name>
        <label>Auto Navigate</label>
        <locationX>1757</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Moveon_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>HomeURL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Break_Screen</name>
        <label>Break Screen</label>
        <locationX>655</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Break_Screen_0</targetReference>
        </connector>
        <fields>
            <name>GoBack5</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BreaksText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Shift Breaks&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Time: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Scheduled_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Shift.Account__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoBreaks</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;No breaks found!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BreakFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CurrentBreak</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(102, 102, 102);&quot;&gt;Current Breaks&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BreakFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BreakTable</name>
            <extensionName>c:Breaks</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>Breaks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sirenum__Shift_Break__cList</name>
                <value>
                    <elementReference>BreakCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BreakFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BreakdefText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Breaks are centrally managed and cannot be added to this shift&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BreakDef</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddBreak</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add Break</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BreakDef</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Break_Screen_0</name>
        <label>Break Screen</label>
        <locationX>597</locationX>
        <locationY>1096</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Break</targetReference>
        </connector>
        <fields>
            <name>GoBack5_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>back</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BreaksText_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Shift Breaks&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Scheduled Date: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Scheduled Time: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Scheduled_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Shift.Account__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Add Break&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Break_Length_Mins</name>
            <dataType>Number</dataType>
            <fieldText>Break Length (Mins)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>SaveBreak</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Save Break</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/myshifts</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancellation_Screen</name>
        <label>Cancellation Screen</label>
        <locationX>1332</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shift_0_0</targetReference>
        </connector>
        <fields>
            <name>BackButton2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 24px;&quot;&gt;Shift Cancellation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Time: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Scheduled_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Shift.Account__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(199, 0, 0);&quot;&gt;&lt;u&gt;Important!&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;This action will remove the shift permanently with no option to undo&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Cancel Shift</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Screen</name>
        <label>Confirm Screen</label>
        <locationX>1136</locationX>
        <locationY>893</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Shift_Confirmation_Decision</targetReference>
        </connector>
        <fields>
            <name>Back_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Shift Confirmation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Scheduled Date: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Scheduled Time: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Scheduled_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Shift.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Shift.Account__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hours_Confirmation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do the times above match what you have worked?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Actual_Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Shift.sirenum__Scheduled_Start_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Hours_Confirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Actual_End_Date_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Shift.sirenum__Scheduled_End_Time__c</elementReference>
            </defaultValue>
            <fieldText>Actual End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Hours_Confirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmationButton</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Confirm Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmAllScreen</name>
        <label>ConfirmAllScreen</label>
        <locationX>467</locationX>
        <locationY>901</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Shifts</targetReference>
        </connector>
        <fields>
            <name>GoBack34</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AllShifts</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 24px;&quot;&gt;Confirm All&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Details on shifts to be confirmed:&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!ShiftText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmAllButton</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Confirm All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Screen</name>
        <label>Edit Screen</label>
        <locationX>1361</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Edit_Shift</targetReference>
        </connector>
        <fields>
            <name>Back_Button_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 24px;&quot;&gt;Edit Confirmed Hours&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Get_Shift.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Shift.Account__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edited_Start</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Shift.sirenum__Actual_Start_Time__c</elementReference>
            </defaultValue>
            <fieldText>Confirmed Start Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Edited_End</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Shift.sirenum__Actual_End_Time__c</elementReference>
            </defaultValue>
            <fieldText>Confirmed End Date/Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationButton_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Save Changes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Edit_Screen_0</name>
        <label>Edit Screen</label>
        <locationX>1354</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
        <fields>
            <name>Back_Button_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>MyShifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ShiftDetails_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;My Shift Preferences&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PreviousShifts</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>$User.Previous_Shifts__c</elementReference>
            </defaultValue>
            <fieldText>How many days in the past do you want to see shifts for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FutureShifts</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>$User.Future_Shifts__c</elementReference>
            </defaultValue>
            <fieldText>How many days in the future do you want to see shifts for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ConfirmationButton_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Save Changes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>945</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Get_Shift</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CancelledBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hi {!Get_Site.Owner:User.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The following shift has been cancelled by the candidate:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Candidate Name: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Shift.sirenum__Contact__r.FirstName} {!Get_Shift.sirenum__Contact__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Site: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Shift.sirenum__Site__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Job Role:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Get_Shift.sirenum__Team__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Start Date: &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Shift.sirenum__Scheduled_Start_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;End Date:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Get_Shift.sirenum__Scheduled_End_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind Regards&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CancelSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Shift.sirenum__Contact__r.FirstName} {!Get_Shift.sirenum__Contact__r.LastName} - {!Get_Shift.IP_Account__r.Name} - Cancelled shift by candidate</text>
    </textTemplates>
    <textTemplates>
        <name>DeleteURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!URL}s/shiftaction?ShiftID={!ShiftID}&amp;amp;Action=BreakDelete&amp;amp;BreakID={!Break_Loop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot; style=&quot;color: rgb(218, 0, 0); font-size: 12px;&quot;&gt;Delete&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HomeURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>/shiftaction?ShiftID={!Get_Shift.Id}&amp;Action=Breaks</text>
    </textTemplates>
    <textTemplates>
        <name>LoopText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Shift_Loop.Start_Date_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Scheduled Time: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;{!Shift_Loop.Scheduled_Time__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Total Break (Mins):&lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt; {!Shift_Loop.Break_from_Brekdef__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Job: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Shift_Loop.Job_Category_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/b&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;{!Shift_Loop.Account__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BreakCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Break__c</objectType>
    </variables>
    <variables>
        <name>BreakDef</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BreakFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BreakID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JobCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sirenum__Team__c</objectType>
    </variables>
    <variables>
        <name>JobList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyShifts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/myshifts</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sirenum__Team__c</objectType>
    </variables>
    <variables>
        <name>SelectedSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sirenum__Site__c</objectType>
    </variables>
    <variables>
        <name>ShiftConfirmAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <name>ShiftID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShiftText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>sirenum__Site__c</objectType>
    </variables>
    <variables>
        <name>SiteEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Shift.sirenum__Site__r.Owner:User.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>SiteList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
