Frankbelford/FBv1/force-app/main/default/flows/Einstein_Bot_Get_Next_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Shift_Output</name>
        <label>Assign Shift Output</label>
        <locationX>1025</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>Returned_Shift_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Scheduled_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.Scheduled_Start_Time_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Scheduled_End_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.Scheduled_End_Time_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Scheduled_Shift_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.Scheduled_Start_Date_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Job_Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Team__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Address_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.sirenum__Street_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Address_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.sirenum__City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Address_County</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.sirenum__County__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_Address_Postcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.sirenum__Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Direction_To_Site</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Directions_to_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Site_General_instructions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_Shift.sirenum__Site__r.sirenum__Travel_Instructions__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Shift_Date_to_Today</name>
        <label>Set Shift Date to Today</label>
        <locationX>1190</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>Shift_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Shift_Date_empty</name>
        <label>Shift Date empty?</label>
        <locationX>1017</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shift_Date</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Shift_Date_to_Today</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shift_Date</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shift_Found</name>
        <label>Shift Found?</label>
        <locationX>1016</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Shift.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Shift_Output</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Next_Shift.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Get candidate&apos;s next shift.</description>
    <environments>Default</environments>
    <interviewLabel>Einstein Bot - Get Next Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Bot - Get Next Shift</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>1023</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Next_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_Shift</name>
        <label>Get Next Shift</label>
        <locationX>1022</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Shift_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <sortField>sirenum__Shift_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>887</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Shift_Date_empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Direction_To_Site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Job_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Returned_Shift_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scheduled_End_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scheduled_Shift_Date</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Scheduled_Start_Time</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Shift_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>Site</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Site_Address_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Site_Address_County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Site_Address_Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Site_Address_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Site_General_instructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
