Frankbelford/FBv1/force-app/main/default/flows/Job_Offer_Accept_timestamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Accept_TimeStamp</name>
        <label>Assign Accept TimeStamp</label>
        <locationX>1522</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>varAcceptTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sirenum__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Job_Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AcceptTimestamp</name>
        <label>Assign Timestamp</label>
        <locationX>1816</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>varAcceptTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sirenum__Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Shifts_of_Same_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Failed_Status_for_Overlapping_Shifts</name>
        <label>Assign Failed Status for Overlapping Shifts</label>
        <locationX>688</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>$Record.sirenum__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.sirenum__Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accept_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAcceptTimeStamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RejectionReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joRejectionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RejectionComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>joRejectionComments</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Is_Previously_Worked</name>
        <label>Assign Is Previously Worked</label>
        <locationX>482</locationX>
        <locationY>823</locationY>
        <assignmentItems>
            <assignToReference>$Record.IsPreviouslyWorked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Other_Job_Offers_Of_the_Same_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JO_Overlapping_Variables</name>
        <label>Assign JO Overlapping Variables</label>
        <locationX>950</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>joStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joRejectionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working Elsewhere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joRejectionComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are already working elsewhere at that time.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This candidate has an overlapping shift.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcceptTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Job_Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Offer_Overlapping_Variables</name>
        <label>Assign Job Offer Overlapping Variables</label>
        <locationX>1700</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>joStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joRejectionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working Elsewhere</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joRejectionComments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You are already working elsewhere at that time.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>joLog</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This candidate has an overlapping shift.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcceptTimeStamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Other_Shifts_of_Same_Candidate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Criteria</name>
        <label>Check Criteria</label>
        <locationX>1179</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>Assign_Accept_TimeStamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Working_Somewhere_Else</name>
            <conditionLogic>7 AND 8 AND 9 AND 10 AND ((1 AND 2) OR (NOT(3 AND 4) AND (NOT(5 AND 6))))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_Start_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_End_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_Start_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_End_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_Start_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Scheduled_End_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.sirenum__Shift__r.sirenum__Shift_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Shift_Details.sirenum__Shift_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Job_Offers.sirenum__Shift__r.sirenum__Cancelled__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_JO_Overlapping_Variables</targetReference>
            </connector>
            <label>Is Working Somewhere Else</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Overlapping_Criteria</name>
        <label>Check Overlapping Criteria</label>
        <locationX>1928</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Assign_AcceptTimestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Overlap_Shift_Exists</name>
            <conditionLogic>1 AND 8 AND ((2 AND 3) OR (NOT(4 AND 5) AND (NOT(6 AND 7))))</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_Start_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_End_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_Start_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_Start_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_End_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_Start_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Other_Shifts_of_Same_Candidate.sirenum__Scheduled_End_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Scheduled_End_Time__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Offer_Overlapping_Variables</targetReference>
            </connector>
            <label>Is Overlap Shift Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Job_Offers_Empty</name>
        <label>Is Job Offers Empty</label>
        <locationX>1386</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Assign_AcceptTimestamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoesOtherShiftsExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Shifts_of_the_Same_Candidate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Other_Shifts_of_Same_Candidate</targetReference>
            </connector>
            <label>Are Other Shifts Exists</label>
        </rules>
        <rules>
            <name>IsJobOffersExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Job_Offers_Of_the_Same_Candidate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Job_Offers</targetReference>
            </connector>
            <label>Is Job Offers Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Previously_Worked</name>
        <label>Is Previously Worked</label>
        <locationX>646</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Job_Offers_Of_the_Same_Candidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPreviouslyWorked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Timesheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Is_Previously_Worked</targetReference>
            </connector>
            <label>Is Previously Worked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job Offer - Accept timestamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Offer - Accept timestamp</label>
    <loops>
        <name>Loop_Job_Offers</name>
        <label>Loop Job Offers</label>
        <locationX>684</locationX>
        <locationY>860</locationY>
        <collectionReference>Get_Other_Job_Offers_Of_the_Same_Candidate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Criteria</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Failed_Status_for_Overlapping_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Other_Shifts_of_Same_Candidate</name>
        <label>Loop Other Shifts of Same Candidate</label>
        <locationX>1465</locationX>
        <locationY>577</locationY>
        <collectionReference>Get_Other_Shifts_of_the_Same_Candidate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Overlapping_Criteria</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Failed_Status_for_Overlapping_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Job_Offers_Of_the_Same_Candidate</name>
        <label>Get Other Job Offers Of the Same Candidate</label>
        <locationX>874</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Shifts_of_the_Same_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Details.sirenum__Shift_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Shifts_of_the_Same_Candidate</name>
        <label>Get Other Shifts of the Same Candidate</label>
        <locationX>977</locationX>
        <locationY>673</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Job_Offers_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shift_Details.sirenum__Shift_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Cancelled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Shift_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Timesheets</name>
        <label>Get Related Timesheets</label>
        <locationX>603</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shift_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Shift__r.sirenum__Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Worker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Shift__r.sirenum__Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shift_Details</name>
        <label>Get Shift Details</label>
        <locationX>330</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Previously_Worked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Shift__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_Timesheets</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>sirenum__Shift_Invitation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>joLog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>joRejectionComments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>joRejectionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>joStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcceptTimeStamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
