Frankbelford/FBv1/force-app/main/default/flows/Job_Order_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Adding_Shifts_Record_To_Collection</name>
        <label>Adding Shifts Record To Collection</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ShiftsRecordCollectiontoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShiftRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Shifts_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shift_Record_Value_Update</name>
        <label>Shift Record Value Update</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ShiftRecord.sirenum__Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShiftRecord.sirenum__CancellationReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sirenum__CancellationReason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShiftRecord.Supplementary_Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Supplementary_Cancellation_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShiftRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Shifts_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Shifts_Record_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Collection_Not_blank</name>
        <label>Checking Collection Not blank</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShiftsRecordCollectiontoUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_Shifts_Records</targetReference>
            </connector>
            <label>If not blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job Order Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Order Cancellation</label>
    <loops>
        <name>Loop_Over_Shifts_Records</name>
        <label>Loop Over Shifts Records</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_all_associated_shifts_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shift_Record_Value_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Collection_Not_blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_associated_shifts_records</name>
        <label>Get all associated shifts records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Shifts_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__JobOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124J000000UrHTQA0</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Shifts_Records</name>
        <label>Update All Shifts Records</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>ShiftsRecordCollectiontoUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_associated_shifts_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>sirenum__JobOrder__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ShiftRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <name>ShiftsRecordCollectiontoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
</Flow>
