Frankbelford/FBv1/force-app/main/default/flows/National_Account_New_Job_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirection_Message</name>
        <label>Redirection Message</label>
        <locationX>1514</locationX>
        <locationY>544</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Navigate_to_Rate_Card</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>You will now be redirected to Rate Card </stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Branch_Email</name>
        <label>Send Branch Email</label>
        <locationX>1369</locationX>
        <locationY>545</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Redirection_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>User_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>ACTION REQUIRED - New National Account Job Role Request Submitted</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Staging_Record_ID</name>
        <label>Assign Staging Record ID</label>
        <locationX>1260</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>Staging_Record_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Branch_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rate_Card_URL_Assignment</name>
        <label>Genarate Rate Card URL</label>
        <locationX>919</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>Rate_Card_URL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Rate_Card_URL}{!Create_Rate_Card}/view</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Staging_with_Rate_Card_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Overtime_Threshold</name>
        <label>Update Overtime Threshold</label>
        <locationX>1026</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>Get_Rate_Card_Page.sirenum__Daily_Overtime_Treshold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.5</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Rate_Card_Page.sirenum__Weekly_Overtime_Treshold__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>37.5</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Rate_Card_Page.sirenum__Valid_From_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2023-04-01</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Rate_Card_Page.sirenum__Valid_Until_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2024-03-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Rate_Card_Page.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Rate_Card_Page</targetReference>
        </connector>
    </assignments>
    <description>PT1-1343 Updated Rate Card default start/end date</description>
    <dynamicChoiceSets>
        <name>Competency_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DBS_Check__c</picklistField>
        <picklistObject>Staging_National_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Severity_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Severity__c</picklistField>
        <picklistObject>Staging_National_Account__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Flow_Error_Truncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Flow.FaultMessage}, 254)</expression>
    </formulas>
    <formulas>
        <name>Job_Role_Name_Final_Truncated</name>
        <dataType>String</dataType>
        <expression>LEFT({!Job_Role_Name_Final}, 80)</expression>
    </formulas>
    <formulas>
        <name>Job_Role_Name_Generated</name>
        <dataType>String</dataType>
        <expression>LEFT(({!Get_Site_Name.Name}+&quot; - &quot;+{!Get_Job_Category_Name.Name}), 80)</expression>
    </formulas>
    <interviewLabel>National Account New Job Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>National Account New Job Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rate_Card</name>
        <label>Create Rate Card</label>
        <locationX>680</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Create_Rate_Card_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IP_AcountLinkCustom__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Job_Role_Name_Generated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staging_Job_Role__c</field>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Rate_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Rate_Card_Page</name>
        <label>Create Rate Card Page</label>
        <locationX>797</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Rate_Card_URL_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>default1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Daily_Overtime_Treshold__c</field>
            <value>
                <numberValue>7.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Rate_Card__c</field>
            <value>
                <elementReference>Create_Rate_Card</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__SortOrder__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_From_Date__c</field>
            <value>
                <dateValue>2023-04-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Valid_Until_Date__c</field>
            <value>
                <dateValue>2024-03-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Weekly_Overtime_Treshold__c</field>
            <value>
                <numberValue>37.5</numberValue>
            </value>
        </inputAssignments>
        <object>sirenum__Rate_Card_Page__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Staging_Job_Role</name>
        <label>Create Staging Job Role</label>
        <locationX>239</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Age_18_or_Over__c</field>
            <value>
                <elementReference>Age_18_or_over</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Break_Definition_Name__c</field>
            <value>
                <stringValue>break</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Break_Length__c</field>
            <value>
                <elementReference>Break_Length</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competency__c</field>
            <value>
                <elementReference>DBS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Description__c</field>
            <value>
                <elementReference>JobDesc.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Role__c</field>
            <value>
                <elementReference>Job_Role_Name_Generated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Type__c</field>
            <value>
                <elementReference>Select_Job_Category.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Shift_Length__c</field>
            <value>
                <elementReference>Minimum_Shift_Length_to_Qualify_for_Break</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>Notified_Health_Safety_Risks__c</field>
            <value>
                <elementReference>Notified_Health_Safety_Risks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Competency__c</field>
            <value>
                <elementReference>Other_Competency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Protective_Equipment__c</field>
            <value>
                <elementReference>Personal_Protective_Equipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_AWR__c</field>
            <value>
                <elementReference>Post_AWR_Holiday_Entitlement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_AWR_Holiday_Entitlement__c</field>
            <value>
                <elementReference>Pre_AWR_Holiday_Entitlement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124J000000Usl4QAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sector__c</field>
            <value>
                <elementReference>Select_Ssector.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity__c</field>
            <value>
                <elementReference>Severity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sirenum_Contract__c</field>
            <value>
                <elementReference>Select_Sirenum_Link.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>SiteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Induction__c</field>
            <value>
                <elementReference>Special_Induction</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Job_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Job_Category_Name</name>
        <label>Get Job Category Name</label>
        <locationX>54</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Job_Category.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Job_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Rate_Card_Page</name>
        <label>Get Rate Card Page</label>
        <locationX>918</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Overtime_Threshold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Rate_Card_Page</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Rate_Card_Page__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Name</name>
        <label>Get Site Name</label>
        <locationX>144</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Staging_Job_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Site.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_NA_Bypass_Flag_to_False</name>
        <label>Set NA Bypass Flag to False</label>
        <locationX>1186</locationX>
        <locationY>377</locationY>
        <connector>
            <targetReference>Assign_Staging_Record_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>National_Account_Bypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_NA_Bypass_Flag_to_True</name>
        <label>Set NA Bypass Flag to True</label>
        <locationX>596</locationX>
        <locationY>169</locationY>
        <connector>
            <targetReference>Create_Rate_Card</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>National_Account_Bypass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rate_Card_Page</name>
        <label>Update Rate Card Page</label>
        <locationX>1134</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Set_NA_Bypass_Flag_to_False</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason</targetReference>
        </faultConnector>
        <inputReference>Get_Rate_Card_Page</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staging_with_Error_Reason</name>
        <label>Update Staging with Error Reason</label>
        <locationX>714</locationX>
        <locationY>817</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Flow_Error_Truncated</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Job_Role__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staging_with_Error_Reason_0</name>
        <label>Update Staging with Error Reason</label>
        <locationX>1375</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Flow_Error_Truncated</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Job_Role__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staging_with_Error_Reason_0_0</name>
        <label>Update Staging with Error Reason</label>
        <locationX>241</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Flow_Error_Truncated</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Job_Role__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Staging_with_Rate_Card_ID</name>
        <label>Update Staging with Rate Card ID</label>
        <locationX>795</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Get_Rate_Card_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Staging_with_Error_Reason</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Staging_Job_Role</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Role__c</field>
            <value>
                <elementReference>Job_Role_Name_Final_Truncated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rate_Card__c</field>
            <value>
                <elementReference>Create_Rate_Card</elementReference>
            </value>
        </inputAssignments>
        <object>Staging_Job_Role__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message</label>
        <locationX>237</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Oops...an error has occurred while submitting your request. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Jobscience administrator has been notified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1487</locationX>
        <locationY>798</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirection_Message</targetReference>
        </connector>
        <fields>
            <name>Error_Message_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oops...an error has occurred in the email service. IT has been notified. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;As a temporary workaround solution, please note down the following link to the Staging Job Role, continue to the next page to add rates, and finally use the URL to submit your request.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://blue-arrow.lightning.force.com/builder_platform_interaction/%7B!$Label.System_URL%7D%7B!Create_Staging_Job_Role%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Label.System_URL}{!Create_Staging_Job_Role}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_Rate_Card</name>
        <label>Navigate to Rate Card</label>
        <locationX>1652</locationX>
        <locationY>547</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Navigate_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <elementReference>URL</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Job Role Name Screen</label>
        <locationX>330</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_NA_Bypass_Flag_to_True</targetReference>
        </connector>
        <fields>
            <name>Job_Role_Name_Final</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Job_Role_Name_Generated</elementReference>
            </defaultValue>
            <fieldText>Job Role name (National Account – Site Name – Location – (Site Number or ID if Needed) – Job Role) (Maximum 80 characters.)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Job Role Name is too long. Please reduce to 80 characters.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Job_Role_Name_Final})&lt;=80</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Attachment_Section</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Upload proof of rates&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;If you are providing rates which are not in line with the rate calculator/card you will need to provide an email from the National Account Manager confirming that these rates can be applied. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_Attachment</name>
            <extensionName>qsydApps_AO:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>National Account Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>Create_Staging_Job_Role</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue to Rate Card</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Site</name>
        <label>Enter Job Details</label>
        <locationX>66</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Job_Category_Name</targetReference>
        </connector>
        <fields>
            <name>Job_Role_Section</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Job Role Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Site_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Site_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Selected_Site</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>sirenum__Site__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Site</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>sirenum__Operating_Company__c = &apos;{!recordId}&apos; AND Status__c = &apos;Active&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Selected_Site.selectedRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Job_Category</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>sirenum__Job_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>Brand__c = &apos;Blue Arrow&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryLimit</name>
                        <value>
                            <numberValue>500.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>additionalField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Select_Job_Category.selectedRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>JobDesc</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>characterLimit</name>
                        <value>
                            <numberValue>131072.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Special_Induction</name>
                    <dataType>String</dataType>
                    <fieldText>Special Induction</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Please detail any job specific induction requirements&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pre_AWR_Holiday_Entitlement</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>28.0</numberValue>
                    </defaultValue>
                    <fieldText>Pre AWR Holiday Entitlement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Age_18_or_over</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Age 18 or over</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Site_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Sirenum_Link</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>sirenum__ProActiveContract__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryLimit</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryCondition</name>
                        <value>
                            <stringValue>sirenum__Client__c = &apos;{!recordId}&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sirenum Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Select_Sirenum_Link.selectedRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Ssector</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>sirenum__Rota__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>queryLimit</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sector</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>Select_Ssector.selectedRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Notified_Health_Safety_Risks</name>
                    <dataType>String</dataType>
                    <fieldText>Notified Health &amp; Safety Risks</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Personal_Protective_Equipment</name>
                    <dataType>String</dataType>
                    <fieldText>PPE/Uniform Requirements</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Post_AWR_Holiday_Entitlement</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>28.0</numberValue>
                    </defaultValue>
                    <fieldText>Post AWR Holiday Entitlement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Click_here_to_add_unpaid_break</name>
            <dataType>Boolean</dataType>
            <fieldText>Click here to add unpaid break</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Break_Section_Title</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Unpaid Break Definition Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Click_here_to_add_unpaid_break</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Site_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Site_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Break_Length</name>
                    <dataType>Number</dataType>
                    <fieldText>Break Length (in minutes)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Site_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Minimum_Shift_Length_to_Qualify_for_Break</name>
                    <dataType>Number</dataType>
                    <fieldText>Minimum Shift Length to Qualify for Break</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; color: rgb(0, 0, 0);&quot;&gt;Minimum shift length in hours, e.g. 4.5 means the break only applies to shifts at least 4 and a half hours long&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Click_here_to_add_unpaid_break</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Click_here_to_add_competencies</name>
            <dataType>Boolean</dataType>
            <fieldText>Click here to add DBS competencies at Job Role level</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Competency_Condition</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Competency&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Click_here_to_add_competencies</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Site_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Site_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DBS</name>
                    <choiceReferences>Competency_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>DBS</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Site_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Severity</name>
                    <choiceReferences>Severity_List</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Fatal</stringValue>
                    </defaultValue>
                    <fieldText>Severity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Click_here_to_add_competencies</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Competency</name>
            <dataType>String</dataType>
            <fieldText>Other Competencies</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please specify competency type and severity&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>4</locationY>
        <connector>
            <targetReference>Select_Site</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;New National Account Job Role request created. Once you have added rates, please click on the below to submit your request for approval by the National Account Job Science Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Label.System_URL}{!Create_Staging_Job_Role}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(33, 74, 255);&quot;&gt;{!$Label.System_URL}&lt;/a&gt;&lt;a href=&quot;https://blue-arrow.lightning.force.com/{!Create_Staging_Job_Role}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(33, 74, 255);&quot;&gt;{!Create_Staging_Job_Role}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://blue-arrow.lightning.force.com/lightning/r/sirenum__Rate_Card__c/{!Create_Rate_Card}/view</text>
    </textTemplates>
    <variables>
        <name>Central_Account_Team_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.Central_Account_Team_Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>Document_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Multiple_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Rate_Card_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://blue-arrow.my.salesforce.com/lightning/r/sirenum__Rate_Card__c/</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Staging_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
</Flow>
