Frankbelford/FBv1/force-app/main/default/flows/NHS_S_placement_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1193</locationX>
        <locationY>542</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{url}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>S-Placement Created </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <stringValue>Click here to access S-Placement</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>Splacement_Link</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Candidate_Decision</name>
        <label>Candidate Decision</label>
        <locationX>188</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Pay_Profile_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.IP_WorkerStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate</targetReference>
            </connector>
            <label>Start Date Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pay_Profile_Decision</name>
        <label>Pay Profile Decision</label>
        <locationX>301</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>Get_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Payroll_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_MissingPayrollDetail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Missing Payroll Details</label>
        </rules>
        <rules>
            <name>Pass_to_Tempest_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pay_Profile</targetReference>
            </connector>
            <label>Pass to Tempest False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Decision</name>
        <label>Site Decision</label>
        <locationX>587</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Site_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site.Missing_Site_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_0</targetReference>
            </connector>
            <label>Missing Payroll Details</label>
        </rules>
        <rules>
            <name>Site_Pass_to_Tempest_False</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site.IP_PassClientToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site.IP_PassClientAddressToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Site</targetReference>
            </connector>
            <label>Site Pass to Tempest False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Truncate_S_Placement_Name</name>
        <dataType>String</dataType>
        <expression>LEFT({!Splacement_Name}, 80)</expression>
    </formulas>
    <interviewLabel>NHS - S-placement Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NHS - S-placement Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_S_placement</name>
        <label>Create S-placement</label>
        <locationX>897</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>Update_S_placement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IP_Consultant1LookupSplitShare__c</field>
            <value>
                <elementReference>Get_Site.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PayMethod__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Shift_Details_sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Truncate_S_Placement_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Contact__c</field>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Contract__c</field>
            <value>
                <elementReference>Get_Job_Role.sirenum__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Job_Role__c</field>
            <value>
                <elementReference>Job_Role_Lookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Site__c</field>
            <value>
                <elementReference>Site_Lookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>267</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Candidate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Profile.IP_Candidate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Role</name>
        <label>Get Job Role</label>
        <locationX>691</locationX>
        <locationY>762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_S_placement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Role_Lookup.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Profile</name>
        <label>Get Pay Profile</label>
        <locationX>429</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_PayProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>450</locationX>
        <locationY>707</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site_Lookup.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>53</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Candidate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_WorkerStartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pay_Profile</name>
        <label>Update Pay Profile</label>
        <locationX>552</locationX>
        <locationY>980</locationY>
        <connector>
            <targetReference>Get_Site</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IP_PayProfile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_placement</name>
        <label>Update S-placement</label>
        <locationX>1040</locationX>
        <locationY>780</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_S_placement</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site</name>
        <label>Update Site</label>
        <locationX>792</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Get_Job_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_PassClientAddressToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassClientToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Site__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_1</name>
        <label>Error</label>
        <locationX>990</locationX>
        <locationY>555</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oops...an error has occurred while creating the S-Placement. Please contact IT. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>114</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
        <fields>
            <name>Candidate_Missing</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Problem!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Candidates Pay Profile has missing payroll details so this Candidate cannot be put on Assignment. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Click below to access the candidates pay profile to resolve this issue:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!PayProfile_Link}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_0</name>
        <label>Error Screen</label>
        <locationX>555</locationX>
        <locationY>336</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Site</targetReference>
        </connector>
        <fields>
            <name>Site_Missing</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;Problem!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;The Site you have selected has missing details and is not ready for payroll&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Click below to access the Site to resolve this issue:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Site_Link}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lookup_Screen</name>
        <label>Lookup Screen</label>
        <locationX>284</locationX>
        <locationY>314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;End Date must be after Start Date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Start_Date}&lt;{!End_Date}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Site_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>sirenum__Site__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please choose a Site:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>sirenum__Operating_Company__c = &apos;{!Account_0.selectedRecordId}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>withSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Role_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>sirenum__Team__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Account__c=&apos;{!Account_0.selectedRecordId}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:job_profile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please choose a Job Role</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>withSharing</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lookup_Screen_0</name>
        <label>Lookup Screen</label>
        <locationX>183</locationX>
        <locationY>275</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Lookup_Screen</targetReference>
        </connector>
        <fields>
            <name>Account_0</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please choose a Account:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Name LIKE &apos;Guidant Capita&apos; OR Name LIKE &apos;DHSC01%&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fuzzySearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spacer54</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>136</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Screen_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PayProfile_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/IP_PayProfile__c/{!Get_Pay_Profile.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255);&quot;&gt;https://impellam.lightning.force.com/lightning/r/IP_PayProfile__c/{!Get_Pay_Profile.Id}/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Site_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Site__c/{!Get_Site.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255); background-color: rgb(255, 255, 255);&quot;&gt;https://impellam.lightning.force.com&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Site__c/{!Get_Site.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255);&quot;&gt;/lightning/r/sirenum__Site__c/&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Site__c/{!Get_Site.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Site.Id}&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Site__c/{!Get_Site.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255);&quot;&gt;/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Splacement_Link</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Placement__c/{!Create_S_placement}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(34, 100, 255); background-color: rgb(255, 255, 255);&quot;&gt;https://impellam.lightning.force.co&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Placement__c/{!Create_S_placement}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 88, 255); background-color: rgb(255, 255, 255);&quot;&gt;m&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Placement__c/{!Create_S_placement}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 88, 255);&quot;&gt;/lightning/r/sirenum__Placement__c/&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Placement__c/{!Create_S_placement}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 88, 255); background-color: rgb(255, 255, 255);&quot;&gt;{!Create_S_placement}&lt;/a&gt;&lt;a href=&quot;https://impellam.lightning.force.com/lightning/r/sirenum__Placement__c/{!Create_S_placement}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(65, 88, 255);&quot;&gt;/view&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Splacement_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_Candidate.Name} {!Get_Job_Role.Name}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
