Frankbelford/FBv1/force-app/main/default/flows/Online_Registration_NI_Community_Background.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CathlicCommunity</name>
        <choiceText>&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;I am a member of the Roman Catholic community&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Catholic</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeitherCommunity</name>
        <choiceText>&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 12px;&quot;&gt;I am not a member of either the Protestant or Roman Catholic community&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Either</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProtestantCommunity</name>
        <choiceText>&lt;span style=&quot;font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;I am a member of the Protestant community&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Protestant</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Has candidate completed the NI Fair Employment questionnaire before. If they have, display as read only content. If they haven&apos;t, continue to gather information.</description>
        <name>Fair_Employment_Completed</name>
        <label>Community Background Completed</label>
        <locationX>688</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCertificateRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fair_Employment_Read_Only</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCertificateRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fair_Employment_Monitoring_Questionnaire</targetReference>
            </connector>
            <label>Not Completed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>community_bg_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Community_Background__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationality_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_Nationality__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Online Registration - NI Community Background {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Online Registration - NI Community Background</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a new community background check certificate</description>
        <name>CreateNewCommunityBackgroundCert</name>
        <label>CreateNewCommunityBackgroundCert</label>
        <locationX>1132</locationX>
        <locationY>260</locationY>
        <inputAssignments>
            <field>Community_Background__c</field>
            <value>
                <elementReference>CommunityChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124J000000cuF0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verfied__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Contact__c</field>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get candidate ID</description>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>429</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCertificateRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get candidate&apos;s community background record</description>
        <name>GetCertificateRecord</name>
        <label>GetCertificationRecord</label>
        <locationX>558</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fair_Employment_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124J000000cuF0</stringValue>
            </value>
        </filters>
        <filters>
            <field>ts2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IP_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ts2__Certification__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>We are an Equal Opportunities Employer. We do not unlawfully discriminate against our job applicants or employees and we aim to select the best person for the job.

We monitor the community background and sex of our job applicants and employees in order to demonstrate our commitment to promoting equality of opportunity in employment and to comply with our duties under the Fair Employment &amp; Treatment (NI) Order 1998.

Your answers will be used by us to prepare and submit a monitoring return to the Equality Commission, but your identity will be kept anonymous. In all other regards your answers will be treated with the strictest confidence. We assure you that your answers will not be used by us to make any decisions affecting you, whether in a recruitment exercise or during the course of any employment with us.</description>
        <name>Fair_Employment_Monitoring_Questionnaire</name>
        <label>Fair Employment Monitoring Questionnaire</label>
        <locationX>922</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateNewCommunityBackgroundCert</targetReference>
        </connector>
        <fields>
            <name>Community_Backround</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(9, 67, 228); font-size: 16px;&quot;&gt;Fair Employment Monitoring Questionnaire&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;We are an Equal Opportunities Employer. We do not unlawfully discriminate against our job applicants or employees and we aim to select the best person for the job.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;We monitor the community background and sex of our job applicants and employees in order to demonstrate our commitment to promoting equality of opportunity in employment and to comply with our duties under the &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;&lt;i&gt;Fair Employment &amp;amp; Treatment (NI) Order 1998&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Your answers will be used by us to prepare and submit a monitoring return to the Equality Commission, but your identity will be kept anonymous. In all other regards your answers will be treated with the strictest confidence. We assure you that your answers will not be used by us to make any decisions affecting you, whether in a recruitment exercise or during the course of any employment with us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Community Background:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Regardless of whether they actually practice a religion, most people in Northern Ireland are perceived to be members of either the Protestant or Roman Catholic communities.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Please indicate the community to which you belong by ticking the appropriate box below:&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CommunityChoice</name>
            <choiceReferences>ProtestantCommunity</choiceReferences>
            <choiceReferences>CathlicCommunity</choiceReferences>
            <choiceReferences>NeitherCommunity</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Fair Employment Monitoring Questionnaire

We are an Equal Opportunities Employer. We do not unlawfully discriminate against our job applicants or employees and we aim to select the best person for the job.



We monitor the community background and sex of our job applicants and employees in order to demonstrate our commitment to promoting equality of opportunity in employment and to comply with our duties under the Fair Employment &amp; Treatment (NI) Order 1998.



Your answers will be used by us to prepare and submit a monitoring return to the Equality Commission, but your identity will be kept anonymous. In all other regards your answers will be treated with the strictest confidence. We assure you that your answers will not be used by us to make any decisions affecting you, whether in a recruitment exercise or during the course of any employment with us.



Community Background:

Regardless of whether they actually practice a religion, most people in Northern Ireland are perceived to be members of either the Protestant or Roman Catholic communities.



Please indicate the community to which you belong by ticking the appropriate box below:</description>
        <name>Fair_Employment_Read_Only</name>
        <label>Fair Employment Read Only</label>
        <locationX>929</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FairEmploymentQuestionnaireReadOnly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(13, 78, 231);&quot;&gt;Fair Employment Monitoring Questionnaire&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;We are an Equal Opportunities Employer. We do not unlawfully discriminate against our job applicants or employees and we aim to select the best person for the job.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;We monitor the community background and sex of our job applicants and employees in order to demonstrate our commitment to promoting equality of opportunity in employment and to comply with our duties under the &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;&lt;i&gt;Fair Employment &amp;amp; Treatment (NI) Order 1998&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Your answers will be used by us to prepare and submit a monitoring return to the Equality Commission, but your identity will be kept anonymous. In all other regards your answers will be treated with the strictest confidence. We assure you that your answers will not be used by us to make any decisions affecting you, whether in a recruitment exercise or during the course of any employment with us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Community Background:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Regardless of whether they actually practice a religion, most people in Northern Ireland are perceived to be members of either the Protestant or Roman Catholic communities.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Please indicate the community to which you belong by ticking the appropriate box below:&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;font-size: 14px; color: rgb(13, 78, 231);&quot;&gt;{!GetCertificateRecord.Community_Background__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>153</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>picklist choices</description>
        <name>testvar2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variabletest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
