Frankbelford/FBv1/force-app/main/default/flows/Online_Registration_WTR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Agreement</name>
        <choiceText>I agree</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>WTR_Agreement</name>
        <choiceText>I wish to waive the restriction of the 48 hour working week, this will allow me to work more than 48 hours per week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>WTR_Non_Agreement</name>
        <choiceText>I do not wish to waive the restriction of the 48 hour working week, this will restrict my working week to a maximum of 48 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <decisions>
        <name>WTR_Opt_out_Outcome</name>
        <label>WTR Opt out Outcome</label>
        <locationX>836</locationX>
        <locationY>559</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTR_Opted_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WTR_RadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WTR_Non_Agreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_0_0_0_0_0</targetReference>
            </connector>
            <label>WTR Opted out</label>
        </rules>
        <rules>
            <name>WTR_Opted_in</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WTR_RadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WTR_Agreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_WTR</targetReference>
            </connector>
            <label>WTR Opted in</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Citizenship_Group_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Citizenship_group__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnic_Origin__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EU_ID_Types_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_Type__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationality_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_Nationality__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NI_SET</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>National_Insurance_Proof_Type__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UK_Identification_Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_for_a_UK_citizen__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Visa_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VISA_Type__c</picklistField>
        <picklistObject>ts2__Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Yes_No_Question__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Online Regist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Online Registration - WTR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_WTR</name>
        <label>Create WTR</label>
        <locationX>1035</locationX>
        <locationY>490</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120Y000000CpaK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verfied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WTR_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WTR_Full_Name__c</field>
            <value>
                <elementReference>Get_Candidate.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Contact__c</field>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>451</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WTR_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate_0_0_0_0_0</name>
        <label>Update Candidate</label>
        <locationX>935</locationX>
        <locationY>739</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WTR_Opt_Out__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>WTR_screen</name>
        <label>WTR</label>
        <locationX>663</locationX>
        <locationY>455</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WTR_Opt_out_Outcome</targetReference>
        </connector>
        <fields>
            <name>Screen3_DISPLAY_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Working Time Regulations&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;If you are 18 or over, you have the right to work more than 48 hours a week by choosing to waive the 48-hour work week as set out in the Working Time Regulations 1998.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_BA</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This is optional. If you choose to opt out of the 48-hour limit and later change your mind, you can terminate this arrangement by giving 3 month’s notice to&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 170, 227); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Candidate.Brand__c}, at any time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Candidate.Brand__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Blue Arrow</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Candidate.Brand__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WTR_RadioButtons</name>
            <choiceReferences>WTR_Agreement</choiceReferences>
            <choiceReferences>WTR_Non_Agreement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose below:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WTR_Footer</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Declaration_Stage</name>
        <isActive>true</isActive>
        <label>Declaration</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <name>EEQ_Stage</name>
        <isActive>true</isActive>
        <label>EEQ Stage</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>GDPR_Stage</name>
        <isActive>true</isActive>
        <label>GDPR</label>
        <stageOrder>130</stageOrder>
    </stages>
    <stages>
        <name>KID_Stage</name>
        <isActive>true</isActive>
        <label>KID</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Medical_Stage</name>
        <isActive>true</isActive>
        <label>Medical</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>PORTW_Stage</name>
        <isActive>true</isActive>
        <label>PORTW</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>TOE_Stage</name>
        <isActive>true</isActive>
        <label>TOE</label>
        <stageOrder>120</stageOrder>
    </stages>
    <stages>
        <name>WTR_Stage</name>
        <isActive>true</isActive>
        <label>WTR</label>
        <stageOrder>90</stageOrder>
    </stages>
    <start>
        <locationX>70</locationX>
        <locationY>491</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormFactor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PORTWID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StudentLoanVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
