Frankbelford/FBv1/force-app/main/default/flows/Pre_Screener_Capita_Tesco_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Choice1</name>
        <choiceText>AM - 6.30am – 2.30pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM - 6.30am – 2.30pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice2</name>
        <choiceText>PM - 3pm – 11pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM - 3pm – 11pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice3</name>
        <choiceText>3PM - 11PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3PM - 11PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice4</name>
        <choiceText>7PM - 3AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7PM - 3AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice5</name>
        <choiceText>11PM - 7AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11PM - 7AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Dropout_Decision</name>
        <label>Dropout Decision</label>
        <locationX>716</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>Contact_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drop_Out_Decision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q63</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drop_Out_Screen</targetReference>
            </connector>
            <label>Drop Out Decision</label>
        </rules>
    </decisions>
    <interviewLabel>Pre Screener - Capita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre Screener - Capita Tesco Mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>1016</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <stringValue>Capita Tesco Mobile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124J000000UpH8</stringValue>
            </value>
        </inputAssignments>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>1218</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confetti_0</name>
            <extensionName>qsydApps_AO:LightningConfettiCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fireworks</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>duration</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>winnerCelebration</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Details_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(102, 102, 102); font-size: 20px;&quot;&gt;Submitted!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(102, 102, 102); font-size: 16px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Your details have been submitted to our team who are looking forward to learning even more about you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;An email link to our online registration is on it’s way to your inbox so you have the link whenever you need it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Want to start your registration now? Why wait? Click sign up below to create your account…&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sign_Up_Display_0</name>
            <fieldText>&lt;p&gt;{!Sign_Up_Image}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Details_0</name>
        <label>Contact_Details</label>
        <locationX>988</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Response</targetReference>
        </connector>
        <fields>
            <name>Contact_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Contact Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Thanks for telling us more about yourself! You’re on your way to becoming part of the team and we can’t wait to meet you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;The next step is to get fully registered, please enter you details below to receive an email link to our online registration portal where you can continue your online application and on competition book yourself in for a brief interview.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Recapture</name>
            <extensionName>c:googleRecaptcha</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>siteKey</name>
                <value>
                    <stringValue>6LcdSscZAAAAACFh67_DyRvtYCWLlx04q8ROPI1y</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secretKey</name>
                <value>
                    <stringValue>6LcdSscZAAAAAFYqM8ZPcsELdCy6NYP__SsTsLik</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next -&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Drop_Out_Screen</name>
        <label>Drop Out Screen</label>
        <locationX>730</locationX>
        <locationY>452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Welcome_Text_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(111, 111, 110); font-size: 20px;&quot;&gt;Sorry&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Thank you for your interest, however this role doesn’t seem like the right fit for your next career move.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;﻿Click the button below to see a selection of our other roles that may be of interest to you&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Find other roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>https://www.bluearrow.co.uk/find-a-job</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pre_Screen_Questions_0</name>
        <label>Pre-Screen Questions</label>
        <locationX>540</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Dropout_Decision</targetReference>
        </connector>
        <fields>
            <name>Text_Question12</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Questions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have Customer Service experience in any capacity?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you comfortable working within a COVID secure call centre?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you comfortable working full time on a flexible shift based approach with strict start times and scheduled breaks?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Due to the sensitive nature of the assignment at Capita and the information they handle, Blue Arrow will need to undertake a pre-employment checks, this includes a financial probity check, CIFAS check, basic disclosure check (basic criminal record check), 1 years employment references, and Journalistic check. Do you consent to the pre-employment checks?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q5</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you happy taking calls all day, following set procedures and call scripts with the potential of dealing with challenging customers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q63</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you happy to work towards personal targets and performance measures?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you comfortable working with a variety of computer and phone systems?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q8</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Are you happy to work from home and have an adequate quiet work space?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q9</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have reliable internet service at home?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Q8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen_0</name>
        <label>Welcome Screen</label>
        <locationX>361</locationX>
        <locationY>253</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;We have an exciting opportunity to work at Capita on the Tesco Mobile Campaign based at the Runcorn call centre (WA7 3QA) for both Inbound Customer Service roles as well as Inbound Sales roles.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;We’d love to know more about your experience, skills and availability to make sure this is the right role for you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Don’t worry, it shouldn’t take you any longer than 5 minutes – Click below to start your journey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_Started_0</name>
            <extensionName>c:imageButtonfsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GetStarted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationFlowTransition</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxHeight</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Contact_Details_Stage</name>
        <isActive>true</isActive>
        <label>Contact Details</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>General_Details_Stage</name>
        <isActive>true</isActive>
        <label>General Details</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Pre_Screen_Stage</name>
        <isActive>true</isActive>
        <label>Pre-Screen</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>94</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Welcome_Screen_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Do you have Customer Service experience in any capacity?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Are you comfortable working within a COVID secure call centre?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Are you comfortable working full time on a flexible shift based approach with strict start times and scheduled breaks?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q3}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Due to the sensitive nature of the assignment at Capita and the information they handle, Blue Arrow will need to undertake a pre-employment checks, this includes a financial probity check, CIFAS check, basic disclosure check (basic criminal record check), 1 years employment references, and Journalistic check. Do you consent to the pre-employment checks?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q4}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Are you happy taking calls all day, following set procedures and call scripts with the potential of dealing with challenging customers?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q5}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Are you happy to work towards personal targets and performance measures?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q63}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Are you comfortable working with a variety of computer and phone systems?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Q7}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Are you happy to work from home and have an adequate quiet work space?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Q8}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Do you have reliable internet service at home?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Q9}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sign_Up_Image</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://mytempagency.bluearrow.co.uk/s/login/SelfRegister&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://impellam--c.um5.content.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0684J00000Aadyt&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T4J00000hKPHi&amp;amp;page=0&amp;amp;d=/a/4J000000bz33/WQi7C32xG3vfLsEUcjjzjLS5BEaGXN0bqUaUaZezUR0&amp;amp;oid=00DQz000004iDs6&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
