Frankbelford/FBv1/force-app/main/default/flows/Pre_Screener_HGV_Driver_Existing_Talent_Pool.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Consent_Missing_Message</name>
        <label>Consent Missing</label>
        <locationX>607</locationX>
        <locationY>590</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Please tick the checkbox to give consent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Current_License_Missing</name>
        <label>Current License Missing</label>
        <locationX>801</locationX>
        <locationY>560</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Please provide the condition of your current driver&apos;s license</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_Admin</name>
        <label>Email Admin</label>
        <locationX>1266</locationX>
        <locationY>69</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Error_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D21n000000GogF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>Admin_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Flow Error - Pre Screener - HGV Driving - Existing Talent Pool</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Training_Not_Selected_Message</name>
        <label>Training Not Selected</label>
        <locationX>610</locationX>
        <locationY>780</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Please select a training module</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Training_License</name>
        <label>Assign Training License</label>
        <locationX>838</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Training_Chosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Q2.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Answers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_of_the_above</name>
        <choiceText>None of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>role</name>
        <choiceText>role</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_13_11</name>
        <choiceText>Sat 13/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_20_11</name>
        <choiceText>Sat 20/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_30_10</name>
        <choiceText>Sat 30/10</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sun_7_11</name>
        <choiceText>Sun 7/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X10pm</name>
        <choiceText>10pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2pm</name>
        <choiceText>2pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6am</name>
        <choiceText>6am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6am</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Answers</name>
        <label>Check Answers</label>
        <locationX>841</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>Contact_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Training_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Chosen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Not_Selected_Message</targetReference>
            </connector>
            <label>Training Not Selected</label>
        </rules>
        <rules>
            <name>Consent_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Missing_Message</targetReference>
            </connector>
            <label>Consent Missing</label>
        </rules>
        <rules>
            <name>Current_License_Condition_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Q3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>N_A</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_License_Missing</targetReference>
            </connector>
            <label>Current License Condition Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drop_Out</name>
        <label>Drop Out</label>
        <locationX>486</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drop_Out2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dropoutsctreen</targetReference>
            </connector>
            <label>Drop Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error</name>
        <label>Error</label>
        <locationX>1048</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Email_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INVALID_EMAIL_ADDRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Invalid_Email</targetReference>
            </connector>
            <label>Invalid Email</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Current_Licence_Condition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_License_Condition__c</picklistField>
        <picklistObject>Response__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Converted_Phone</name>
        <dataType>String</dataType>
        <expression>TEXT({!Phone_2})</expression>
    </formulas>
    <interviewLabel>Pre Screener - HGV Driver - Existing Talent Pool {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Pre Screener - HGV Driver - Existing Talent Pool</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>1001</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <stringValue>HGV Driver - Existing Candidates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_License_Condition__c</field>
            <value>
                <elementReference>Q3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GDPR_Consent__c</field>
            <value>
                <elementReference>Q4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Converted_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124J000000UpH8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Licence_Level__c</field>
            <value>
                <elementReference>Q2.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>806</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confetti_0</name>
            <extensionName>qsydApps_AO:LightningConfettiCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fireworks</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>duration</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>winnerCelebration</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Details_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(102, 102, 102); font-size: 20px;&quot;&gt;Submitted!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Thank you for telling us about your interest in HGV Driver training. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;We’ll share your details with our training partner who will be in touch shortly to talk you through the training options available for you to choose from.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Details_0</name>
        <label>Contact_Details</label>
        <locationX>1006</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Response</targetReference>
        </connector>
        <fields>
            <name>Contact_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Contact Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Thanks for telling us more about yourself! Please enter your details below and we will be in touch shortly to discuss your training requirements.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;First Name&lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;Last Name&lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_2</name>
            <dataType>String</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;Email&lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_2</name>
            <dataType>Number</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;Phone&lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Spacer1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dropoutsctreen</name>
        <label>Dropoutscreen</label>
        <locationX>496</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Thank you for your interest. However, our Driver Training Programme is suitable for people who already hold a UK Driving License. Sorry we can’t help you at this time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;﻿Click the button below to see a selection of our other roles that may be of interest to you.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Find other roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>https://www.bluearrow.co.uk/find-a-job</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1387</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Oops...looks like something is not working quite right. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details have been sent to system admin. In the meanwhile, try submitting this page again but make sure you enter valid email and phone number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Invalid_Email</name>
        <label>Error Screen - Invalid Email</label>
        <locationX>1116</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Details_0</targetReference>
        </connector>
        <fields>
            <name>Error_Message_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The email you entered is invalid. Please use a valid email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoBack</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blank_Filler_2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Leading_Question</name>
        <label>Leading Question</label>
        <locationX>351</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Drop_Out</targetReference>
        </connector>
        <fields>
            <name>Q1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px;font-weight:400;&quot; &gt;Do you hold an UK or EU Driving License?&lt;/div&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>blank</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pre_Screen_Questions_0</name>
        <label>Pre-Screen Questions</label>
        <locationX>741</locationX>
        <locationY>386</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Training_License</targetReference>
        </connector>
        <fields>
            <name>Select_Training</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Which driving license level are you interesting in training for?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q2</name>
            <extensionName>flowmagic:FlowPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <stringValue>Response__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>picklistField</name>
                <value>
                    <stringValue>Training_Licence_Level__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>Chosen_Training_License</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageSize</name>
                <value>
                    <stringValue>x-large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transitionOnSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Q3</name>
            <choiceReferences>Current_Licence_Condition</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;What is the condition of your current license?&lt;/div&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q4</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;div style=&quot;color:#666666;font-size:16px&quot; &gt;I consent to Blue Arrow sharing my contact details with its training partner, HGV Training Network for the purposes of helping me learn more about my training options.&lt;/div&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_Filler_1</name>
            <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen_0</name>
        <label>Welcome Screen</label>
        <locationX>344</locationX>
        <locationY>203</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Leading_Question</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Thank you for your interest in taking part in our HGV Driver Training programme.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;We&apos;d love to know more about the training you&apos;re interested in. This shouldn&apos;t take more than 1 minute - click below to progress your training request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_Started_0</name>
            <extensionName>c:imageButtonfsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GetStarted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationFlowTransition</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxHeight</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Contact_Details_Stage</name>
        <isActive>true</isActive>
        <label>Contact Details</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>General_Details_Stage</name>
        <isActive>true</isActive>
        <label>General Details</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Pre_Screen_Stage</name>
        <isActive>true</isActive>
        <label>Pre-Screen</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>218</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Welcome_Screen_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt; &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;_2Flow Error Message: 
{!$Flow.FaultMessage}

Run Time: {!$Flow.CurrentDateTime}
Candidate Email:   {!Email_2}
Candidate Phone:   {!Phone_2}



&lt;/pre&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sign_Up_Image</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://mytempagency.bluearrow.co.uk/s/login/SelfRegister&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://impellam--uat--c.documentforce.com/sfc/servlet.shepherd/version/download/06825000001Cimg?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Admin_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>wenyun.zhang@impellam.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>Chosen_Training_License</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Royal_Mail_Job_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Royal_Mail_Location_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Training_Chosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
