Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_Flow_Application_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Interview_Status</name>
        <label>Interview Status</label>
        <locationX>618</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interview_Cancelled_by_Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ts2extams__Overall_SubStatus_Link__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancelled by Candidate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interview</targetReference>
            </connector>
            <label>Interview: Cancelled by Candidate</label>
        </rules>
        <rules>
            <name>Interview_Rejected_by_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ts2extams__Overall_SubStatus_Link__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rejected by Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interview_0</targetReference>
            </connector>
            <label>Interview: Rejected by Client</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Application Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Application Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>612</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Interview_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IP_EventType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Interview</name>
        <label>Update Interview</label>
        <locationX>615</locationX>
        <locationY>669</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview__c</field>
            <value>
                <stringValue>Cancelled By Candidate</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interview_0</name>
        <label>Update Interview</label>
        <locationX>915</locationX>
        <locationY>619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Interview__c</field>
            <value>
                <stringValue>Rejected by Client</stringValue>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <start>
        <locationX>548</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ts2extams__Overall_SubStatus_Link__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Rejected by Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>ts2extams__Overall_SubStatus_Link__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Cancelled by Candidate</stringValue>
            </value>
        </filters>
        <object>ts2__Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
