Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_Flow_Placement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>824</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>UpdatCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cert_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cert_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Value</name>
        <label>Update Value</label>
        <locationX>512</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>Cert_Loop.IP_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cert_Loop.Lapsed_Automatically__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Placement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Placement</label>
    <loops>
        <name>Cert_Loop</name>
        <label>Cert Loop</label>
        <locationX>643</locationX>
        <locationY>665</locationY>
        <collectionReference>Get_Certs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Certs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Certs</name>
        <label>Get Certs</label>
        <locationX>635</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cert_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ts2__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ts2__Employee__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120Y000000FOZaQAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>IP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ts2__Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>994</locationX>
        <locationY>548</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ts2__Employee__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_PermDisclaimer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Certs</name>
        <label>Update Certs</label>
        <locationX>856</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
        <inputReference>UpdatCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>549</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Certs</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ts2extams__Substatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rebate Period</stringValue>
            </value>
        </filters>
        <object>ts2__Placement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ts2__Certification__c</objectType>
    </variables>
</Flow>
