Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_Flow_Person.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>283</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mailing_Address_1_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_MailingAddressLine1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Address</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address</targetReference>
            </connector>
            <label>Mailing Address 1 Missing</label>
        </rules>
        <rules>
            <name>Candidate_Compliant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Compliance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Status2</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status2</targetReference>
            </connector>
            <label>Candidate Compliant</label>
        </rules>
        <rules>
            <name>PORTWVerified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IP_CitizenshipGroup__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IP_CitizenshipGroup__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_PORTW</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_CitizenshipGroup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PORTW</targetReference>
            </connector>
            <label>PORTWVerified</label>
        </rules>
        <rules>
            <name>No_Postcode_District</name>
            <conditionLogic>(1 OR (3 AND 4)) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_District</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Postcode_District__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Postcode_District</targetReference>
            </connector>
            <label>No Postcode District</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PostcodeStart</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.MailingPostalCode},(FIND(&quot; &quot;,{!$Record.MailingPostalCode})-1))</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - Person {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Person</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Postcode_District</name>
        <label>Get Postcode District</label>
        <locationX>5</locationX>
        <locationY>477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_District</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PostcodeStart</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postcode_District__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Address</name>
        <label>Update Address</label>
        <locationX>632</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>IP_MailingAddressLine1__c</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_District</name>
        <label>Update Status</label>
        <locationX>15</locationX>
        <locationY>321</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Postcode_District__c</field>
            <value>
                <elementReference>Get_Postcode_District.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PORTW</name>
        <label>Update PORTW</label>
        <locationX>594</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>PORTW_Verification_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status2</name>
        <label>Update Status</label>
        <locationX>382</locationX>
        <locationY>706</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Registration_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>97</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5) OR (7 OR (8 AND 9)) AND 6</filterLogic>
        <filters>
            <field>Compliance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>IP_CitizenshipGroup__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_CitizenshipGroup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_MailingAddressLine1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120Y000000UW9j</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Postcode_District__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SMSText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for attending your document verification appointment. Your registration is now complete, we look forward to having you join the Blue Arrow team.</text>
    </textTemplates>
</Flow>
