Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_Flow_Expiring_competencies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>First_aid_Litmos</name>
        <label>Update Competency end date</label>
        <locationX>654</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>DBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ticket_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DBS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ticket_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DBS Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ticket_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DBS Basic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_value_0_0</targetReference>
            </connector>
            <label>DBS</label>
        </rules>
        <rules>
            <name>First_aid_Litmos_Competency</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidToChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidFromChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k3M0000008hWgQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Litmos</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>First aid-Litmos Competency</label>
        </rules>
        <rules>
            <name>DVLA_License_check_competency</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidToChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidFromChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k0Y000000tk0eQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_value</targetReference>
            </connector>
            <label>DVLA License check competency</label>
        </rules>
        <rules>
            <name>ASDA_Assessment</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidToChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isValidFromChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k3M0000008iD0QAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Field_value_0</targetReference>
            </connector>
            <label>ASDA Assessment</label>
        </rules>
    </decisions>
    <description>The competency&apos;s added here will have an automated valid to date based on the information given by the business. The length of validity is controlled in formulas.</description>
    <environments>Default</environments>
    <formulas>
        <name>Add1095days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.sirenum__Valid_from__c} + 1095</expression>
    </formulas>
    <formulas>
        <description>Add 365</description>
        <name>Add365days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.sirenum__Valid_from__c} + 365</expression>
    </formulas>
    <formulas>
        <name>Add90days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.sirenum__Valid_from__c} + 90</expression>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>isValidFromChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.sirenum__Valid_from__c})</expression>
    </formulas>
    <formulas>
        <name>isValidToChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.sirenum__Valid_until__c})</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - Expiring competencies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Expiring competencies</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Field_value</name>
        <label>Update Field value</label>
        <locationX>819</locationX>
        <locationY>702</locationY>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Add90days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_value_0</name>
        <label>Update Field value</label>
        <locationX>493</locationX>
        <locationY>702</locationY>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Add365days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_value_0_0</name>
        <label>Update Field value</label>
        <locationX>450</locationX>
        <locationY>418</locationY>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Litmos</name>
        <label>Update Litmos</label>
        <locationX>887</locationX>
        <locationY>409</locationY>
        <inputAssignments>
            <field>sirenum__Valid_until__c</field>
            <value>
                <elementReference>Add1095days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>526</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>First_aid_Litmos</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k0Y000000tk0eQAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k3M0000008hWgQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k3M0000008iD0QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ticket_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DBS</stringValue>
            </value>
        </filters>
        <object>sirenum__Ticket__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
