Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_Flow_Application_Perm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>770</locationX>
        <locationY>571</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D21n000000GogF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendCCthisOneEmailAddress</name>
            <value>
                <elementReference>OnwerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X4J000001BuR5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Recruiterbot</name>
        <label>Send Recruiterbot</label>
        <locationX>512</locationX>
        <locationY>1486</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D21n000000GogF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>URLAssign</name>
        <label>URLAssign</label>
        <locationX>493</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>AssignURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recruiterbot.RecruiterBot_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Recruiterbot</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recruiterbot_Decision</name>
        <label>Recruiterbot Decision</label>
        <locationX>404</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recruiterbot</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>URLAssign</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration_Decision</name>
        <label>Registration Decision</label>
        <locationX>495</locationX>
        <locationY>601</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Impellam_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0050Y000000MAqkQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ts2__PrimaryRecruiter__r.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00e4J000000Uq63QAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Candidate_Owner</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_Owner</targetReference>
            </connector>
            <label>Owner Impellam Admin</label>
        </rules>
        <rules>
            <name>Recruiterbot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ts2__Job__r.Recruiterbot_Campaign_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recruiterbot</targetReference>
            </connector>
            <label>Recruiterbot</label>
        </rules>
        <rules>
            <name>Candidate_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Candidate Email</label>
        </rules>
    </decisions>
    <description>PT1 - 1377 - ED&amp;I Email Templates</description>
    <environments>Default</environments>
    <formulas>
        <name>Assignment_Recordtype</name>
        <dataType>String</dataType>
        <expression>{!$Record.ts2__Job__r.RecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>ConsultantandBranch</name>
        <dataType>String</dataType>
        <expression>{!$Record.ts2__Job__r.Owner:User.FirstName}+&quot; at &quot;+{!$Record.ts2__Job__r.Owner:User.UserRole.Name}+&quot; who is managing this role &quot;</expression>
    </formulas>
    <formulas>
        <name>ConsultantID</name>
        <dataType>String</dataType>
        <expression>{!$Record.ts2__PrimaryRecruiter__r.Id}</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - Application - Perm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Application - Perm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>194</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ts2__Candidate_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruiterbot</name>
        <label>Get Recruiterbot</label>
        <locationX>446</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recruiterbot_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ts2__Job__r.Recruiterbot_Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Question_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recruiterbot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate_Owner</name>
        <label>Update Candidate Owner</label>
        <locationX>587</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Registration_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Candidate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ts2__Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ts2__Job__r.ts2__Recruiter__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_Application</name>
        <label>Update Owner Application</label>
        <locationX>353</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Registration_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_LastContactedGDPR__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Last_Job_Applied__c</field>
            <value>
                <elementReference>ConsultantandBranch</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>108</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0050Y000000MAqk</stringValue>
            </value>
        </filters>
        <filters>
            <field>Assignment_Record_Type_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120Y000000UWAH</stringValue>
            </value>
        </filters>
        <object>ts2__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Hi {!Get_Candidate.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Thank you for applying to: {!$Record.ts2__Job__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;We’d love to know more about your experience and what you’re looking for in your next role. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!AssignURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 22px; font-family: sans-serif;&quot;&gt;&lt;strong&gt;Click here&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt; to tell us more about yourself and move forward with your application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Blue Arrow&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your application to {!$Record.ts2__Job__r.Name}</text>
    </textTemplates>
    <variables>
        <name>AssignURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Candidate.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>OnwerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ts2__Job__r.ts2__Recruiter__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Candidate.Email</elementReference>
        </value>
    </variables>
</Flow>
