Frankbelford/FBv1/force-app/main/default/flows/Record_Triggered_flow_Job_Role_AWR_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AWR_Assign</name>
        <label>AWR Assign</label>
        <locationX>460</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>$Record.sirenum__AWR_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Category.Impellam_Job_Category__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Record Triggered flow - Job Role - AWR Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered flow - Job Role - AWR Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Category</name>
        <label>Get Job Category</label>
        <locationX>229</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AWR_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Job_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Job_Type__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Job_Category</targetReference>
        </connector>
        <object>sirenum__Team__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
