Frankbelford/FBv1/force-app/main/default/flows/RecruiterBot_New_Question.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1166</locationX>
        <locationY>757</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Question Added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>211</locationX>
        <locationY>1012</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Variable_Wipe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Choice Added</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_0_0</name>
        <label>Success</label>
        <locationX>325</locationX>
        <locationY>748</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Variable_Wipe</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Missing Choice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>767</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>Number</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Wipe</name>
        <label>Variable Wipe</label>
        <locationX>368</locationX>
        <locationY>917</locationY>
        <assignmentItems>
            <assignToReference>AddChoice.Clicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back.Clicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Wipe_0</name>
        <label>Variable Wipe</label>
        <locationX>1306</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>AddChoice.Clicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Back.Clicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dropout.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Recruiterbot</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Button_Decision</name>
        <label>Button Decision</label>
        <locationX>366</locationX>
        <locationY>609</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recruiterbot</targetReference>
            </connector>
            <label>Back Button</label>
        </rules>
        <rules>
            <name>No_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_0_0</targetReference>
            </connector>
            <label>No Value</label>
        </rules>
        <rules>
            <name>AddButton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddChoice.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Choice</targetReference>
            </connector>
            <label>AddButton</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>1340</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Variable_Wipe_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choices_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Question_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multi-Select Choices</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_Question_is_this</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choices</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1_0</targetReference>
            </connector>
            <label>Choices Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dropout_Decision</name>
        <label>Dropout Decision</label>
        <locationX>909</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DropoutOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_answer_drops_the_applicant_out</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Question</targetReference>
            </connector>
            <label>Dropout</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_Number</name>
        <label>Question Number</label>
        <locationX>805</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoMoreQuestions</targetReference>
            </connector>
            <label>11</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuestionType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Question_Type__c</picklistField>
        <picklistObject>RecruiterBot_Question__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>MissingChoice</name>
        <dataType>Boolean</dataType>
        <expression>if({!Choice} = Null, True, False)</expression>
    </formulas>
    <interviewLabel>RecruiterBot - New Question {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecruiterBot - New Question</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Choice</name>
        <label>Create Choice</label>
        <locationX>187</locationX>
        <locationY>859</locationY>
        <connector>
            <targetReference>Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecruiterBot_Question__c</field>
            <value>
                <elementReference>Create_Question</elementReference>
            </value>
        </inputAssignments>
        <object>RecruiterBot_Question_Choice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Question</name>
        <label>Create Question</label>
        <locationX>762</locationX>
        <locationY>748</locationY>
        <connector>
            <targetReference>Dropout_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuestionNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Value__c</field>
            <value>
                <elementReference>Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Text__c</field>
            <value>
                <elementReference>Question_Text2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>QuestionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecruiterBot__c</field>
            <value>
                <elementReference>Get_Recruiterbot.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RecruiterBot_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Recruiterbot</name>
        <label>Get Recruiterbot</label>
        <locationX>1102</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recruiterbot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Question</name>
        <label>Update Question</label>
        <locationX>1015</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Question</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dropout_Value__c</field>
            <value>
                <elementReference>What_answer_drops_the_applicant_out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropout__c</field>
            <value>
                <elementReference>Dropout.value</elementReference>
            </value>
        </inputAssignments>
        <object>RecruiterBot_Question__c</object>
    </recordUpdates>
    <screens>
        <name>NoMoreQuestions</name>
        <label>NoMoreQuestions</label>
        <locationX>1182</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>test</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You have added the max number of questions&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;Please close this window&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>668</locationX>
        <locationY>669</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Question</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Adding {!QuestionNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;If you want to stop adding questions close this window&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Question_Text2</name>
            <dataType>String</dataType>
            <fieldText>What question text do you want to appear?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_type_of_Question_is_this</name>
            <choiceReferences>QuestionType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of Question is this?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dropout</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Is this a dropout question?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_type_of_Question_is_this</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes/No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_answer_drops_the_applicant_out</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What answer drops the applicant out?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Dropout.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Question</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_0</name>
        <label>Screen1</label>
        <locationX>546</locationX>
        <locationY>849</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Button_Decision</targetReference>
        </connector>
        <fields>
            <name>Back</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add New Question</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Question_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Adding Choices for {!QuestionNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;These are the options that are displayed to the candidate&lt;/em&gt;&lt;em style=&quot;font-size: 16px;&quot;&gt;, once you have added all the choices click Go Back to continue adding questions&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choice</name>
            <dataType>String</dataType>
            <fieldText>Add your choice below:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddChoice</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add Choice</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Question</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>752</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Recruiterbot</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QuestionNumber</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Question {!Number}</text>
    </textTemplates>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Recruiterbot.Question_Count__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
