Frankbelford/FBv1/force-app/main/default/flows/Registration_Prompts_Registration_in_progress_24_hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Compliance_Hours_48_Assignment</name>
        <label>Compliance Hours 48 Assignment</label>
        <locationX>893</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SenderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OUT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SMSText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Compliance_SMSTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMSCollectionAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>KID_Hours_48_Assignment</name>
        <label>KID Hours 48 Assignment</label>
        <locationX>639</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SenderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OUT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SMSText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KID_SMSTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMSCollectionAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMSCollectionAssignment</name>
        <label>SMSCollectionAssignment</label>
        <locationX>558</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>SMSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SMSRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hour_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Details_Hours_48_Assignment</name>
        <label>Work Details Hours 48 Assignment</label>
        <locationX>774</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SenderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OUT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hour_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SMSRecord.smagicinteract__SMSText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkDetails_SMSTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMSCollectionAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Registration_Status</name>
        <label>Registration Status</label>
        <locationX>689</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Hour_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KID_or_Contact_Details</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Hour_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hour_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KID_Hours_48_Assignment</targetReference>
            </connector>
            <label>KID or Contact Details</label>
        </rules>
        <rules>
            <name>Work_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hour_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Details</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Details_Hours_48_Assignment</targetReference>
            </connector>
            <label>Work Details</label>
        </rules>
        <rules>
            <name>Compliance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Hour_Loop.Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hour_Loop.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compliance_Hours_48_Assignment</targetReference>
            </connector>
            <label>Compliance</label>
        </rules>
    </decisions>
    <description>PT1-1396 Fast Registration</description>
    <environments>Default</environments>
    <formulas>
        <name>Hours24</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <formulas>
        <name>Hours48</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-2</expression>
    </formulas>
    <formulas>
        <name>Hours72</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-3</expression>
    </formulas>
    <interviewLabel>Registration Prompts - Registration in progress 24 hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Prompts - Registration in progress 24 hours</label>
    <loops>
        <name>Hour_Loop</name>
        <label>Hour Loop</label>
        <locationX>423</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Candidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Registration_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendSMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SendSMS</name>
        <label>SendSMS</label>
        <locationX>300</locationX>
        <locationY>651</locationY>
        <inputReference>SMSCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidates</name>
        <label>Get Candidates</label>
        <locationX>127</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Hour_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120Y000000UW9j</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Stage_Update__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Stage_Update__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Hours24</elementReference>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting_PORTW_Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>52</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Candidates</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-30</startDate>
            <startTime>15:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Compliance_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for letting us know what you’re looking for in your next role! There are some legal bits that we need you to complete before we can take your registration further. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Hi,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Thanks for creating your account with Blue Arrow. Looks like there is still some outstanding information we require before we can offer you work. This will be our last reminder for you to get registered with ourselves.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://bit.ly/2Ni5TLg&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here to continue your registration with us.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Kind Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Blue Arrow&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>KID_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for creating your account with Blue Arrow. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <textTemplates>
        <name>WorkDetails_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for telling us how to contact you regarding future roles, however we’re not clear on what roles you’re looking for. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <variables>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__smsMagic__c</objectType>
    </variables>
    <variables>
        <name>SMSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__smsMagic__c</objectType>
    </variables>
</Flow>
