Frankbelford/FBv1/force-app/main/default/flows/Registration_Prompts_Registration_in_progress_72_hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Fast_Reg_Reminder_Email</name>
        <label>Send Fast Reg Reminder Email</label>
        <locationX>546</locationX>
        <locationY>527</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D21n000000GogF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00XQ5000000yinmMAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Full_Reg_Reminder_Email</name>
        <label>Send Full Reg Reminder Email</label>
        <locationX>551</locationX>
        <locationY>374</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D21n000000GogF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X4J000000hy1tUAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Candidate_ID_assignment</name>
        <label>Candidate ID assignment</label>
        <locationX>121</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>CandidateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Registration_Type</name>
        <label>Registration Type</label>
        <locationX>289</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fast_Reg_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fast Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Registration_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Compliance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Fast_Reg_Reminder_Email</targetReference>
            </connector>
            <label>Fast Reg - Not Completed</label>
        </rules>
        <rules>
            <name>Full_Reg_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Registration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Registration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Full_Reg_Reminder_Email</targetReference>
            </connector>
            <label>Full Reg - Not Completed</label>
        </rules>
    </decisions>
    <description>PT1 - 1396 Fast Registration - Post deployment updates on email template ID</description>
    <environments>Default</environments>
    <formulas>
        <name>Hours24</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-1</expression>
    </formulas>
    <formulas>
        <name>Hours48</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-2</expression>
    </formulas>
    <formulas>
        <name>Hours72</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-3</expression>
    </formulas>
    <interviewLabel>Registration Prompts - Registration in progress 72 hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Prompts - Registration in progress 72 hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Candidate_ID_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120Y000000UW9j</stringValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting_PORTW_Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>Brand__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </filters>
        <filters>
            <field>Reg_stage_update_greater_than_72_hours__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>X72_Hour_Reg_update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Person_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-30</startDate>
            <startTime>14:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Compliance_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for letting us know what you’re looking for in your next role! There are some legal bits that we need you to complete before we can take your registration further. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;it looks like you haven&apos;t finished your blue arrow registration, please complete this to find out what exciting opportunity&apos;s are around the corner using our “Find Work” tool. You can continue your registration by using the link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://mytempagency.bluearrow.co.uk/s/login/?ec=302&amp;amp;startURL=%2Fs%2F&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here to continue your registration with us.&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Alternatively, if you are no longer interested in finding your next exciting opportunity and would like to drop out of the registration please use the link below to unsubscribe from emails and drop out:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://impellam--test.sandbox.my.site.com/Application/s/opt-out-of-registration?ID={!CandidateID}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: blue;&quot;&gt;Unsubscribe&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Kind regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: white;&quot;&gt;Blue Arrow&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>KID_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for creating your account with Blue Arrow. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <textTemplates>
        <name>WorkDetails_SMSTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thanks for telling us how to contact you regarding future roles, however we’re not clear on what roles you’re looking for. To continue your registration use the following link; https://bit.ly/2Ni5TLg</text>
    </textTemplates>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Date</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__smsMagic__c</objectType>
    </variables>
    <variables>
        <name>SMSRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>smagicinteract__smsMagic__c</objectType>
    </variables>
</Flow>
