Frankbelford/FBv1/force-app/main/default/flows/Scheduled_Flow_Candidate_Email_FEs_starting_without_manager_RTW_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendEmail</name>
        <label>sendEmail</label>
        <locationX>50</locationX>
        <locationY>2316</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>BranchManagerEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply@bluearrow.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ttEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddEmail</name>
        <label>AddEmail</label>
        <locationX>270</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>BranchManagerEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Branch_Manager_User_Role_Check.Assignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Branch_Manager_User_Role_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRoleUserId</name>
        <label>AddRoleUserId</label>
        <locationX>270</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>RoleUserIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRoleUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRoleUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstBuildTable</name>
        <label>asstBuildTable</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttTableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCandidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstCandidateCount</name>
        <label>asstCandidateCount</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>vaCandidateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getCandidates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decGotCandidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstCloseTable</name>
        <label>asstCloseTable</label>
        <locationX>182</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Role_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstInitTable</name>
        <label>asstInitTable</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttTableAndHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCandidates</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortCandidates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortCandidates</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>getCandidates</collectionReference>
        <connector>
            <targetReference>asstInitTable</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>First_Shift_Date_Time__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>BranchManagerEmailCheck</name>
        <label>BranchManagerEmailCheck</label>
        <locationX>182</locationX>
        <locationY>2208</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Blank_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BranchManagerEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmail</targetReference>
            </connector>
            <label>Email Blank = False</label>
        </rules>
    </decisions>
    <decisions>
        <name>decGotCandidates</name>
        <label>decGotCandidates</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>no sites</defaultConnectorLabel>
        <rules>
            <name>Owner_has_Candidates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaCandidateCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sortCandidates</targetReference>
            </connector>
            <label>Owner has Candidates</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserExistsInRole</name>
        <label>UserExistsInRole</label>
        <locationX>402</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>Branch_Manager_User_Role_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoleUserIdsCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Branch_Manager_User_Role_Check.AssigneeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddEmail</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>PT1-1772</description>
    <environments>Default</environments>
    <formulas>
        <name>ffBackgroundColor</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!vaRowNumber},2) = 0, &quot;#f2f2f2&quot;, &quot;#ffffff&quot;)</expression>
    </formulas>
    <formulas>
        <name>ffBaseURL</name>
        <dataType>String</dataType>
        <expression>Left({!$Api.Enterprise_Server_URL_190},(find(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_190})))</expression>
    </formulas>
    <formulas>
        <name>ffMonthYear</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1,&quot;January&quot;,2,&quot;February&quot;, 3, &quot;March&quot;, 4,&quot;April&quot;,5,&quot;May&quot;,6,&quot;June&quot;,7,&quot;July&quot;,8,&quot;August&quot;,9,&quot;September&quot;,10,&quot;October&quot;,11,&quot;November&quot;,12,&quot;December&quot;,&quot;Voldemort&quot;) &amp; &quot; &quot;&amp;TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>lastweek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - WEEKDAY(TODAY()) - 90</expression>
    </formulas>
    <formulas>
        <name>threemonthsago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - WEEKDAY(TODAY()) - 6 - 90</expression>
    </formulas>
    <interviewLabel>Scheduled Flow - Candidate Email - FEs starting without manager RTW Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Candidate Email - FEs starting without manager RTW Check</label>
    <loops>
        <name>Branch_Manager_User_Role_Check</name>
        <label>Branch Manager/User Role Check</label>
        <locationX>182</locationX>
        <locationY>1716</locationY>
        <collectionReference>Get_Branch_Managers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UserExistsInRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BranchManagerEmailCheck</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopCandidates</name>
        <label>loopCandidates</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <collectionReference>getCandidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asstBuildTable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asstCloseTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRoleUsers</name>
        <label>LoopRoleUsers</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <collectionReference>Get_Role_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddRoleUserId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Branch_Managers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Branch_Managers</name>
        <label>Get Branch Managers</label>
        <locationX>182</locationX>
        <locationY>1608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Manager_User_Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS1n000000mWog</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Users</name>
        <label>Get Role Users</label>
        <locationX>182</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRoleUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserRoleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCandidates</name>
        <label>getCandidates</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asstCandidateCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Shift_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>PORTW_Check_Count__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCandidates</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e0Y000000QNyx</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e4J000000Uq63</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e0Y000000viGl</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e4J000000Ur8f</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e4J000000Ur8g</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e0Y000000viGi</stringValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-28</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;The following candidates have been given a first shift soon and you have not performed the manager RTW check for them yet, please action this as soon as possible and before their first shift.&lt;/p&gt;&lt;p&gt;{!vaEmailTableBody}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Urgent - candidate with no manager RTW check starting soon</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableAndHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;max-width:800px;&quot;&gt;
&lt;table style=&quot;border:1px solid black;width:100%;&quot;&gt;
&lt;tr&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Candidate Name&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;First Shift Date&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: {!ffBackgroundColor}; border: 1px solid {!ffBackgroundColor};&quot;&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;&lt;a href=&quot;{!ffBaseURL}{!loopCandidates.Id}&quot;&gt;{!loopCandidates.Name}&lt;/a&gt;&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!loopCandidates.First_Shift_Date_Time__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>BranchManagerEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoleUserIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaCandidateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vaEmailTableBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaRowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
