Frankbelford/FBv1/force-app/main/default/flows/Screen_Flow_Job_Order_Applications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error</name>
        <label>Error</label>
        <locationX>1286</locationX>
        <locationY>1331</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Unable to apply candidate, please check the candidate to make sure they are in a suitable state to apply to this Job</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1985</locationX>
        <locationY>600</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Candidate applied to Job</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>CoI_Assignment</name>
        <label>CoI Assignment</label>
        <locationX>26</locationX>
        <locationY>675</locationY>
        <assignmentItems>
            <assignToReference>CoI_Check</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Document_ID_Assignment</name>
        <label>Document_ID_Assignment</label>
        <locationX>515</locationX>
        <locationY>1145</locationY>
        <assignmentItems>
            <assignToReference>Document_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assignment</name>
        <label>Value Assignment</label>
        <locationX>802</locationX>
        <locationY>1260</locationY>
        <assignmentItems>
            <assignToReference>IDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assignment_0</name>
        <label>Value Assignment</label>
        <locationX>749</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>IDVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_confirm_the_candidate_has_Proof_of_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_confirm_that_references_have_been_checked</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirmation</name>
        <choiceText>I Confirm</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Candidate_Decision</name>
        <label>Candidate Decision</label>
        <locationX>1703</locationX>
        <locationY>772</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_CV_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.DoHSc_Stages__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CV Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guidant Capita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Candidate_0</targetReference>
            </connector>
            <label>Not CV Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Decision</name>
        <label>Client Decision</label>
        <locationX>651</locationX>
        <locationY>1108</locationY>
        <defaultConnector>
            <targetReference>Value_Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Guidant_Capita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guidant Capita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Value_Assignment</targetReference>
            </connector>
            <label>Guidant Capita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conflict_of_Interest_Decision</name>
        <label>Conflict of Interest Decision</label>
        <locationX>205</locationX>
        <locationY>507</locationY>
        <defaultConnector>
            <targetReference>Get_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conflict_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Responses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CoI_Assignment</targetReference>
            </connector>
            <label>Conflict Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CV_Error</name>
        <label>CV Error</label>
        <locationX>583</locationX>
        <locationY>853</locationY>
        <defaultConnector>
            <targetReference>Compliance_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CV_Missing</name>
            <conditionLogic>1 AND (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Document_ID_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guidant Capita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Order.CV_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Picker_0_0_0</targetReference>
            </connector>
            <label>CV Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>CV_Error_0</name>
        <label>CV Error</label>
        <locationX>1711</locationX>
        <locationY>1090</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CV_Missing_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guidant Capita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Order.CV_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Document_Link_0</targetReference>
            </connector>
            <label>CV Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Last_Contacted_GDPR_up_to_Date</name>
        <label>Is Last Contacted GDPR up to Date?</label>
        <locationX>1463</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>CV_Error_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.IP_LastContactedGDPR__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.IP_LastContactedGDPR__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Contacted_GDPR</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Order_Decision</name>
        <label>Job Order Decision</label>
        <locationX>1012</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>Candidate_Picker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Order.Brand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Brand__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Picker_0</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
        <rules>
            <name>No_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Order.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Picker_0_0</targetReference>
            </connector>
            <label>No Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Details_Decision</name>
        <label>Missing Details Decision</label>
        <locationX>509</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Get_Responses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capita_Required_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guidant Capita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MailingStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MailingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.sirenum__National_Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.Birthdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.ts2__EEO_Gender__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Picker_0_0_0_0</targetReference>
            </connector>
            <label>Capita Required Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pay_Profile_Count_Decision</name>
        <label>Pay Profile Count Decision</label>
        <locationX>1176</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Create_Application</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_NI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.sirenum__National_Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>National_Insurance</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>National_Insurance</targetReference>
            </connector>
            <label>Missing NI</label>
        </rules>
        <rules>
            <name>No_Pay_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Profile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PAYE_Profile</targetReference>
            </connector>
            <label>No Pay Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>174</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Document_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Doc_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document.FileExtension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Content_Document.FileExtension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Content_Document.FileExtension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOCX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_ID_Assignment</targetReference>
            </connector>
            <label>Matching Doc Type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PORTW</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PORTW_Type__c</picklistField>
        <picklistObject>StagingJobApplication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Visa_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Visa_Type__c</picklistField>
        <picklistObject>StagingJobApplication__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Job Order Applications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Job Order Applications</label>
    <loops>
        <name>Document_Loop</name>
        <label>Document Loop</label>
        <locationX>393</locationX>
        <locationY>828</locationY>
        <collectionReference>Get_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CV_Error</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>1361</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Is_Last_Contacted_GDPR_up_to_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Conflict_of_Interest__c</field>
            <value>
                <elementReference>CoI_Check</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Order_Lookup__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PORTW_Type__c</field>
            <value>
                <elementReference>PORTW_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proof_of_ID__c</field>
            <value>
                <elementReference>IDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>References_Checked__c</field>
            <value>
                <elementReference>RefVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa_Expiry_Date__c</field>
            <value>
                <elementReference>Visa_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visa_Type__c</field>
            <value>
                <elementReference>Visa_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stgApplicationStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stgAtsCandidateIntegrationRef__c</field>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stgFrontOfficeIntegrationSystem__c</field>
            <value>
                <elementReference>Get_Candidate.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>stgPayProfile__c</field>
            <value>
                <elementReference>Get_Pay_Profile.Id</elementReference>
            </value>
        </inputAssignments>
        <object>StagingJobApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document_Link_0</name>
        <label>Create Document Link</label>
        <locationX>1565</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Candidate_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>CV_Tab.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Application</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PAYE_Profile</name>
        <label>Create PAYE Profile</label>
        <locationX>1080</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IP_Candidate__c</field>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120Y000000FISY</stringValue>
            </value>
        </inputAssignments>
        <object>IP_PayProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>648</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Missing_Details_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>144</locationX>
        <locationY>823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Document_Loop.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Link</name>
        <label>Get Document Link</label>
        <locationX>418</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Order</name>
        <label>Get Job Order</label>
        <locationX>1201</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Order_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__JobOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pay_Profile</name>
        <label>Get Pay Profile</label>
        <locationX>890</locationX>
        <locationY>1038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pay_Profile_Count_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <filters>
            <field>IP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_PayProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Responses</name>
        <label>Get Responses</label>
        <locationX>190</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conflict_of_Interest_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Conflict_Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>994</locationX>
        <locationY>776</locationY>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sirenum__National_Insurance__c</field>
            <value>
                <elementReference>National_Insurance_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_0</name>
        <label>Update Candidate</label>
        <locationX>1744</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DoHSc_Stages__c</field>
            <value>
                <stringValue>CV Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Contacted_GDPR</name>
        <label>Update Last Contacted GDPR</label>
        <locationX>1471</locationX>
        <locationY>1177</locationY>
        <connector>
            <targetReference>CV_Error_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Candidate_Var</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_LastContactedGDPR__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Candidate_Picker</name>
        <label>Candidate Picker</label>
        <locationX>752</locationX>
        <locationY>525</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <fields>
            <name>Apply_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Candidate Application&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Candidate_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please find the candidate you want to apply to this Job:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>RecordTypeID = &apos;0120Y000000UW9j&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dropDownLimit</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryLimit</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Candidate_Var</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Candidate_Picker_0</name>
        <label>Candidate Picker</label>
        <locationX>831</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Apply_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 14px;&quot;&gt;&lt;u&gt;Alert&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;You are unable to apply candidates to this Job Order because the brand for this Job Order does not match the brand on your user record.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Candidate_Picker_0_0</name>
        <label>Candidate Picker</label>
        <locationX>1121</locationX>
        <locationY>602</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Apply_Text_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 14px;&quot;&gt;&lt;u&gt;Alert&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;You are unable to apply candidates to this Job Order because the quantity of remaining positions is 0&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Candidate_Picker_0_0_0</name>
        <label>Candidate Picker</label>
        <locationX>830</locationX>
        <locationY>706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Apply_Text_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 14px;&quot;&gt;&lt;u&gt;Alert&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;You are unable to apply this candidate to this Job Order because the candidate has no files, a CV is required for a candidate to be submitted to EVO&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Candidate_Picker_0_0_0_0</name>
        <label>Candidate Picker</label>
        <locationX>557</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Apply_Text_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 20px;&quot;&gt;&lt;u&gt;Alert&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are unable to apply this candidate to this role as they are missing information, candidates require the following information in order to be applied to a Job:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Salutation&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Forename&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Surname&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Email Address&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Street&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;City/Town&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;County&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Country&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Postcode&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;NI Number&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Mobile number&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Date of Birth&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Gender&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please review the candidate record and then try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Compliance_Fields</name>
        <label>Compliance Fields</label>
        <locationX>587</locationX>
        <locationY>990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Client_Decision</targetReference>
        </connector>
        <fields>
            <name>Please_confirm_the_candidate_has_Proof_of_ID</name>
            <choiceReferences>Confirmation</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm the candidate has Proof of ID</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Guidant Capita</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Please_confirm_that_references_have_been_checked</name>
            <choiceReferences>Confirmation</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm that references have been checked</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Guidant Capita</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PORTW_Type</name>
            <choiceReferences>PORTW</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please specify the PORTW type for the candidate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Visa_Type</name>
            <choiceReferences>Visa_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please specify the Visa type for the candidate</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>(A8)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>NI No. + (G)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Work Permit + (I)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Work Permit + (J)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Visa_Expiry</name>
            <dataType>Date</dataType>
            <fieldText>Please provide the Visa Expiry date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>(A8)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>NI No. + (G)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Work Permit + (I)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_Type</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Work Permit + (J)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CV_Tab</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Title,filetype</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Document_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Please choose the correct CV to send below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Document Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Order.CV_Required__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Order.sirenum__Account__r.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Guidant Capita</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>National_Insurance</name>
        <label>National Insurance</label>
        <locationX>1210</locationX>
        <locationY>831</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
        <fields>
            <name>Apply_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 16px;&quot;&gt;&lt;u&gt;Alert&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;Candidate requires a National Insurance number in order to submit, please populate below&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>National_Insurance_Number</name>
            <dataType>String</dataType>
            <fieldText>National Insurance Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter a valid National Insurance number with no spaces&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!National_Insurance_Number},&quot;[ABCEGHJKLMNOPRSTWXYZ]{1}[ABCEGHJKLMNPRSTWXYZ]{1}[0-9]{6}[A-DMF]{1}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1066</locationX>
        <locationY>105</locationY>
        <connector>
            <targetReference>Get_Job_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Candidate_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CoI_Check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Document_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>Document_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PayProfile_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
