Frankbelford/FBv1/force-app/main/default/flows/Screen_Flow_Perm_Consent_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>I_Confirm</name>
        <choiceText>I Confirm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I Confirm</stringValue>
        </value>
    </choices>
    <choices>
        <name>IConfirm</name>
        <choiceText>I Confirm</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_Value</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Value</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>CategoryofWork</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_CategoryOfWork__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Perm Consent Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Screen Flow - Perm Consent Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cert</name>
        <label>Create Cert</label>
        <locationX>1435</locationX>
        <locationY>896</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>IP_Conviction__c</field>
            <value>
                <elementReference>Conviction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Offence__c</field>
            <value>
                <elementReference>Offence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Rehabilitation_Period_End_Date__c</field>
            <value>
                <elementReference>When_does_the_rehabilitation_period_end</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Form__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermDisclaimer_Check1__c</field>
            <value>
                <elementReference>Confirmation1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermDisclaimer_Check2__c</field>
            <value>
                <elementReference>Confirmation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermDisclaimer_Signed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120Y000000FOZa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unspent_Criminal_Convictions_Details__c</field>
            <value>
                <elementReference>What_was_the_date_of_the_offence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unspent_Criminal_Convictions__c</field>
            <value>
                <elementReference>Do_you_have_any_unspent_criminal_convictions2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts2__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ts2__Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>1467</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Criminal_Convictions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Criminal_Convictions</name>
        <label>Criminal Convictions</label>
        <locationX>1339</locationX>
        <locationY>644</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Cert</targetReference>
        </connector>
        <fields>
            <name>Heading4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Permanent Work Seekers Consent Form&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Any information captured is considered sensitive data and will be collected, stored and transferred in accordance with our Data Protection policies and procedures. &lt;/span&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;For further details on how we use and store your data please review our &lt;/span&gt;&lt;a href=&quot;https://www.rssglobal.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;&lt;strong&gt;privacy notice&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation1</name>
            <choiceReferences>IConfirm</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>I understand that Blue Arrow are an Employment Agency who are acting on my behalf to look for permanent positions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation2</name>
            <choiceReferences>IConfirm</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>I hereby authorise Blue Arrow to forward my CV to specific selected companies with suitable vacancies.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_any_unspent_criminal_convictions2</name>
            <choiceReferences>Yes_Value</choiceReferences>
            <choiceReferences>No_Value</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any unspent criminal convictions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Criminal_Convictions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Criminal_Convictions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_was_the_date_of_the_offence</name>
                    <dataType>Date</dataType>
                    <fieldText>What was the date of the offence?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Offence</name>
                    <dataType>String</dataType>
                    <fieldText>What was the offence?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conviction</name>
                    <dataType>String</dataType>
                    <fieldText>What was the conviction?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>When_does_the_rehabilitation_period_end</name>
                    <dataType>Date</dataType>
                    <fieldText>When does the rehabilitation period end?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_any_unspent_criminal_convictions2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Signed4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Signed By&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102);&quot;&gt;Name: &lt;/span&gt;&lt;b style=&quot;color: rgb(102, 102, 102);&quot;&gt;{!Get_Candidate.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102);&quot;&gt;Date: &lt;/span&gt;&lt;b style=&quot;color: rgb(102, 102, 102);&quot;&gt;{!$Flow.CurrentDate}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>1716</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(102, 102, 102);&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Thank your for your consent, a consultant will be in touch with you in due course to discuss the job you applied for and any other potential live roles. If you would like to get one step ahead in the recruitment process, please answer the pre-screening questions, which is the second link in the email you received, which will help our consultant match you to the right job.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1398</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
