Frankbelford/FBv1/force-app/main/default/flows/Screen_Flow_Candidate_Competency_Expiry_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_2</name>
        <label>Send Email Action 2</label>
        <locationX>176</locationX>
        <locationY>1574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ttEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>1682</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Email Sent Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>asstBuildTable</name>
        <label>asstBuildTable</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttTableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstCloseTable</name>
        <label>asstCloseTable</label>
        <locationX>176</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Action_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstInitTable</name>
        <label>asstInitTable</label>
        <locationX>176</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttTableAndHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Assign</name>
        <label>Date &amp; Name Assign</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QualificationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Competency_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QualificationBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competency_Loop.sirenum__Owner__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competency_Loop.sirenum__Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QualCount</name>
        <label>QualCount</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>vaQualCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedQuals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sortCollection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortCollection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortCollection</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>SelectedQuals</collectionReference>
        <connector>
            <targetReference>asstInitTable</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>sirenum__Valid_until__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Date_Required</name>
        <label>Date Required</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Competency_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Expiring_Within_30_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__Valid_until__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodaysDatePlus30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__Valid_until__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Assign</targetReference>
            </connector>
            <label>Date Expiring Within 30 days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ffBackgroundColor</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!vaRowNumber},2) = 0, &quot;#f2f2f2&quot;, &quot;#ffffff&quot;)</expression>
    </formulas>
    <formulas>
        <name>ffBaseURL</name>
        <dataType>String</dataType>
        <expression>Left({!$Api.Enterprise_Server_URL_190},(find(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_190})))</expression>
    </formulas>
    <formulas>
        <name>ffMonthYear</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1,&quot;January&quot;,2,&quot;February&quot;, 3, &quot;March&quot;, 4,&quot;April&quot;,5,&quot;May&quot;,6,&quot;June&quot;,7,&quot;July&quot;,8,&quot;August&quot;,9,&quot;September&quot;,10,&quot;October&quot;,11,&quot;November&quot;,12,&quot;December&quot;,&quot;Voldemort&quot;) &amp; &quot; &quot;&amp;TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TodaysDatePlus30</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Screen Flow - Candidate Competency Expiry Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Candidate Competency Expiry Button</label>
    <loops>
        <name>Competency_Loop</name>
        <label>Competency Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_Competencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Date_Required</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CompetencyView</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopQuals</name>
        <label>LoopQuals</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <collectionReference>SelectedQuals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asstBuildTable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asstCloseTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Competencies</name>
        <label>get Competencies</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competency_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <sortField>Ticket_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CompetencyView</name>
        <label>CompetencyView</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>QualCount</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Competencies due to expire in the next 30 days&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;Select the competencies you wish to email to the candidate:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QualificationBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Ticket__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Qualifications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>QualificationCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Skill__c&quot;,&quot;guid&quot;:&quot;column-4e4d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Competency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Skill&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;sirenum__Valid__c&quot;,&quot;guid&quot;:&quot;column-89f7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Valid&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;sirenum__Valid_from__c&quot;,&quot;guid&quot;:&quot;column-f992&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Valid From&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;sirenum__Valid_until__c&quot;,&quot;guid&quot;:&quot;column-0710&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Valid To&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedQuals</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QualificationBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoData</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;There are no expiring competencies&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QualificationBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Successfooter</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Send Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Send Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QualificationBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Competencies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://impellam.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0684J00000kUNny&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T4J00002R7iwM&amp;amp;page=0&amp;amp;d=/a/4J0000003LRk/TFLVw9xCBRAeGtGlC2_q4u4KPQRsf2wV5556lKS66tM&amp;amp;oid=00DQz000004iDs6&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;Banner&quot;&gt;&lt;/p&gt;&lt;p&gt;Hello {!CandidateName},&lt;/p&gt;&lt;p&gt;The below qualification(s) are due to expire within the next 30 days, Please send the relevant documentation so this can be updated.&lt;/p&gt;&lt;p&gt;{!vaEmailTableBody}&lt;/p&gt;&lt;p&gt;{!$User.Name__c}&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://impellam.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0684J00000kUNnx&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T4J00002R7iwH&amp;amp;page=0&amp;amp;d=/a/4J0000003LRp/G9EMXI70dvNbtDYLrWE48BY2hiRcQ3jkf9iaW320JQg&amp;amp;oid=00DQz000004iDs6&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;Logo&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 170, 227); font-size: 18px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;W:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;bluearrow.co.uk&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 18px; font-family: Arial, Helvetica, sans-serif;&quot;&gt;{!$User.Address_for_email__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 170, 227);&quot;&gt;&lt;em&gt;Leading the way in creating innovative, inclusive workforce solutions.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://impellam.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0684J00000kUNnw&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T4J00002R7iId&amp;amp;page=0&amp;amp;d=/a/4J0000003LRu/THjgeX.IgoQM_5CzMPcE0RzLAfUxGMM3.AO6pW_fNro&amp;amp;oid=00DQz000004iDs6&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;Footer&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Urgent - Expiring qualification(s)</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableAndHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;max-width:800px;&quot;&gt;
&lt;table style=&quot;border:1px solid black;width:100%;&quot;&gt;
&lt;tr&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Qualification&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Expiry Date&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: {!ffBackgroundColor}; border: 1px solid {!ffBackgroundColor};&quot;&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!LoopQuals.Skill__c}&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!LoopQuals.sirenum__Valid_until__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>CandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Exclude_Var</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualificationBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QualificationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Ticket__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedQuals</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Ticket__c</objectType>
    </variables>
    <variables>
        <name>SkillsBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SkillsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Ticket__c</objectType>
    </variables>
    <variables>
        <name>vaEmailTableBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaQualCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vaRowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
