Frankbelford/FBv1/force-app/main/default/flows/Screen_Flow_Site_Sales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>159</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>ExisitingSites</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Loop.Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>585</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End</name>
        <label>Assign End</label>
        <locationX>719</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_End_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_0</name>
        <label>Assign End</label>
        <locationX>573</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Sales_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Assignment</name>
        <label>Date Assignment</label>
        <locationX>568</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>EndDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Junction_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Campaign_Assignment</name>
        <label>Sales Campaign Assignment</label>
        <locationX>1368</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SalesCampaign.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiteLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesCampaign.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesCampaign.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesCampaign.Sales_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sales_Campaign.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesCampaign.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuccessSite</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Campaign_Assignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Campaign_Assignment_0</name>
        <label>Sales Campaign Assignment</label>
        <locationX>1157</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>SalesCampaignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SalesCampaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiteLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Site_Text_Assign</name>
        <label>Site Text Assign</label>
        <locationX>1410</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>SiteText2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiteLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TextAssign</name>
        <label>TextAssign</label>
        <locationX>830</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Assignment</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort</label>
        <locationX>522</locationX>
        <locationY>808</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Sales_Junction</collectionReference>
        <connector>
            <targetReference>Junction_Loop</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Duplicate_Value</name>
        <label>Duplicate Value</label>
        <locationX>1062</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Screen2_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
        <rules>
            <name>Create_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0_0_0</targetReference>
            </connector>
            <label>Only Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordID_Not_Blank</name>
        <label>RecordID Not Blank</label>
        <locationX>781</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Assign_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Found</name>
        <label>Site Found</label>
        <locationX>1449</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Sales_Campaign_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_Found_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingSites</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SiteLoop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Text_Assign</targetReference>
            </connector>
            <label>Site Found 2</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SalesCampaigns</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Campaign__c</picklistField>
        <picklistObject>Sales_Campaign__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SiteName</name>
        <dataType>String</dataType>
        <expression>LEFT({!SiteLoop.Name}, 74)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Site Sales Logging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Site Sales</label>
    <loops>
        <name>Existing_Loop</name>
        <label>Existing Loop</label>
        <locationX>333</locationX>
        <locationY>934</locationY>
        <collectionReference>Get_Sales_Campaign_Existing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Junction_Loop</name>
        <label>Junction Loop</label>
        <locationX>675</locationX>
        <locationY>804</locationY>
        <collectionReference>Get_Sales_Junction</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TextAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SiteLoop</name>
        <label>SiteLoop</label>
        <locationX>1105</locationX>
        <locationY>653</locationY>
        <collectionReference>Get_Sites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Site_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Sales_Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sales_Campaigns</name>
        <label>Create Sales Campaigns</label>
        <locationX>1019</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Duplicate_Value</targetReference>
        </connector>
        <inputReference>SalesCampaignCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Sales_Campaign</name>
        <label>Get Sales Campaign</label>
        <locationX>422</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Junction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Development Planner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Campaign_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Campaign_Existing</name>
        <label>Get Sales Campaign Existing</label>
        <locationX>259</locationX>
        <locationY>774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Campaign__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Junction</name>
        <label>Get Sales Junction</label>
        <locationX>215</locationX>
        <locationY>639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Campaign_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Junction__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sites</name>
        <label>Get Sites</label>
        <locationX>928</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SiteLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>814</locationX>
        <locationY>587</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Sites</targetReference>
        </connector>
        <fields>
            <name>Start</name>
            <dataType>Date</dataType>
            <fieldText>What date will this 13 Week Sales Plan begin?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Sales Campaigns should start on a future Monday&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
CASE(
  MOD({!Start}- DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)=&quot;Monday&quot;
,
{!Start} &gt;= {!$Flow.CurrentDate}
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Task List&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!AllTasks}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_0</name>
        <label>Screen2</label>
        <locationX>1202</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Attention!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;13 Week Sales Plan has been started for the following Sites:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!SuccessSite}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The following sites have not been added to your CDP as they are already in progress:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!SiteText2}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://blue-arrow.my.salesforce.com/lightning/n/Client_Development_Planner&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;to view your Client Development Planner&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0</name>
        <label>Screen2</label>
        <locationX>930</locationX>
        <locationY>1230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Testid_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;13 Week Sales Plan has been started for the following Sites:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!SuccessSite}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://blue-arrow.my.salesforce.com/lightning/n/Client_Development_Planner&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to view your Client Development Planner&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2_0_0_0</name>
        <label>Screen2</label>
        <locationX>1300</locationX>
        <locationY>1023</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Attention!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The following sites have not been added to your CDP as they are already in progress:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!SiteText2}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://blue-arrow.my.salesforce.com/lightning/n/Client_Development_Planner&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Click Here&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; to view your Client Development Planner&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>709</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>RecordID_Not_Blank</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CampaignName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CDP - {!SiteName}</text>
    </textTemplates>
    <textTemplates>
        <name>Site</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!SiteLoop.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 170, 227);&quot;&gt;{!Junction_Loop.Label}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;- {!Junction_Loop.Sales_Task__r.MasterLabel}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllTasks</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Create</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Duplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExisitingSites</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Campaign__c</objectType>
    </variables>
    <variables>
        <name>SalesCampaignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Campaign__c</objectType>
    </variables>
    <variables>
        <name>SalesTasks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteText2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
