Frankbelford/FBv1/force-app/main/default/flows/Vetting_and_Compliance_Record_Triggered_Flow_Support_Document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Link_Assignment</name>
        <label>Link Assignment</label>
        <locationX>692</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Single_Link.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_Loop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Link.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Link_Loop.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Assignment_0</name>
        <label>Link Assignment</label>
        <locationX>204</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>Single_Link.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Single_Link.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Vetting_Document__r.Enhanced_Vetting__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Collection</name>
        <label>Link Collection</label>
        <locationX>631</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>CollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Link_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Collection_0</name>
        <label>Link Collection</label>
        <locationX>175</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>CollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Single_Link</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Links</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Vetting and Compliance - Record Triggered Flow - Support Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - Record Triggered Flow - Support Document</label>
    <loops>
        <name>Link_Loop</name>
        <label>Link Loop</label>
        <locationX>334</locationX>
        <locationY>486</locationY>
        <collectionReference>Get_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Link_Assignment_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Links</name>
        <label>Create Links</label>
        <locationX>323</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>Delete_Links</targetReference>
        </connector>
        <inputReference>CollectionVar</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Links</name>
        <label>Delete Links</label>
        <locationX>366</locationX>
        <locationY>847</locationY>
        <inputReference>Get_Document_Link</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>1081</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Link</name>
        <label>Get Document Link</label>
        <locationX>202</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vetting_Document__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>49</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Document_Link</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Information_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Identification Documentation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Occupational Health Certificate</stringValue>
            </value>
        </filters>
        <object>Vetting_Supporting_Information__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Image</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;img src=&quot;https://impellam--systest--c.documentforce.com/sfc/servlet.shepherd/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId={!Get_Content_Document.LatestPublishedVersionId}&amp;amp;operationContext=CHATTER&amp;amp;contentId={!Get_Content_Document.Id}&quot;&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Images</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Single_Link</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
