Frankbelford/FBv1/force-app/main/default/flows/Vetting_and_Compliance_Capita_ID_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>575</locationX>
        <locationY>571</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissble</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Vetting document updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Choices</name>
        <label>Assign Choices</label>
        <locationX>1279</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Driving licence</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bank / Credit card / Builiding Society statement – dated within the last 3months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Letter from HMRC, DWP, employment sevice or local authority – dated within the last 3 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Payslip – dated within the last 3 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Utility bill – dated within the last 3 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>P45 , P60 – dated within the last 12 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Mortgage statement – dated within the last 12 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Pension, endowment or ISA statement – dated within the last 12 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Child benefit book – dated within the last 12 months</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ID_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Council tax bill – dated within the last 12 months</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Add_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Percentage</name>
        <label>Assign Percentage</label>
        <locationX>939</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>CompletePercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enhanced_Vetting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_2a_Assignment</name>
        <label>Group 2a Assignment</label>
        <locationX>507</locationX>
        <locationY>1377</locationY>
        <assignmentItems>
            <assignToReference>Group2a_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_2a_Auto</name>
        <label>Group 2a Auto</label>
        <locationX>871</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>Group</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proof of Address Documents</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Support_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ID_Assignment</name>
        <label>ID Assignment</label>
        <locationX>193</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>ID_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Supporting_Information_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SupportingText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Supporting_Information_Loop.Supporting_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supporting_Information_Loop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirmation</name>
        <choiceText>I confirm</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Outcomes</name>
        <label>Decision Outcomes</label>
        <locationX>1005</locationX>
        <locationY>860</locationY>
        <defaultConnector>
            <targetReference>Auto_Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Activity_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Button.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Choices</targetReference>
            </connector>
            <label>Add Activity History</label>
        </rules>
        <rules>
            <name>Complete_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompleteButton.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Percentage</targetReference>
            </connector>
            <label>Complete Pressed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_Assign</name>
        <label>Group Assign</label>
        <locationX>1016</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Create_Support_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proof_of_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driving licence</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank / Credit card / Builiding Society statement – dated within the last 3months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter from HMRC, DWP, employment service or local authority – dated within the last 3 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payslip – dated within the last 3 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utility bill – dated within the last 3 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P45 , P60 – dated within the last 12 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage statement – dated within the last 12 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pension, endowment or ISA statement – dated within the last 12 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child benefit book – dated within the last 12 months</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IDType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Council tax bill – dated within the last 12 months</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_2a_Auto</targetReference>
            </connector>
            <label>Proof of Address Documents</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_Group_Type</name>
        <label>ID Group Type</label>
        <locationX>491</locationX>
        <locationY>1150</locationY>
        <defaultConnector>
            <targetReference>ID_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProofofAddressDocuments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Supporting_Information_Loop.ID_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof of Address Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_2a_Assignment</targetReference>
            </connector>
            <label>Proof of Address Documents</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <expression>LEFT({!IDType.value},80)</expression>
    </formulas>
    <interviewLabel>Vetting and Compliance - Capita - ID Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - Capita - ID Documents</label>
    <loops>
        <name>Supporting_Information_Loop</name>
        <label>Supporting Information Loop</label>
        <locationX>496</locationX>
        <locationY>979</locationY>
        <collectionReference>Get_Supporting_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ID_Group_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ID_Document_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Support_Documents</name>
        <label>Create Support Documents</label>
        <locationX>752</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>ID_Group__c</field>
            <value>
                <elementReference>Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Type__c</field>
            <value>
                <elementReference>IDType.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Type__c</field>
            <value>
                <stringValue>Identification Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DocumentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporting_Text__c</field>
            <value>
                <elementReference>SupportingTextVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vetting_Document__c</field>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Vetting_Supporting_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>348</locationX>
        <locationY>571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enhanced_Vetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enhanced_Vetting</name>
        <label>Get Enhanced Vetting</label>
        <locationX>184</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capita</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supporting_Information</name>
        <label>Get Supporting Information</label>
        <locationX>366</locationX>
        <locationY>834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supporting_Information_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vetting_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vetting_Supporting_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vetting_Document</name>
        <label>Get Vetting Document</label>
        <locationX>164</locationX>
        <locationY>819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supporting_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enhanced_Vetting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Identification Documentation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vetting_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enhanced_Vetting</name>
        <label>Update Enhanced Vetting</label>
        <locationX>1162</locationX>
        <locationY>1160</locationY>
        <connector>
            <targetReference>Update_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Percent__c</field>
            <value>
                <elementReference>CompletePercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document</name>
        <label>Update Vetting Document</label>
        <locationX>1351</locationX>
        <locationY>1150</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Text__c</field>
            <value>
                <elementReference>DocumentText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Auto_Navigation</name>
        <label>Auto Navigation</label>
        <locationX>1166</locationX>
        <locationY>1040</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URL_Navigate</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/mycompliance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ID_Add_Screen</name>
        <label>ID Add Screen</label>
        <locationX>1163</locationX>
        <locationY>636</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Group_Assign</targetReference>
        </connector>
        <fields>
            <name>Header_Text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;ID Documents&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IDType</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vetting_Supporting_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>ID_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Please choose the document type below:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>800.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>ID_Collection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>BA_Privacy_policy</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;For further details on how we use and store your data please review our &lt;/span&gt;&lt;a href=&quot;https://www.rssglobal.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;&lt;strong&gt;privacy notice&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(23, 43, 77); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>qsydApps_AO:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>IdentificationDocumention</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>Get_Vetting_Document.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer784</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButtonLabel</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ID_Document_Screen</name>
        <label>ID Document Screen</label>
        <locationX>777</locationX>
        <locationY>867</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Outcomes</targetReference>
        </connector>
        <fields>
            <name>Back1</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/mycompliance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 32, 42); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;IDENTIFICATION DOCUMENTATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Group1Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;In order to verify your identify we need at least 1 document from the below list of &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(102, 102, 102);&quot;&gt;Accepted forms of Proof Of Address:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Driving licence&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Bank / Credit card / Builiding Society statement&lt;/strong&gt; – dated within the last 3 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Letter from HMRC, DWP, employment sevice or local authority&lt;/strong&gt; – dated within the last 3 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Payslip&lt;/strong&gt; – dated within the last 3 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Utility bill&lt;/strong&gt; – dated within the last 3 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;P45 , P60&lt;/strong&gt; – dated within the last 12 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mortgage statement&lt;/strong&gt; – dated within the last 12 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Pension, endowment or ISA statement&lt;/strong&gt; – dated within the last 12 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Child benefit book&lt;/strong&gt; – dated within the last 12 months&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Council tax bill&lt;/strong&gt; – dated within the last 12 months&lt;/li&gt;&lt;/ul&gt;&lt;p style=&quot;text-align: center;&quot;&gt;**Unfortunately, we cannot accept any other forms of POA**&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completed_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(0, 127, 23);&quot;&gt;✔&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Status: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Completed&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;Date: &lt;/span&gt;&lt;b style=&quot;font-size: 14px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Vetting_Document.Document_Completed_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CompleteButton</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Mark as completed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Group2a_Count</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add Identification Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ID_Table</name>
            <extensionName>c:SupportingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Vetting_Supporting_Information__cList</name>
                <value>
                    <elementReference>ID_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>IDTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableMode</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IDCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>139</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DocumentText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Identification Documentation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Status: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Completed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Date: &lt;/b&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;{!SupportingText}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ID_Document_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ID Document - {!IDCount}</text>
    </textTemplates>
    <textTemplates>
        <name>SupportingTextVar</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;ID Type: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-size: 16px;&quot;&gt; {!IDType.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;ID Group:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;{!Group}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Agreement</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Enhanced_Vetting.Complete_Percent__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group1_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Group2a_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ID_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>IDCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employed</stringValue>
        </value>
    </variables>
    <variables>
        <name>SupportDocumentCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>Supporting_Document_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>SupportingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>To</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
