Frankbelford/FBv1/force-app/main/default/flows/Vetting_and_Compliance_RMG_Confirmation_of_Induction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1479</locationX>
        <locationY>267</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Auto_Navigation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissble</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Vetting document updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Agreement_Assignment</name>
        <label>Agreement Assignment</label>
        <locationX>427</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>Agreement_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>I Confirm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Choices</name>
        <label>Assign Choices</label>
        <locationX>115</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>Choices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Choices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Agreement</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>I Confirm</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Percentage</name>
        <label>Assign Percentage</label>
        <locationX>926</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>CompletePercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enhanced_Vetting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Document_Status</name>
        <label>Document Status</label>
        <locationX>970</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Update_Vetting_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Percentage</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Value_Assign</name>
        <label>Value Assign</label>
        <locationX>347</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>RMG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agreement_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Agreement_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agreement_Assignment</targetReference>
            </connector>
            <label>Agreement Outcome</label>
        </rules>
    </decisions>
    <description>PT1 - 1462 Update to RMG Enahnced Vetting attachment</description>
    <environments>Default</environments>
    <interviewLabel>Vetting and Compliance - RMG - Confirmation of Induction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - RMG - Confirmation of Induction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>393</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enhanced_Vetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enhanced_Vetting</name>
        <label>Get Enhanced Vetting</label>
        <locationX>283</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Royal Mail Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vetting_Document</name>
        <label>Get Vetting Document</label>
        <locationX>50</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enhanced_Vetting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmation of Induction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vetting_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enhanced_Vetting</name>
        <label>Update Enhanced Vetting</label>
        <locationX>1196</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Update_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Percent__c</field>
            <value>
                <elementReference>CompletePercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document</name>
        <label>Update Vetting Document</label>
        <locationX>1272</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Text__c</field>
            <value>
                <elementReference>Document_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Auto_Navigation</name>
        <label>Auto Navigation</label>
        <locationX>1171</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URL_Navigate</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/mycompliance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMG</name>
        <label>RMG</label>
        <locationX>675</locationX>
        <locationY>467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Document_Status</targetReference>
        </connector>
        <fields>
            <name>LogoText_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;img src=&quot;https://impellam--systest--c.documentforce.com/sfc/servlet.shepherd/version/download/0688E000001pLXU?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header_Text_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 32, 42); font-size: 18px;&quot;&gt;Confirmation of Induction&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Please answer the questions below (all answers are present in your&lt;/span&gt;&lt;span style=&quot;color: rgb(218, 32, 42); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://blue-arrow.my.salesforce.com/sfc/p/#0Y000000LzSj/a/Q5000000Y3pt/qPiaupDMEwMFUCbAEXcTSb4RWhPyIYWAhqQakJcrDUk&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;&lt;strong&gt;Royal Mail Employee Handbook&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Values</name>
            <dataType>String</dataType>
            <fieldText>Can you state one of the Royal Mail Values which you think will be important in the job you will do?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Crime</name>
            <dataType>String</dataType>
            <fieldText>Who should you report any crime or suspected crime against Royal Mail Group to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TreatedUnfairly</name>
            <dataType>String</dataType>
            <fieldText>What should you do if you think you have been treated unfairly or without respect?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LostLetters</name>
            <dataType>String</dataType>
            <fieldText>Can you state one cause of lost letters or parcels?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SafeHandling</name>
            <dataType>String</dataType>
            <fieldText>Can you state one tip for safe handling and lifting?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Single String Collection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>Agreement</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Please confirm you have read and understood the handbook and are fully aware of the content and your obligations regarding personal safety and my duty to safeguard mail</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>800.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Next_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>297</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Document_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(218, 32, 42); background-color: rgb(255, 255, 255);&quot;&gt;Confirmation of Induction&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: sans-serif;&quot;&gt;Status: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: sans-serif;&quot;&gt;Completed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; font-family: Arial, sans-serif;&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Can you state one of the Royal Mail Values which you think will be important in the job you will do?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Values}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Who should you report any crime or suspected crime against Royal Mail Group to?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Crime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;What should you do if you think you have been treated unfairly or without respect?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!TreatedUnfairly}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Can you state one cause of lost letters or parcels?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!LostLetters}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Can you state one tip for safe handling and lifting?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!SafeHandling}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Signed By:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; {!Get_Candidate.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Signed Date: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!$Flow.CurrentDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Agreement</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Agreement_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Birth_Country_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Choices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Enhanced_Vetting.Complete_Percent__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>CriminalConvictonVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>MotoringOffenceVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>Name_Change_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>Nationality_Change_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>PendingProsecutionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Resident_Out_Uk_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </variables>
</Flow>
