Frankbelford/FBv1/force-app/main/default/flows/VMS_Client_Subscription_View.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Account_Subscription</name>
        <label>Account Subscription</label>
        <locationX>604</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Subscription_View</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Subscriptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>No Subscription</label>
        </rules>
    </decisions>
    <description>Allows a client to manage their subscriptions</description>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>VMS - Client - Subscription View {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMS - Client - Subscription View</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Subscription</name>
        <label>Create Account Subscription</label>
        <locationX>594</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_Account_Subscriptions</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Subscriptions</name>
        <label>Get Account Subscriptions</label>
        <locationX>431</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_Link__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>747</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subscription</name>
        <label>Update Subscription</label>
        <locationX>408</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Subscription_View_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Subscriptions.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Filled_Shift_Notification__c</field>
            <value>
                <elementReference>Notification_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <object>Subscriptions__c</object>
    </recordUpdates>
    <screens>
        <name>Subscription_View</name>
        <label>Subscription View</label>
        <locationX>603</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Subscription</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 170, 227); font-size: 20px;&quot;&gt;Shift Notifications&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 14px;&quot;&gt;Once a day we will notify you by email about any shifts filled in the previous 24 hours for your ongoing Bookings&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(194, 57, 52);&quot;&gt;Remember to Save any changes you make!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notification_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Account_Subscriptions.Filled_Shift_Notification__c</elementReference>
            </defaultValue>
            <fieldText>I wish to see shift notifications for all ongoing Bookings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pauseButtonLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Subscription_View_0</name>
        <label>Subscription View</label>
        <locationX>339</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Account_Subscriptions</targetReference>
        </connector>
        <fields>
            <name>Display_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(0, 170, 227);&quot;&gt;Shift Notifications&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(75, 202, 128);&quot;&gt;Changes Saved!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer1_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account_Subscriptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
