Frankbelford/BAFullDevNEW/force-app/main/default/flows/Account_A_Z_Managers_Email_First_timesheet_last_week.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_SendEmail</name>
        <label>SendEmail - Remaining Emails</label>
        <locationX>50</locationX>
        <locationY>2664</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>BranchManagersEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply@bluearrow.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PING - New A-Z accounts last week</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SendEmail</name>
        <label>SendEmail</label>
        <locationX>270</locationX>
        <locationY>2172</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Reset</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>BranchManagersEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>no.reply@bluearrow.co.uk</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>PING - New A-Z accounts last week</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AccountCount</name>
        <label>AccountCount</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>vaAccountCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountGotTimesheet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmail</name>
        <label>AssignEmail</label>
        <locationX>402</locationX>
        <locationY>1848</locationY>
        <assignmentItems>
            <assignToReference>BranchManagersEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopThroughUsers.Assignee.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_BatchCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asstInitTable</name>
        <label>asstInitTable</label>
        <locationX>182</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttTableAndHeader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildTable</name>
        <label>BuildTable</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttTableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseTable</name>
        <label>CloseTable</label>
        <locationX>182</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetBranchManagers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_BatchCounter</name>
        <label>Increment BatchCounter</label>
        <locationX>402</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>BatchCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Batch_Size1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_LoopCounter</name>
        <label>Increment LoopCounter</label>
        <locationX>402</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>placementownerrole1</name>
        <label>placementownerrole</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>PlacementOwnerRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Placement.IP_Consultant1LookupSplitShare__r.Role_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildTable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset</name>
        <label>Reset</label>
        <locationX>270</locationX>
        <locationY>2280</locationY>
        <assignmentItems>
            <assignToReference>BatchCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BranchManagersEmails</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughUsers</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sortAccounts</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sortAccounts</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Accounts</collectionReference>
        <connector>
            <targetReference>asstInitTable</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>First_Timesheet__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>AccountGotTimesheet</name>
        <label>AccountGotTimesheet</label>
        <locationX>380</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_has_new_timesheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaAccountCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sortAccounts</targetReference>
            </connector>
            <label>Account has new timesheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>611</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Batch_Size1</name>
        <label>Check Batch Size</label>
        <locationX>402</locationX>
        <locationY>2064</locationY>
        <defaultConnector>
            <targetReference>LoopThroughUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>batchfull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BatchCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BatchSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>batch full</label>
        </rules>
    </decisions>
    <decisions>
        <name>emails_remaining</name>
        <label>emails remaining</label>
        <locationX>182</locationX>
        <locationY>2556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>batch_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BatchCounter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SendEmail</targetReference>
            </connector>
            <label>batch not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ffBackgroundColor</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!vaRowNumber},2) = 0, &quot;#f2f2f2&quot;, &quot;#ffffff&quot;)</expression>
    </formulas>
    <formulas>
        <name>ffBaseURL</name>
        <dataType>String</dataType>
        <expression>Left({!$Api.Enterprise_Server_URL_190},(find(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_190})))</expression>
    </formulas>
    <formulas>
        <name>ffMonthYear</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1,&quot;January&quot;,2,&quot;February&quot;, 3, &quot;March&quot;, 4,&quot;April&quot;,5,&quot;May&quot;,6,&quot;June&quot;,7,&quot;July&quot;,8,&quot;August&quot;,9,&quot;September&quot;,10,&quot;October&quot;,11,&quot;November&quot;,12,&quot;December&quot;,&quot;Voldemort&quot;) &amp; &quot; &quot;&amp;TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>WeekEndDate</name>
        <dataType>Date</dataType>
        <expression>(TODAY() - CASE(
    WEEKDAY(TODAY()),
    1, 6,   /* Sunday: go back 6 days */
    2, 7,   /* Monday: go back 7 days */
    3, 8,   /* Tuesday: go back 8 days */
    4, 9,   /* Wednesday: go back 9 days */
    5, 10,  /* Thursday: go back 10 days */
    6, 11,  /* Friday: go back 11 days */
    7, 12,  /* Saturday: go back 12 days */
    7       /* Default value */
)) + 6</expression>
    </formulas>
    <formulas>
        <name>WeekStartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - CASE(
    WEEKDAY(TODAY()),
    1, 6,   /* Sunday: go back 6 days */
    2, 7,   /* Monday: go back 7 days */
    3, 8,   /* Tuesday: go back 8 days */
    4, 9,   /* Wednesday: go back 9 days */
    5, 10,  /* Thursday: go back 10 days */
    6, 11,  /* Friday: go back 11 days */
    7, 12,  /* Saturday: go back 12 days */
    7       /* Default value */
)</expression>
    </formulas>
    <interviewLabel>Account - A-Z - Managers Email - First timesheet last week {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - A-Z - Managers Email - First timesheet last week</label>
    <loops>
        <name>loopAccounts</name>
        <label>loopAccounts</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Placement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughUsers</name>
        <label>LoopThroughUsers</label>
        <locationX>182</locationX>
        <locationY>1632</locationY>
        <collectionReference>GetBranchManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_LoopCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>emails_remaining</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Timesheet__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>WeekStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Timesheet__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>WeekEndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A-Z Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Placement</name>
        <label>Get Placement</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>placementownerrole1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopAccounts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IP_Consultant1LookupSplitShare__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Placement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBranchManagers</name>
        <label>GetBranchManagers</label>
        <locationX>182</locationX>
        <locationY>1524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PSPv000001tHNpOAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-09-11</startDate>
            <startTime>22:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Last week the following new accounts(&lt;/span&gt;&lt;strong style=&quot;color: rgb(59, 122, 228); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!vaAccountCount}&lt;/strong&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;) were supplied by Blue Arrow for the first time. Check them out in case they are in your area!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!vaEmailTableBody}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableAndHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;max-width:800px;&quot;&gt;
&lt;table style=&quot;border:1px solid black;width:100%;&quot;&gt;
&lt;tr&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Account Name&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;First Timesheet Date&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Supplying Branch&lt;/th&gt;

&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: {!ffBackgroundColor}; border: 1px solid {!ffBackgroundColor};&quot;&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;&lt;a href=&quot;{!ffBaseURL}{!loopAccounts.Id}&quot;&gt;{!loopAccounts.Name}&lt;/a&gt;&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!loopAccounts.First_Timesheet__c}&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!PlacementOwnerRole}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>BatchCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BatchSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BranchManagersEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PlacementOwnerRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaAccountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vaEmailTableBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaRowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
