Frankbelford/BAFullDevNEW/force-app/main/default/flows/AWR_notification_trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_AWR_Alert_to_consultant</name>
        <label>Send AWR Alert to consultant</label>
        <locationX>704</locationX>
        <locationY>867</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_AWR_notification_sent_checkbox</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>AWR_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014UbKAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ToEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Candidate Close To AWR Parity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Branch_Email</name>
        <label>Assign Branch Email</label>
        <locationX>927</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>ToEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Branch_Email.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_AWR_Alert_to_consultant</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AWR_Decision</name>
        <label>AWR Decision</label>
        <locationX>629</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Send_AWR_Alert_to_consultant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_flagged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Client__r.AWR_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Account flagged</label>
        </rules>
        <rules>
            <name>Already_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AWR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Sent</label>
        </rules>
        <rules>
            <name>Owner_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Contact__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Branch_Email</targetReference>
            </connector>
            <label>Owner Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1053</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AWR</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <description>This flow will trigger the email sent to the account owner for the candidates AWR eligibility.</description>
    <environments>Default</environments>
    <interviewLabel>AWR notification trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AWR notification trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AWR</name>
        <label>Get AWR</label>
        <locationX>748</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AWR_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AWR_Notification_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__AWR_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__AWR_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__AWR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branch_Email</name>
        <label>Get Branch Email</label>
        <locationX>834</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Branch_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Contact__r.IP_TempestDepartment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_Shift_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AWR_notification_sent_checkbox</name>
        <label>Update AWR notification sent checkbox</label>
        <locationX>899</locationX>
        <locationY>899</locationY>
        <inputAssignments>
            <field>AWR_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>623</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Weeks_Worked__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <object>sirenum__AWR__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AWR_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.sirenum__Contact__r.Owner.FirstName}&lt;/p&gt;&lt;p&gt;{!$Record.sirenum__Contact__r.FirstName} {!$Record.sirenum__Contact__r.LastName} has now hit 10 AWR weeks with {!$Record.sirenum__Client__r.Name} and will soon reach parity if they continue to work in this role ({!$Record.sirenum__AWR_Group__c}).&lt;/p&gt;&lt;p&gt;When a candidate reaches parity, we must ensure:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;That they have ‘equal pay’ - the same pay as a permanent colleague doing the same job.&lt;/li&gt;&lt;li&gt;That they have holiday entitlement that is in line with permanent colleagues doing the same job.&lt;/li&gt;&lt;li&gt;Any other agreed upon parity benefits&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If this candidate is not already receiving the above, please check that the Rate Card for this candidate’s Job Role has post-AWR rates added and that the post-AWR holiday entitlement on the Job Role is in line with permanent colleagues at this client. The increased rate and holiday entitlement will automatically be applied as soon as the candidate reaches parity, as long as they are on Jobscience before they reach parity.&lt;/p&gt;&lt;p&gt;The candidate should be made aware of any changes to their pay rate/holiday entitlement, and the client should also be informed when the candidate is due to reach parity as this can affect PO calculations/invoice totals.&lt;/p&gt;&lt;p&gt;Kind Regards&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ToEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.sirenum__Contact__r.Owner.Email</elementReference>
        </value>
    </variables>
</Flow>
