Frankbelford/BAFullDevNEW/force-app/main/default/flows/Job_Offer_created_Send_Push_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert</name>
        <label>Email Alert</label>
        <locationX>50</locationX>
        <locationY>716</locationY>
        <actionName>sirenum__Shift_Invitation__c.BA_Invitation_Alert_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sirenum__Shift_Invitation__c.BA_Invitation_Alert_Email</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PushNotificationRecords_To_List</name>
        <label>Add PushNotificationRecords To List</label>
        <locationX>1079</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>varPushNotificationLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPushNotificationRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Same_Shift_Job_Offers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rejection_Reason_and_Comments</name>
        <label>Assign Rejection Reason and Comments</label>
        <locationX>1180</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>Loop_Same_Shift_Job_Offers.Rejection_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shift No Longer Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Same_Shift_Job_Offers.Rejection_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Thank you for applying for this shift. Unfortunately this shift is no longer available! Please keep applying for shifts that you are interested in and remember that you can turn on shift notifications within Find work when adding job preferences, meaning you will get a notification as soon as we have a shift available to apply for 😊</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignJobOffersToLst</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignJobOffersToLst</name>
        <label>AssignJobOffersToLst</label>
        <locationX>1414</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>JobOffersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Same_Shift_Job_Offers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignPushNotificationValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPushNotificationValues</name>
        <label>assignPushNotificationValues</label>
        <locationX>1337</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>varPushNotificationRecord.sirenum__WhatId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Same_Shift_Job_Offers.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPushNotificationRecord.sirenum__WhoId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Same_Shift_Job_Offers.sirenum__Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPushNotificationRecord.sirenum__Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shift Already Taken</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPushNotificationRecord.sirenum__Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEventMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PushNotificationRecords_To_List</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>pushDescription</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A new job offer is available to apply for</stringValue>
        </value>
    </constants>
    <constants>
        <name>pushTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New job offer</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1101</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Same_Shift_Job_Offers</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>606</locationX>
        <locationY>632</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broadcasting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Push_Notification</targetReference>
            </connector>
            <label>Missing email</label>
        </rules>
        <rules>
            <name>Is_Job_Offer_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <label>Is Job Offer Accepted</label>
        </rules>
        <rules>
            <name>IsJobOfferFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.sirenum__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Push_Notification_Event</targetReference>
            </connector>
            <label>Is Job Offer Failed</label>
        </rules>
        <rules>
            <name>Is_Job_Offer_Completed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shift_Demand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__r.Remaining_Shifts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__r.sirenum__AssignedShifts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.sirenum__Shift__r.sirenum__Broadcasts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Same_Shift_Job_Offers</targetReference>
            </connector>
            <label>Is Job Offer Completed</label>
        </rules>
    </decisions>
    <description>Sends push notification and email if Job Offer Status = Broadcasting</description>
    <environments>Default</environments>
    <interviewLabel>Job Offer created: Send Push &amp; Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Offer created: Send Push &amp; Email</label>
    <loops>
        <name>Loop_Same_Shift_Job_Offers</name>
        <label>Loop Same Shift Job Offers</label>
        <locationX>991</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Same_Shift_Job_Offers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Rejection_Reason_and_Comments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Same_Shift_Job_Offers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notifications</name>
        <label>Create Notifications</label>
        <locationX>991</locationX>
        <locationY>1427</locationY>
        <inputReference>varPushNotificationLst</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This creates the push notification to be sent. The sending is handled elsewhere.</description>
        <name>Create_Push_Notification</name>
        <label>Create Push Notification</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <elementReference>pushDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <elementReference>pushTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Push Notification When a Job Offer is Failed</description>
        <name>Create_Push_Notification_Event</name>
        <label>Create Push Notification Event</label>
        <locationX>596</locationX>
        <locationY>848</locationY>
        <inputAssignments>
            <field>sirenum__Message__c</field>
            <value>
                <elementReference>$Record.RejectionComments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Title__c</field>
            <value>
                <elementReference>$Record.RejectionReason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhatId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WhoId__c</field>
            <value>
                <elementReference>$Record.sirenum__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__PushNotificationEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Job Offers for the Same Shift that was accepted</description>
        <name>Get_Same_Shift_Job_Offers</name>
        <label>Get Same Shift Job Offers</label>
        <locationX>683</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>sirenum__Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Shift__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stale</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift_Invitation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Same_Shift_Job_Offers</name>
        <label>Update Same Shift Job Offers</label>
        <locationX>717</locationX>
        <locationY>1136</locationY>
        <connector>
            <targetReference>Create_Notifications</targetReference>
        </connector>
        <inputReference>JobOffersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>975</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <filterFormula>OR(
   AND(
      ISNEW(),
OR(
      ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Broadcasting&quot;),
      ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Failed&quot;),
      ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Accepted&quot;),
      ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Complete&quot;)
)
   ),
   AND(
      ISCHANGED({!$Record.sirenum__Status__c}),
      OR(
         ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Broadcasting&quot;),
         ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Failed&quot;),
         ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Accepted&quot;),
         ISPICKVAL({!$Record.sirenum__Status__c}, &quot;Complete&quot;)
      )
   )
)</filterFormula>
        <object>sirenum__Shift_Invitation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobOffersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift_Invitation__c</objectType>
    </variables>
    <variables>
        <name>varEventMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The shift you applied for on {!Loop_Same_Shift_Job_Offers.sirenum__Shift__r.sirenum__Scheduled_Local_Start_Date__c} is no longer available</stringValue>
        </value>
    </variables>
    <variables>
        <name>varPushNotificationLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__PushNotificationEvent__e</objectType>
    </variables>
    <variables>
        <name>varPushNotificationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__PushNotificationEvent__e</objectType>
    </variables>
</Flow>
