Frankbelford/BAFullDevNEW/force-app/main/default/flows/Online_Registration_Proof_of_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>2284</locationX>
        <locationY>567</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Consultant_Proof_of_Address_Task</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014UbKAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>To</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Proof of Address Completed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignTo</name>
        <label>AssignTo</label>
        <locationX>2095</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>To</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementLoop.IP_Consultant1LookupSplitShare__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consultant</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PlacementLoop.IP_Consultant1LookupSplitShare__r.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompetencyAssign</name>
        <label>CompetencyAssign</label>
        <locationX>1480</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>Competency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Proof_of_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proof_of_Address_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompetencyAssign_0</name>
        <label>CompetencyAssign</label>
        <locationX>1459</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Competency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Competency.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proof_of_Address_Upload</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Exists</name>
        <label>Already Exists</label>
        <locationX>1209</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Create_Proof_of_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompetencyAssign_0</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>318</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>S_PlacementAccount</name>
        <label>S-PlacementAccount</label>
        <locationX>1917</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>PlacementLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_POA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PlacementLoop.sirenum__Site__r.sirenum__Operating_Company__r.Additional_Compliance__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Proof of Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTo</targetReference>
            </connector>
            <label>Account POA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), DAY(TODAY()) + 3)</expression>
    </formulas>
    <interviewLabel>Online Registration - Proof of Address {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Online Registration - Proof of Address</label>
    <loops>
        <name>PlacementLoop</name>
        <label>PlacementLoop</label>
        <locationX>2083</locationX>
        <locationY>302</locationY>
        <collectionReference>GetS_placement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>S_PlacementAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Consultant_Proof_of_Address_Task</name>
        <label>Assign Consultant Proof of Address Task</label>
        <locationX>2422</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Proof_of_Address_Upload_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_TaskType__c</field>
            <value>
                <stringValue>General Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify Proof of Address Competency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proof_of_Address</name>
        <label>Create Proof of Address</label>
        <locationX>1372</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>CompetencyAssign</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <elementReference>Get_Competency_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>640</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Competency_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency</name>
        <label>Get Competency</label>
        <locationX>952</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Proof_of_Address_Upload_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Competency_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Revoked__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competency_Type</name>
        <label>Get Competency Type</label>
        <locationX>773</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Competency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proof of Address</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__TicketType__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetS_placement</name>
        <label>GetS-placement</label>
        <locationX>1952</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PlacementLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Placement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_attachment_field</name>
        <label>Update attachment field</label>
        <locationX>1796</locationX>
        <locationY>244</locationY>
        <connector>
            <targetReference>GetS_placement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Competency</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attachment_Provided__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Proof_of_Address_Upload</name>
        <label>Proof of Address Upload</label>
        <locationX>1640</locationX>
        <locationY>367</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_attachment_field</targetReference>
        </connector>
        <fields>
            <name>Proofofaddress_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: Arial, sans-serif; color: rgb(102, 102, 102);&quot;&gt;Proof of Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BA_Privacy_policy</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(23, 43, 77); background-color: rgb(255, 255, 255);&quot;&gt;For further details on how we use and store your data please review our &lt;/span&gt;&lt;a href=&quot;https://www.rssglobal.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;privacy notice&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload1</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Competency</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload your Proof of Address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_embedExternally</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proof_of_Address_Upload_0</name>
        <label>Proof of Address Upload</label>
        <locationX>1080</locationX>
        <locationY>401</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Already_Exists</targetReference>
        </connector>
        <fields>
            <name>Proofofaddress_text_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Proof of Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;The role that you have shown interest in, requires that we obtain proof of your current address. Please provide one or more evidence from the following list, ensuring that any evidence uploaded matches the address that you have provided to us during your registration.&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;Household Bill from the service provider confirming the pre-paid terms of service at the fixed address (for example Gas, Water, Electricity or landline telephone) More than one Household Bill can be used if from 2 separate suppliers, Household Bills in joint names are accepted (must be dated within the last 3 Months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Council Tax Statement (must be dated within the last 12 months) &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;UK full or provisional photo-card driving license front and back details.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Letter from the HMRC which can include tax notification such as, an assessment, statement of account, or notice of coding (must be dated within the last 3 months) &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;A Bank Statement. Cannot be an online banking statement (must be dated within the last 3 months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;A Credit Card Statement. Cannot be an online statement, (must be dated within the last 3 Months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;A financial statement such as Building Society statement of account, Pension Statement. (must be dated within the last 3 Months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Credit Union statement (must be dated within the last 3 Months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Mortgage Statement (must be dated within the last 3 months) &lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Local Council Rent Card or signed Tenancy Agreement (must be dated within the last 3 months)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 12pt; color: rgb(102, 102, 102);&quot;&gt;Evidence of Department or Work and Pensions Benefits, such as Child Allowance, Tax Credits Pension etc (must be dated within the last 3 months)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Proof_of_Address_Upload_0_0</name>
        <label>Proof of Address Upload</label>
        <locationX>2561</locationX>
        <locationY>571</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Proofofaddress_text_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(4, 157, 0);&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(102, 102, 102);&quot;&gt;Proof of Address uploaded, you can close this window.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>395</locationX>
        <locationY>296</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hi {!Consultant},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Your candidate &lt;/span&gt;&lt;a href=&quot;https://bluearrowgroup--fulldev.sandbox.lightning.force.com/lightning/r/Contact/{!RecordId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;{!Get_Candidate.FirstName} {!Get_Candidate.LastName}&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;has completed their Proof of Address. In order to verify &lt;/span&gt;&lt;a href=&quot;https://bluearrowgroup--fulldev.sandbox.lightning.force.com/lightning/r/sirenum__Ticket__c/{!Competency}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;.&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>POACommentText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_Candidate.FirstName} {!Get_Candidate.LastName} has an outstanding Proof of Address competency which needs to be verified, please click &lt;a href=&quot;https://blue-arrow--test.sandbox.lightning.force.com/lightning/r/Contact/{!Get_Candidate.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to navigate to the candidate record and action this. &lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Competency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Consultant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Candidate.Owner.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>LinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>LinkSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Record_Type_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Salutation_Default</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>To</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Candidate.Owner.Email</elementReference>
        </value>
    </variables>
</Flow>
