Frankbelford/BAFullDevNEW/force-app/main/default/flows/Online_Registration_PORTW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Random</name>
        <label>Random</label>
        <locationX>789</locationX>
        <locationY>206</locationY>
        <actionName>GetRandomNumber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Certification</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endNumber</name>
            <value>
                <numberValue>999999.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startNumber</name>
            <value>
                <numberValue>100000.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>GetRandomNumber</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>1863</locationX>
        <locationY>529</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Student</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Proof of right to work created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Success_0</name>
        <label>Success</label>
        <locationX>1388</locationX>
        <locationY>1241</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>You need to upload both documents</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_NI</name>
        <label>Assign NI</label>
        <locationX>50</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>NI_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Temp_NI_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NI_2</name>
        <label>Assign NI</label>
        <locationX>244</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>NI_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>National_Insurance_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sponsorship_VISA</name>
        <label>Assign Sponsorship VISA</label>
        <locationX>380</locationX>
        <locationY>1225</locationY>
        <assignmentItems>
            <assignToReference>Sponsorship_Visa</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PORTW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Multiple</name>
        <label>Content Multiple</label>
        <locationX>1863</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>ContentMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Multiple_0</name>
        <label>Content Multiple</label>
        <locationX>2404</locationX>
        <locationY>1208</locationY>
        <assignmentItems>
            <assignToReference>ContentMultiple</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Loop_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Single_Doucment</name>
        <label>Content Single Doucment</label>
        <locationX>1715</locationX>
        <locationY>1312</locationY>
        <assignmentItems>
            <assignToReference>SingleContentRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContentRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PORTWID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Multiple</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Content_Single_Doucment_0</name>
        <label>Content Single Doucment</label>
        <locationX>2256</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SingleContentRecord.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document_Link_0.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContentRecord.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PORTWID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Multiple_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expiry_Assign</name>
        <label>Expiry Assign</label>
        <locationX>349</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>PORTWExpiry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonUKExpire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PORTWShareCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sponsorship_VISA_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expiry_Assign_0</name>
        <label>Expiry Assign</label>
        <locationX>526</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>PORTWExpiry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UKExpire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShareCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PORTWShareCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sponsorship_VISA_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Gender_Text_Convert</name>
        <label>Convert Gender to Text</label>
        <locationX>51</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>Gender_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gender.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_NI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PORTW_ID_Update</name>
        <label>PORTW ID Update</label>
        <locationX>855</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>PORTWID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Certification.X18_digit_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Contact_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Student_Visa2</name>
        <label>Student Visa</label>
        <locationX>277</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>StudentVisa</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NI_Type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Agreement</name>
        <choiceText>I agree</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>WTR_Agreement</name>
        <choiceText>I wish to waive the restriction of the 48 hour working week, this will allow me to work more than 48 hours per week</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>WTR_Non_Agreement</name>
        <choiceText>I do not wish to waive the restriction of the 48 hour working week, this will restrict my working week to a maximum of 48 hours</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Disagree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>482</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Random</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Type</name>
        <label>Document Type</label>
        <locationX>448</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>Expiry_Assign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_UK_PORTW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiry_Assign</targetReference>
            </connector>
            <label>Non UK PORTW</label>
        </rules>
    </decisions>
    <decisions>
        <name>Files_Uploaded</name>
        <label>Files Uploaded</label>
        <locationX>1830</locationX>
        <locationY>1164</locationY>
        <defaultConnector>
            <targetReference>Success_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PORTWUpload.contentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NIUpload2.contentDocumentIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Loop</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>NI_Type</name>
        <label>NI Type</label>
        <locationX>233</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Temp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gender_Text_Convert</targetReference>
            </connector>
            <label>Temp</label>
        </rules>
        <rules>
            <name>Perm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NI_2</targetReference>
            </connector>
            <label>Perm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>624</locationX>
        <locationY>505</locationY>
        <defaultConnector>
            <targetReference>PORTW_ID_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Right_to_work_screen</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sponsorship_VISA_Decision</name>
        <label>Sponsorship VISA?</label>
        <locationX>373</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Create_PORTW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_a_sponsorship_VISA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sponsorship_VISA</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Student</name>
        <label>Student</label>
        <locationX>2166</locationX>
        <locationY>631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Student_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Student_Visa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student2</targetReference>
            </connector>
            <label>Student Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Student_Decision</name>
        <label>Student Decision</label>
        <locationX>424</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>NI_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Student_Visa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Student_Visa2</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Student_Visa_Decision</name>
        <label>UserID and Upload Type</label>
        <locationX>1277</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Right_to_work_upload_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Attachment</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online Right To Work Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sponsorship_Visa</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PORTW_0_0_0</targetReference>
            </connector>
            <label>Skip Attachment</label>
        </rules>
        <rules>
            <name>UserID_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Right_to_work_upload_screen_0</targetReference>
            </connector>
            <label>UserID missing</label>
        </rules>
        <rules>
            <name>User_ID_Not_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Right_to_work_upload_screen</targetReference>
            </connector>
            <label>User ID Not Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Temp_NI</name>
        <label>Temp NI</label>
        <locationX>846</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Update_Student_on_Candidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Temp_NI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Gender_and_DOB</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Contact_Decision</name>
        <label>User Contact Decision</label>
        <locationX>978</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Right_to_work_upload_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Right_to_work_upload_screen_0</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
        <rules>
            <name>Skip_Attachment_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Certification.National_Insurance_Proof_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Certification.ID_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online Right To Work Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Certification.Sponsorship_VISA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PORTW_0_0_0</targetReference>
            </connector>
            <label>Skip Attachment</label>
        </rules>
    </decisions>
    <description>PT1-1222 RTW Sponsorship VISA and Online RTW Check</description>
    <dynamicChoiceSets>
        <name>Citizenship_Group_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Citizenship_group__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ethnicity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Ethnic_Origin__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EU_ID_Types_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_Type__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nationality_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IP_Nationality__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NI_SET</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>National_Insurance_Proof_Type__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeLimitedChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ID_Time_Limited__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UK_Identification_Type_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_for_a_UK_citizen__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Visa_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>VISA_Type__c</picklistField>
        <picklistObject>Certification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YesNo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Yes_No_Question__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Generate_Temp_NI_Number</name>
        <dataType>String</dataType>
        <expression>&quot;TN&quot;+TEXT({!Random.randomNumber})+LEFT({!Gender_Text}, 1)</expression>
    </formulas>
    <formulas>
        <name>RandomNumber</name>
        <dataType>String</dataType>
        <expression>TEXT({!Random.randomNumber})</expression>
    </formulas>
    <interviewLabel>Online Registration - PORTW {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Online Registration - PORTW</label>
    <loops>
        <name>Document_Loop</name>
        <label>Document Loop</label>
        <locationX>1906</locationX>
        <locationY>1036</locationY>
        <collectionReference>NIUpload2.contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Document_Loop_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Document_Loop_0</name>
        <label>Document Loop</label>
        <locationX>2069</locationX>
        <locationY>1169</locationY>
        <collectionReference>PORTWUpload.contentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Document_Link_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Link</name>
        <label>Create Content Link</label>
        <locationX>2315</locationX>
        <locationY>966</locationY>
        <inputReference>ContentMultiple</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PORTW</name>
        <label>Create PORTW</label>
        <locationX>730</locationX>
        <locationY>1064</locationY>
        <assignRecordIdToReference>PORTWID</assignRecordIdToReference>
        <connector>
            <targetReference>Temp_NI</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjusted_check_due_to_COVID_19__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Citizenship_group__c</field>
            <value>
                <elementReference>PORTW_ID_Type.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>CandidateIDVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Time_Limited__c</field>
            <value>
                <elementReference>TimelImited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Type__c</field>
            <value>
                <elementReference>PORTW_ID_Type.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_IdentificationValidFromDate__c</field>
            <value>
                <elementReference>NonUKValid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Nationality__c</field>
            <value>
                <elementReference>Nationality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identification_Expiry_Date__c</field>
            <value>
                <elementReference>PORTWExpiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>What_is_your_job_title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Insurance_Number__c</field>
            <value>
                <elementReference>NI_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Insurance_Proof_Type__c</field>
            <value>
                <elementReference>National_Insurance_Proof_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Occupation_Code__c</field>
            <value>
                <elementReference>What_is_the_Occupation_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PORTW_Share_Code__c</field>
            <value>
                <elementReference>PORTWShareCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Pv000002JsBsIAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsorship_VISA__c</field>
            <value>
                <elementReference>Sponsorship_Visa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Student_Visa__c</field>
            <value>
                <elementReference>StudentVisa</elementReference>
            </value>
        </inputAssignments>
        <object>Certification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Certification</name>
        <label>Get Certification</label>
        <locationX>704</locationX>
        <locationY>347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateIDVar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Right_to_Work_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002JsBsIAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Verfied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>1444</locationX>
        <locationY>1387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Single_Doucment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Document_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Link_0</name>
        <label>Get Content Document Link</label>
        <locationX>2056</locationX>
        <locationY>1300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Single_Doucment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Document_Loop_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Gender_and_DOB</name>
        <label>Save Gender and DOB</label>
        <locationX>917</locationX>
        <locationY>1236</locationY>
        <connector>
            <targetReference>Update_Student_on_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EEO_Gender__c</field>
            <value>
                <elementReference>Gender.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PORTW_0</name>
        <label>Update PORTW</label>
        <locationX>1379</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PORTWID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Right_to_Work_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Certification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PORTW_0_0_0</name>
        <label>Update PORTW</label>
        <locationX>1499</locationX>
        <locationY>693</locationY>
        <connector>
            <targetReference>Success2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PORTWID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Right_to_Work_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Certification__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Student_on_Candidate</name>
        <label>Update Student on Candidate</label>
        <locationX>1000</locationX>
        <locationY>1048</locationY>
        <connector>
            <targetReference>Student_Visa_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateIDVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Student__c</field>
            <value>
                <elementReference>StudentVisa</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Right_to_work_screen</name>
        <label>Right to work screen</label>
        <locationX>454</locationX>
        <locationY>514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Student_Decision</targetReference>
        </connector>
        <fields>
            <name>Screen3_DISPLAY_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 24px; color: rgb(102, 102, 102);&quot;&gt;Proof of Right to Work&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Identification Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nationality</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>Nationality_Set</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>What is your current Nationality?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PORTW_ID_Type</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Certification__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Citizenship_group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>ID_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>What Citizenship Group do you come under?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Which type of identification are you providing?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>PORTW_ID_Type.topValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>PORTW_ID_Type.middleValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OnlineCheckHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;Online Checking Service&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;In order for us to offer you work we need to verify your eligibility to work in the UK. The easiest way to do this is to use the online Government checking service, this service will generate a unique right to work share code you can provide to us down below which will allow us to check your right to work remotely. To access this service and for more information use the link below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://www.gov.uk/prove-right-to-work&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(11, 145, 255);&quot;&gt;&lt;b&gt;https://www.gov.uk/prove-right-to-work&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;If you are not able to do this you will have to come into one of our many branches so we can verify your right to work in person.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EUSS Family Permit</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Biometric Residence Permit/Card</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check </stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Frontier Worker Permit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TimelImited</name>
            <choiceReferences>TimeLimitedChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is your right to work in the United Kingdom time limited (has an expiry) or indefinite (no expiry)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Student_Visa</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have a Student Visa?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TimelImited</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Time Limited</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_a_sponsorship_VISA</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do you have a Sponsorship VISA?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Student_Visa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_your_job_title</name>
            <dataType>String</dataType>
            <fieldText>What is your job title?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_a_sponsorship_VISA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_is_the_Occupation_Code</name>
            <dataType>String</dataType>
            <fieldText>What is the Occupation Code?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_a_sponsorship_VISA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>True</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PORTWShareCode</name>
            <dataType>String</dataType>
            <fieldText>What is your right to work share code?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NonUKValid</name>
            <dataType>Date</dataType>
            <fieldText>What date is your identification document valid from?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The valid from date should be before the expiration date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NonUKValid}&lt;{!NonUKExpire}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Current Passport with VISA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UKExpire</name>
            <dataType>Date</dataType>
            <fieldText>What date does your identification document expire?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>UK Passport</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Irish Passport</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Irish Passport Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NonUKExpire</name>
            <dataType>Date</dataType>
            <fieldText>What date does your identification document expire?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Your document must be current with an expiry date in the future&lt;/p&gt;</errorMessage>
                <formulaExpression>{!NonUKExpire}&gt;{!$Flow.CurrentDate}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1 AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Current Passport with VISA</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NI_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;National Insurance Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>National_Insurance_Number</name>
            <dataType>String</dataType>
            <fieldText>What is your National Insurance Number?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a valid National Insurance number with no spaces&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!National_Insurance_Number},&quot;[ABCEGHJKLMNOPRSTWXYZ]{1}[ABCEGHJKLMNPRSTWXYZ]{1}[0-9]{6}[A-DMF]{1}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>National_Insurance_Proof_Type</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>NI_SET</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>National Insurance Proof Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Tick here if you don&apos;t yet have your National Insurance number.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Temp_NI_Text</name>
            <fieldText>&lt;p&gt;Haven&apos;t yet received your National Insurance number? Don&apos;t worry. Just fill in the following information. We can generate a temporary one for you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Age should be between 16 and 100&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(IF(YEAR(TODAY())- YEAR({!Date_of_Birth}) &lt; 15 || YEAR(TODAY())- YEAR({!Date_of_Birth}) &gt;100,True,False))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Gender</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>EEO_Gender__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Gender</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen3_Footer_0_0_0_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save &gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save &gt;</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Right_to_work_upload_screen</name>
        <label>Right to work upload screen</label>
        <locationX>1189</locationX>
        <locationY>502</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PORTW_0</targetReference>
        </connector>
        <fields>
            <name>Screen3_DISPLAY_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Right to Work Document Upload&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BA_Privacy_policy</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;For further details on how we use and store your data please review our &lt;/span&gt;&lt;a href=&quot;https://www.rssglobal.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;privacy notice&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocumentUpload</name>
            <extensionName>qsydApps_AO:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>PORTW</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>NOT((1 AND 2) OR (3 AND 4))</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Null</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.ID_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NIUpload</name>
            <extensionName>qsydApps_AO:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>NationalInsurance</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 AND 2 ) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.National_Insurance_Proof_Type__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SponsorshipVISAUpload2</name>
            <extensionName>qsydApps_AO:DocumentUploadCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <stringValue>Sponsorship_VISA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Sponsorship_Visa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Sponsorship_VISA__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen3_Footer_0_0_0_0_0_0_0_0_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save &gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save &gt;</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Right_to_work_upload_screen_0</name>
        <label>Right to work upload screen</label>
        <locationX>980</locationX>
        <locationY>847</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_PORTW_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Screen3_DISPLAY_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Right to Work Document Upload&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BA_Privacy_policy_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;For further details on how we use and store your data please review our &lt;/span&gt;&lt;a href=&quot;https://www.rssglobal.com/privacy-policy/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;strong&gt;privacy notice&lt;/strong&gt;&lt;/a&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PORTWUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload the back and front of your ID document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowMultiple</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_embedExternally</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>NOT( (1 AND 2 AND 3) OR (4 AND 5))</conditionLogic>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.middleValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PORTW_ID_Type.topValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Citizen of a Non-UK/Republic of Ireland Country</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.ID_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Online Right To Work Check</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NIUpload2</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload your proof of NI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_embedExternally</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Tick_here_if_you_don_t_yet_have_your_National_Insurance_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.National_Insurance_Proof_Type__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SponsorshipVISAUpload</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload your certificate of sponsorship</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_required</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>PORTWID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_visibleToAllUsers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_embedExternally</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requiredMessage</name>
                <value>
                    <stringValue>Upload at least one file</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Sponsorship_Visa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Certification.Sponsorship_VISA__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen3_Footer_0_0_0_0_0_0_0_0_0_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Save &gt;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success2</name>
        <label>Success</label>
        <locationX>1730</locationX>
        <locationY>678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Student</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Proof of Right to Work submitted successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Declaration_Stage</name>
        <isActive>true</isActive>
        <label>Declaration</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <name>EEQ_Stage</name>
        <isActive>true</isActive>
        <label>EEQ Stage</label>
        <stageOrder>95</stageOrder>
    </stages>
    <stages>
        <name>GDPR_Stage</name>
        <isActive>true</isActive>
        <label>GDPR</label>
        <stageOrder>130</stageOrder>
    </stages>
    <stages>
        <name>KID_Stage</name>
        <isActive>true</isActive>
        <label>KID</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Medical_Stage</name>
        <isActive>true</isActive>
        <label>Medical</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>PORTW_Stage</name>
        <isActive>true</isActive>
        <label>PORTW</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>TOE_Stage</name>
        <isActive>true</isActive>
        <label>TOE</label>
        <stageOrder>120</stageOrder>
    </stages>
    <stages>
        <name>WTR_Stage</name>
        <isActive>true</isActive>
        <label>WTR</label>
        <stageOrder>90</stageOrder>
    </stages>
    <start>
        <locationX>635</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Student2</name>
        <label>Student</label>
        <locationX>2397</locationX>
        <locationY>355</locationY>
        <flowName>Online_Registration_Student_Timetable</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CandidateIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContentMultiple</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FormFactor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gender_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NI_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PORTWExpiry</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PORTWID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShareCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleContentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Sponsorship_Visa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StudentVisa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Temp_NI_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Upload_Sponsorship_Warning_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please upload your certificate of sponsorship</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
</Flow>
