Frankbelford/BAFullDevNEW/force-app/main/default/flows/Pre_Screener_BT_GXO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>a_6am</name>
        <choiceText>a.	6am</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BT_Distribution_Centre_Hunters_Boulevard_Magna_Park_Lutterworth_LE17_6YZ</name>
        <choiceText>BT Distribution Centre, Hunters Boulevard, Magna Park, Lutterworth, LE17 6YZ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>BT_Northallerton_Darlington_Road_Northallerton_DL6_2PJ</name>
        <choiceText>BT Northallerton, Darlington Road, Northallerton DL6 2PJ</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Folk_Lift_Truck_Driver</name>
        <choiceText>Folk Lift Truck Driver</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Full_time</name>
        <choiceText>Full time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full time</stringValue>
        </value>
    </choices>
    <choices>
        <name>Manton_Wood_Industrial_Estate_Worksop_S80_2RS</name>
        <choiceText>Manton Wood Industrial Estate, Worksop, S80 2RS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Manton Wood Industrial Estate, Worksop, S80 2RS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mill_Hill_Distribution_Park_Peterlee_SR8_2H</name>
        <choiceText>Mill Hill Distribution Park, Peterlee, SR8 2HR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mill Hill Distribution Park, Peterlee, SR8 2HR</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_of_the_above</name>
        <choiceText>None of the above</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None of the above</stringValue>
        </value>
    </choices>
    <choices>
        <name>Part_time</name>
        <choiceText>Part time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Part time</stringValue>
        </value>
    </choices>
    <choices>
        <name>role</name>
        <choiceText>role</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_13_11</name>
        <choiceText>Sat 13/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_20_11</name>
        <choiceText>Sat 20/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sat_30_10</name>
        <choiceText>Sat 30/10</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Sun_7_11</name>
        <choiceText>Sun 7/11</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Warehouse_Operative</name>
        <choiceText>Warehouse Operative</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X10pm</name>
        <choiceText>10pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>10pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2pm</name>
        <choiceText>2pm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2pm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6am</name>
        <choiceText>6am</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6am</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>596</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Screen_0</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drop_Out</name>
        <label>Drop Out</label>
        <locationX>669</locationX>
        <locationY>328</locationY>
        <defaultConnector>
            <targetReference>Contact_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drop_Out2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Q1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Q4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dropoutsctreen</targetReference>
            </connector>
            <label>Drop Out2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error</name>
        <label>Error</label>
        <locationX>1141</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>INVALID_EMAIL_ADDRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Invalid_Email</targetReference>
            </connector>
            <label>Invalid Email</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>HovisLocationsSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hovis_Location__c</picklistField>
        <picklistObject>Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HovisWorkTime</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hovis_Work_Length__c</picklistField>
        <picklistObject>Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Job_Role</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BT_Job_Role__c</picklistField>
        <picklistObject>Response__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Location</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BT_Location__c</picklistField>
        <picklistObject>Response__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Pre Screener - BT GXO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre Screener - BT GXO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Response</name>
        <label>Create Response</label>
        <locationX>1001</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Confirmation_Screen_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <stringValue>BT GXO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Pv000002HXw5IAG</stringValue>
            </value>
        </inputAssignments>
        <object>Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen_0</name>
        <label>Confirmation Screen</label>
        <locationX>845</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confetti_0</name>
            <extensionName>qsydApps_AO:LightningConfettiCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fireworks</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>duration</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>winnerCelebration</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Contact_Details_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(102, 102, 102); font-size: 20px;&quot;&gt;Submitted!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(102, 102, 102); font-size: 16px; font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;Your details have been submitted to our team who are looking forward to learning even more about you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;An email link to our online registration is on its way to your inbox so you have the link whenever you need it.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Want to start your registration now? Why wait? Click sign up below to create your account…&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Sign_Up_Image}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_Details_0</name>
        <label>Contact_Details</label>
        <locationX>833</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Response</targetReference>
        </connector>
        <fields>
            <name>Contact_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 18px;&quot;&gt;Contact Details&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Thanks for telling us more about yourself! You’re on your way to becoming part of the team and we can’t wait to meet you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;The next step is to get fully registered, please enter your details below to receive an email link to our online registration portal where you can continue your online application and on completion book yourself in for a brief interview.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Numeric numbers only, e.g. 07555555555</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Spacer1_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recapture</name>
            <extensionName>c:googleRecaptcha</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>siteKey</name>
                <value>
                    <stringValue>6LcdSscZAAAAACFh67_DyRvtYCWLlx04q8ROPI1y</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secretKey</name>
                <value>
                    <stringValue>6LcdSscZAAAAAFYqM8ZPcsELdCy6NYP__SsTsLik</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Next</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next -&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dropoutsctreen</name>
        <label>Dropoutscreen</label>
        <locationX>676</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(111, 111, 110); font-size: 20px;&quot;&gt;Sorry&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Thank you for your interest, however this role doesn’t seem like the right fit for your next career move.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;﻿Click the button below to see a selection of our other roles that may be of interest to you.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Finish_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Find other roles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>https://www.bluearrow.co.uk/find-a-job</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1389</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Oops...looks like something is not working quite right. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details have been sent to system admin. In the meanwhile, try submitting this page again but make sure you enter valid email and phone number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Invalid_Email</name>
        <label>Error Screen - Invalid Email</label>
        <locationX>1220</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Details_0</targetReference>
        </connector>
        <fields>
            <name>Error_Message_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;The email you entered is invalid. Please use a valid email.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoBack</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Blank_Filler_2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pre_Screen_Questions_0</name>
        <label>Pre-Screen Questions</label>
        <locationX>536</locationX>
        <locationY>341</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Drop_Out</targetReference>
        </connector>
        <fields>
            <name>Text_Question12</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Questions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you able to travel to Darlington Road, Northallerton DL6 2PJ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you physically fit and able to lift 15kg items using safe lifting techniques?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q3</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you willing to work in a warehouse environment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q4</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have any unspent criminal convictions or pending convictions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank_Filler_1</name>
            <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen_0</name>
        <label>Welcome Screen</label>
        <locationX>362</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Pre_Screen_Questions_0</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Thank you for your interest in working for our client GXO in partnership with BT.&amp;nbsp;We are recruiting Warehouse Operatives to work at their distribution centre in Northallerton.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We&apos;d love to know more about your experience and availability to work. This shouldn&apos;t take more than 1 minute - click below to start your journey.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Get_Started_0</name>
            <extensionName>c:imageButtonfsc</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GetStarted</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>destinationFlowTransition</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxHeight</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>styleMaxWidth</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Contact_Details_Stage</name>
        <isActive>true</isActive>
        <label>Contact Details</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>General_Details_Stage</name>
        <isActive>true</isActive>
        <label>General Details</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Pre_Screen_Stage</name>
        <isActive>true</isActive>
        <label>Pre-Screen</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>218</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Are you able to travel to Darlington Road, Northallerton DL6 2PJ?&lt;/p&gt;&lt;p&gt;{!Q1}&lt;/p&gt;&lt;p&gt;Are you physically fit and able to lift 15kg items using safe lifting techniques?&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102);&quot;&gt;{!Q2}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Are you willing to work in a warehouse environment?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Q3}&lt;/p&gt;&lt;p&gt;Do you have any unspent criminal convictions or pending convictions?&lt;/p&gt;&lt;p&gt;{!Q4}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Flow Error Message: 
{!$Flow.FaultMessage}

Run Time: {!$Flow.CurrentDateTime}
Candidate Email:   {!Email.value}
Candidate Phone:   {!Mobile.value}
&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Sign_Up_Image</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://mytempagency.bluearrow.co.uk/s/login/SelfRegister&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://impellam--c.um5.content.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=0684J00000Aadyt&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05T4J00000hKPHi&amp;amp;page=0&amp;amp;d=/a/4J000000bz33/WQi7C32xG3vfLsEUcjjzjLS5BEaGXN0bqUaUaZezUR0&amp;amp;oid=00DS9000004ZMlN&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Admin_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>wenyun.zhang@impellam.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>Royal_Mail_Job_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Royal_Mail_Location_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
