Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Application_Skill_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>667</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>$Record.TR1__Job__r.IP_Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_0</name>
        <label>Assign Values</label>
        <locationX>808</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>598</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_0</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Check</name>
        <label>Duplicate Check</label>
        <locationX>646</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Values</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.TR1__Job__r.IP_Skills__c</elementReference>
                </rightValue>
            </conditions>
            <label>Contains</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Application Skill Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Application Skill Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Candidate</name>
        <label>Update Candidate</label>
        <locationX>870</locationX>
        <locationY>591</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Skills__c</field>
            <value>
                <elementReference>Values</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>726</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>TR1__Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Values</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
