Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Competency_Lunar_Reporting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Animal_Rights_Check_Invalid_Assignement</name>
        <label>Animal Rights Check Invalid Assignement</label>
        <locationX>898</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Animal_Rights_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick</name>
        <label>Application Tick</label>
        <locationX>1360</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Media_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0</name>
        <label>Application Tick</label>
        <locationX>1184</locationX>
        <locationY>121</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Criminal_Records_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0</name>
        <label>Application Tick</label>
        <locationX>988</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Lunar_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0_0</name>
        <label>Application Tick</label>
        <locationX>1000</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0_0_0</name>
        <label>Application Tick</label>
        <locationX>1046</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Animal_Rights_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0_0_0_0</name>
        <label>Application Tick</label>
        <locationX>1096</locationX>
        <locationY>987</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Professional_Registration_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0_0_0_0_0</name>
        <label>Application Tick</label>
        <locationX>1179</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Certificate_of_Fitness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Tick_0_0_0_0_0_0_0</name>
        <label>Application Tick</label>
        <locationX>996</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Certificate_of_Fitness_Invalid_Assignment</name>
        <label>Certificate of Fitness Invalid Assignment</label>
        <locationX>1219</locationX>
        <locationY>1252</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Certificate_of_Fitness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Competency_Based_Interview_Assignment</name>
        <label>Competency Based Interview</label>
        <locationX>1386</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Competency_Based_Interview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Competency_Based_Interview_Assignment_Invalid</name>
        <label>Competency Based Interview Assignment Invalid</label>
        <locationX>1318</locationX>
        <locationY>1314</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Competency_Based_Interview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Edit_var</name>
        <label>Create Edit var</label>
        <locationX>2119</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>Third_party_application_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Third_Party_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Third_Party_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Criminal_Record_Check_Invalid_Assignment</name>
        <label>Criminal Record Check Invalid Assignment</label>
        <locationX>1096</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Criminal_Records_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_History_Invalid_Assignment</name>
        <label>Employment History Invalid Assignment</label>
        <locationX>1866</locationX>
        <locationY>1701</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Employment_History_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employment_History_Valid_Assignment</name>
        <label>Employment History Valid Assignment</label>
        <locationX>1793</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Employment_History_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>L_Spa_ToE_Invalid_Assignment</name>
        <label>L Spa ToE Invalid Assignment</label>
        <locationX>2152</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Lemington_Spa_ToE_Handbook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>L_Spa_ToE_Valid_Assignment</name>
        <label>L Spa ToE Valid Assignment</label>
        <locationX>2072</locationX>
        <locationY>1891</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Lemington_Spa_ToE_Handbook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lunar_Training_Invalid_Assignment</name>
        <label>Lunar Training Invalid Assignment</label>
        <locationX>894</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Lunar_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Media_Check_Invalid_Assignment</name>
        <label>Media Check Invalid Assignment</label>
        <locationX>1283</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Media_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oversea_Police_Check_Invalid_Assignment</name>
        <label>Oversea Police Check Invalid Assignment</label>
        <locationX>1551</locationX>
        <locationY>1460</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Oversea_Police_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oversea_Police_Check_Not_Required_Invalid_Assignment</name>
        <label>Oversea Police Check Not Required Invalid Assignment</label>
        <locationX>1689</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Oversea_Police_Check_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oversea_Police_Check_Not_Required_Valid_Assignment</name>
        <label>Oversea Police Check Not Required Valid Assignment</label>
        <locationX>1603</locationX>
        <locationY>1566</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Oversea_Police_Check_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oversea_Police_Check_Valid_Assignment</name>
        <label>Oversea Police Check Valid Assignment</label>
        <locationX>1487</locationX>
        <locationY>1424</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Oversea_Police_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placement_Checklist_Invalid_Assignment</name>
        <label>Placement Checklist Invalid Assignment</label>
        <locationX>1967</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Placement_Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Placement_Checklist_Valid_Assignment</name>
        <label>Placement Checklist Valid Assignment</label>
        <locationX>1900</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Placement_Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Professional_Reg_Not_Required_Invalid_Assignment</name>
        <label>Professional Reg Not Required Invalid Assignment</label>
        <locationX>1013</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Professional_Registration_Check_Not_Req__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Professional_Reg_Not_Required_Valid_Assignment</name>
        <label>Professional Reg Not Required Valid Assignment</label>
        <locationX>905</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Professional_Registration_Check_Not_Req__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Professional_Registration_Check_Invalid_Assignment</name>
        <label>Professional Registration Check Invalid Assignment</label>
        <locationX>966</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Professional_Registration_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Proof_of_Address_Invalid_Assignment</name>
        <label>Proof of Address Invalid Assignment</label>
        <locationX>1072</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qualification_Invalid_Assignment</name>
        <label>Qualification Invalid Assignment</label>
        <locationX>1092</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qualification_Not_Required_Invalid_Assignment</name>
        <label>Qualification Not Required Invalid Assignment</label>
        <locationX>1067</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Qualification_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qualification_Not_Required_Valid_Assignment</name>
        <label>Qualification Not Required Valid Assignment</label>
        <locationX>931</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Qualification_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Risk_Assessment_Invalid_Assignment</name>
        <label>Risk Assessment Invalid Assignment</label>
        <locationX>2366</locationX>
        <locationY>2060</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Risk_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Risk_Assessment_Not_Required_Invalid_Assignment</name>
        <label>Risk Assessment Not Required Invalid Assignment</label>
        <locationX>2521</locationX>
        <locationY>2213</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Risk_Assessment_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Risk_Assessment_Not_Required_Valid_Assignment</name>
        <label>Risk Assessment Not Required Valid Assignment</label>
        <locationX>2441</locationX>
        <locationY>2168</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Risk_Assessment_Not_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Risk_Assessment_Valid_Assignment</name>
        <label>Risk Assessment Valid Assignment</label>
        <locationX>2253</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>Third_Party_Loop.Risk_Assessment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Edit_var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Animal_Rights_Check_Decision</name>
        <label>Animal Rights Check Decision</label>
        <locationX>694</locationX>
        <locationY>836</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Animal_Rights_Check_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0_0_0</targetReference>
            </connector>
            <label>Animal Rights Check Valid</label>
        </rules>
        <rules>
            <name>Animal_Rights_Check_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Rights_Check_Invalid_Assignement</targetReference>
            </connector>
            <label>Animal Rights Check Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>99</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Third_Party</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certificate_of_Fitness_Decision</name>
        <label>Certificate of Fitness Decision</label>
        <locationX>606</locationX>
        <locationY>1221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Certificate_of_Fitness_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Certificate of Fitness Valid</label>
        </rules>
        <rules>
            <name>Certificate_of_Fitness_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certificate_of_Fitness_Invalid_Assignment</targetReference>
            </connector>
            <label>Certificate of Fitness Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competency_Based_Interview_Decision</name>
        <label>Competency Based Interview Decision</label>
        <locationX>524</locationX>
        <locationY>1329</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Competency_Based_Interview_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competency_Based_Interview_Assignment</targetReference>
            </connector>
            <label>Competency Based Interview Valid</label>
        </rules>
        <rules>
            <name>Competency_Based_Interview_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competency_Based_Interview_Assignment_Invalid</targetReference>
            </connector>
            <label>Competency Based Interview Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competency_Type</name>
        <label>Competency Type</label>
        <locationX>417</locationX>
        <locationY>596</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Media_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Media_Check_Decision</targetReference>
            </connector>
            <label>Media Check</label>
        </rules>
        <rules>
            <name>Criminal_Records_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GyoQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criminal_Record_Check</targetReference>
            </connector>
            <label>Criminal Records Check</label>
        </rules>
        <rules>
            <name>Lunar_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GyyQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunar_Training_Check</targetReference>
            </connector>
            <label>Lunar Training</label>
        </rules>
        <rules>
            <name>Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GyjQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Decision</targetReference>
            </connector>
            <label>Qualification</label>
        </rules>
        <rules>
            <name>Animal_Rights_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GyPQAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Animal_Rights_Check_Decision</targetReference>
            </connector>
            <label>Animal Rights Check</label>
        </rules>
        <rules>
            <name>Professional_Registration_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001Gz3QAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Registration_Check_Decision</targetReference>
            </connector>
            <label>Professional Registration Check</label>
        </rules>
        <rules>
            <name>Certificate_of_Fitness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GytQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certificate_of_Fitness_Decision</targetReference>
            </connector>
            <label>Certificate of Fitness</label>
        </rules>
        <rules>
            <name>Proof_of_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J000000h4TpQAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proof_of_Address_Decision</targetReference>
            </connector>
            <label>Proof of Address</label>
        </rules>
        <rules>
            <name>Risk_Assessment_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMXQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Not_Required_Decision</targetReference>
            </connector>
            <label>Risk Assessment Not Required</label>
        </rules>
        <rules>
            <name>Risk_Assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMjQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Decision</targetReference>
            </connector>
            <label>Risk Assessment</label>
        </rules>
        <rules>
            <name>Prof_Registration_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMeQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Reg_Not_Required_Decision</targetReference>
            </connector>
            <label>Prof Registration Check Not Required</label>
        </rules>
        <rules>
            <name>Qualification_Not_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMZQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Not_Required_Decision</targetReference>
            </connector>
            <label>Qualification Not Required</label>
        </rules>
        <rules>
            <name>L_Spa_ToE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMUQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L_Spa_ToE_Decision</targetReference>
            </connector>
            <label>L Spa ToE</label>
        </rules>
        <rules>
            <name>Placement_Checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMVQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placement_Checklist_Decision</targetReference>
            </connector>
            <label>Placement Checklist</label>
        </rules>
        <rules>
            <name>Employment_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HMWQA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_History_Decision</targetReference>
            </connector>
            <label>Employment History</label>
        </rules>
        <rules>
            <name>Oversea_Po</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001HCnQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Not_Required_Decision</targetReference>
            </connector>
            <label>Oversea Police Check Not Required</label>
        </rules>
        <rules>
            <name>Oversea_Policy_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001Gz8QAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Decision</targetReference>
            </connector>
            <label>Oversea Policy Check</label>
        </rules>
        <rules>
            <name>Competency_Based_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3k4J0000001GyKQAU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competency_Based_Interview_Decision</targetReference>
            </connector>
            <label>Competency Based Interview</label>
        </rules>
    </decisions>
    <decisions>
        <name>Criminal_Record_Check</name>
        <label>Criminal Record Check Decision</label>
        <locationX>499</locationX>
        <locationY>132</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Criminal_Record_Check_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0</targetReference>
            </connector>
            <label>Criminal Record Check Valid</label>
        </rules>
        <rules>
            <name>Criminal_Record_Check_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Criminal_Record_Check_Invalid_Assignment</targetReference>
            </connector>
            <label>Criminal Record Check Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_History_Decision</name>
        <label>Employment History Decision</label>
        <locationX>298</locationX>
        <locationY>1696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employment_History_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_History_Valid_Assignment</targetReference>
            </connector>
            <label>Employment History Valid</label>
        </rules>
        <rules>
            <name>Employment_History_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employment_History_Invalid_Assignment</targetReference>
            </connector>
            <label>Employment History Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>L_Spa_ToE_Decision</name>
        <label>L Spa ToE Decision</label>
        <locationX>187</locationX>
        <locationY>1902</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>L_Spa_ToE_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L_Spa_ToE_Valid_Assignment</targetReference>
            </connector>
            <label>L Spa ToE Valid</label>
        </rules>
        <rules>
            <name>L_Spa_ToE_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L_Spa_ToE_Invalid_Assignment</targetReference>
            </connector>
            <label>L Spa ToE Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lunar_Training_Check</name>
        <label>Lunar Training Check</label>
        <locationX>574</locationX>
        <locationY>238</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lunar_Training_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0</targetReference>
            </connector>
            <label>Lunar Training Valid</label>
        </rules>
        <rules>
            <name>Lunar_Training_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lunar_Training_Invalid_Assignment</targetReference>
            </connector>
            <label>Lunar Training Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Media_Check_Decision</name>
        <label>Media Check Decision</label>
        <locationX>402</locationX>
        <locationY>74</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Media_Check_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick</targetReference>
            </connector>
            <label>Media Check Valid</label>
        </rules>
        <rules>
            <name>Media_Check_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Media_Check_Invalid_Assignment</targetReference>
            </connector>
            <label>Media Check Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oversea_Police_Check_Decision</name>
        <label>Oversea Police Check Decision</label>
        <locationX>448</locationX>
        <locationY>1457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oversea_Police_Check_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Valid_Assignment</targetReference>
            </connector>
            <label>Oversea Police Check Valid</label>
        </rules>
        <rules>
            <name>Oversea_Police_Check_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Invalid_Assignment</targetReference>
            </connector>
            <label>Oversea Police Check Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oversea_Police_Check_Not_Required_Decision</name>
        <label>Oversea Police Check Not Required Decision</label>
        <locationX>382</locationX>
        <locationY>1571</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oversea_Police_Check_Not_Required_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Not_Required_Valid_Assignment</targetReference>
            </connector>
            <label>Oversea Police Check Not Required Valid</label>
        </rules>
        <rules>
            <name>Oversea_Police_Check_Not_Required_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oversea_Police_Check_Not_Required_Invalid_Assignment</targetReference>
            </connector>
            <label>Oversea Police Check Not Required Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Placement_Checklist_Decision</name>
        <label>Placement Checklist Decision</label>
        <locationX>261</locationX>
        <locationY>1804</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Placement_Checklist_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placement_Checklist_Valid_Assignment</targetReference>
            </connector>
            <label>Placement Checklist Valid</label>
        </rules>
        <rules>
            <name>Placement_Checklist_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Placement_Checklist_Invalid_Assignment</targetReference>
            </connector>
            <label>Placement Checklist Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Reg_Not_Required_Decision</name>
        <label>Professional Reg Not Required Decision</label>
        <locationX>669</locationX>
        <locationY>1086</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Professional_Reg_Not_Required_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Reg_Not_Required_Valid_Assignment</targetReference>
            </connector>
            <label>Professional Reg Not Required Valid</label>
        </rules>
        <rules>
            <name>Professional_Reg_Not_Required_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Reg_Not_Required_Invalid_Assignment</targetReference>
            </connector>
            <label>Professional Reg Not Required Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Professional_Registration_Check_Decision</name>
        <label>Professional Registration Check Decision</label>
        <locationX>768</locationX>
        <locationY>949</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Professional_Registration_Check_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0_0_0_0</targetReference>
            </connector>
            <label>Professional Registration Check Valid</label>
        </rules>
        <rules>
            <name>Professional_Registration_Check_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Professional_Registration_Check_Invalid_Assignment</targetReference>
            </connector>
            <label>Professional Registration Check Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proof_of_Address_Decision</name>
        <label>Proof of Address Decision</label>
        <locationX>700</locationX>
        <locationY>701</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proof_of_Address_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Proof of Address Valid</label>
        </rules>
        <rules>
            <name>Proof_of_Address_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proof_of_Address_Invalid_Assignment</targetReference>
            </connector>
            <label>Proof of Address Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualification_Decision</name>
        <label>Qualification Decision</label>
        <locationX>639</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Tick_0_0_0</targetReference>
            </connector>
            <label>Qualification Valid</label>
        </rules>
        <rules>
            <name>Qualification_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Invalid_Assignment</targetReference>
            </connector>
            <label>Qualification Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualification_Not_Required_Decision</name>
        <label>Qualification Not Required Decision</label>
        <locationX>646</locationX>
        <locationY>557</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Not_Required_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Not_Required_Valid_Assignment</targetReference>
            </connector>
            <label>Qualification Not Required Valid</label>
        </rules>
        <rules>
            <name>Qualification_Not_Required_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualification_Not_Required_Invalid_Assignment</targetReference>
            </connector>
            <label>Qualification Not Required Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Assessment_Decision</name>
        <label>Risk Assessment Decision</label>
        <locationX>144</locationX>
        <locationY>2044</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Risk_Assessment_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Valid_Assignment</targetReference>
            </connector>
            <label>Risk Assessment Valid</label>
        </rules>
        <rules>
            <name>Risk_Assessment_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Invalid_Assignment</targetReference>
            </connector>
            <label>Risk Assessment Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Assessment_Not_Required_Decision</name>
        <label>Risk Assessment Not Required Decision</label>
        <locationX>71</locationX>
        <locationY>2198</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Risk_Assessment_Not_Required_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Not_Required_Valid_Assignment</targetReference>
            </connector>
            <label>Risk Assessment Not Required Valid</label>
        </rules>
        <rules>
            <name>Risk_Assessment_Not_Required_Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Risk_Assessment_Not_Required_Invalid_Assignment</targetReference>
            </connector>
            <label>Risk Assessment Not Required Invalid</label>
        </rules>
    </decisions>
    <description>Amended to add new Lunar competencies that need to be tracked via compliance report</description>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Competency - Lunar Reporting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Competency - Lunar Reporting</label>
    <loops>
        <name>Third_Party_Loop</name>
        <label>Third Party Loop</label>
        <locationX>280</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Third_Party</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Competency_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Third_Party</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Third_Party</name>
        <label>Get Third Party</label>
        <locationX>246</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Third_Party_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stgAtsCandidateIntegrationRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sirenum__Owner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>StagingJobApplication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Third_Party</name>
        <label>Update Third Party</label>
        <locationX>50</locationX>
        <locationY>584</locationY>
        <inputReference>Third_party_application_collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>59</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a6vPv0000003Ju9IAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a6vPv0000003Ju9IAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a6vPv0000003Ju9IAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001GyjQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001GyPQAU</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001Gz3QAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001GytQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J000000h4TpQAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001GyK</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001Gz8QAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HCnQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMWQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMVQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMUQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMZQA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMeQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMjQAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__TicketType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3k4J0000001HMXQA2</stringValue>
            </value>
        </filters>
        <object>sirenum__Ticket__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Third_party_application_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StagingJobApplication__c</objectType>
    </variables>
    <variables>
        <name>ThirdPartySingleUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StagingJobApplication__c</objectType>
    </variables>
</Flow>
