Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Site_Owner_Email</name>
        <label>Notify Site Owner Email</label>
        <locationX>692</locationX>
        <locationY>383</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Convert_Req_Completion_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Notify_Site_Owner_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Site has been Activated</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendHTMLEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Convert_Req_Completion_Fields</name>
        <label>Assign Convert Req Completion Fields</label>
        <locationX>662</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prospect_Con_Req_Completed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prospect_Conv_Completed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Site</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_PO</name>
        <label>Assign Invoice PO</label>
        <locationX>1103</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_InvoicePONumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unit_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_Auto_Approval</name>
        <label>Untick Auto Approval</label>
        <locationX>804</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_ScheduledAutoApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1782</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permissionsets</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>1046</locationX>
        <locationY>72</locationY>
        <defaultConnector>
            <targetReference>Update_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Operating_Company__r.PO_Overwrite_Exclusion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_Invoice_PO</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_PO</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
        <rules>
            <name>Tate_Site_Auto_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_ScheduledAutoApproval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_Auto_Approval</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Untick_Auto_Approval</targetReference>
            </connector>
            <label>Tate Site Auto Approval</label>
        </rules>
        <rules>
            <name>Is_Site_Status_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Permissionset_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BA_LetterHead</targetReference>
            </connector>
            <label>Is Site Status Modified</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Site</name>
        <label>New Site</label>
        <locationX>50</locationX>
        <locationY>281</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Site_Link</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Created this formula as $Flow.CurrentDateTime is not considering Day Light Savings</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(NOW())</expression>
    </formulas>
    <formulas>
        <name>Is_New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Notify_Site_Owner_Email_Sub</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>Site_Rec_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BA_LetterHead</name>
        <label>Get BA LetterHead</label>
        <locationX>722</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Site_Owner_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Arrow Letter Head - No merge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EnhancedLetterhead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permissionset_Assignment</name>
        <label>Get Permissionset Assignment</label>
        <locationX>1274</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permissionsets.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permissionsets</name>
        <label>Get Permissionsets</label>
        <locationX>1550</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permissionset_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>National_Account_Central_Support_Approvers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site</name>
        <label>Update Site</label>
        <locationX>211</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>New_Site</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1285</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>sirenum__Site__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact_Site_Link</name>
        <label>Create Contact / Site Link</label>
        <locationX>188</locationX>
        <locationY>125</locationY>
        <flowName>Autolaunched_Flow_Site_Create_Contact_Site_links_for_clients_New_Site</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Notify Site Owner when the Prospect Site Conversion request is completed. i.e, when the status is changed to Active</description>
        <name>Notify_Site_Owner_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_BA_LetterHead.LetterheadHeader}&lt;/p&gt;&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;Please be informed that the below prospect site has been activated.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Site Name: {!$Record.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Site_Rec_Link}&lt;/p&gt;&lt;p&gt;Thank You.&lt;/p&gt;&lt;p&gt;{!Get_BA_LetterHead.LetterheadFooter}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
