Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_S_Placement_Merged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>assignment_subsequent_pass_logic</name>
        <label>assignment - subsequent pass logic</label>
        <locationX>790</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_first_pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentsubsequentpasslogicFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pass_to_tempest</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1122</locationX>
        <locationY>177</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Borrowed_Temp</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Borrowed_Temp</name>
        <label>Not Borrowed Temp</label>
        <locationX>769</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Rota</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NotBorrowedTemp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_standard_split</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Cost_Code_from_Consultant_Dept</name>
        <label>Update Cost Code from Consultant Dept</label>
        <locationX>786</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>assignment_subsequent_pass_logic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_Costcode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Consultant1LookupSplitShare__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Consultant1LookupSplitShare__r.IP_TempestDepartment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GUID_placement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_LastPassedToTempest__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_first_pass</name>
        <label>Update first pass</label>
        <locationX>801</locationX>
        <locationY>1120</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatefirstpassFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_S_placement</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Rota</name>
        <label>Update Rota</label>
        <locationX>782</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Update_Cost_Code_from_Consultant_Dept</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Rota__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GUID_placement__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_LastPassedToTempest__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_rota_from_job_role</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>assignmentsubsequentpasslogicFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR( PRIORVALUE({!$Record.IP_AssignmentRefForTempest__c} )!={!$Record.IP_AssignmentRefForTempest__c} ,
		PRIORVALUE({!$Record.IP_ClientIDLegacy__c} )!={!$Record.IP_ClientIDLegacy__c},
		PRIORVALUE({!$Record.IP_Division__c} )!= {!$Record.IP_Division__c},
		PRIORVALUE({!$Record.IP_LookupOfHolidayEntitlement__c} ) != {!$Record.IP_LookupOfHolidayEntitlement__c} ,
		PRIORVALUE({!$Record.IP_WorkerPayrollRef__c} )!= {!$Record.IP_WorkerPayrollRef__c},
		PRIORVALUE({!$Record.IP_PurchaseOrderNumber__c}) != {!$Record.IP_PurchaseOrderNumber__c},
		PRIORVALUE({!$Record.sirenum__End_Date__c}) != {!$Record.sirenum__End_Date__c},
		PRIORVALUE({!$Record.sirenum__Job_Role__c}) != {!$Record.sirenum__Job_Role__c},
		PRIORVALUE({!$Record.sirenum__Start_Date__c} ) != {!$Record.sirenum__Start_Date__c},
		ISCHANGED({!$Record.OPWIPS__c} ),
		AND(ISCHANGED({!$Record.IP_PayMethod__c}),PRIORVALUE({!$Record.IP_PayMethod__c} ) != {!$Record.IP_PayMethod__c}),
		AND(ISCHANGED({!$Record.IP_Consultant1PercentageSplit__c}),{!$Record.IP_Consultant1PercentageSplit__c}  != 1,{!$Record.IP_Consultant1PercentageSplit__c}  != 100),
		PRIORVALUE({!$Record.IP_Department__c} ) != {!$Record.IP_Department__c}),
	OR(PRIORVALUE({!$Record.sirenum__Start_Date__c} ) != {!$Record.sirenum__Start_Date__c}, {!$Record.sirenum__End_Date__c} &gt;= TODAY()),
	NOT(ISNULL({!$Record.IP_LastPassedToTempest__c} ))
   )</expression>
    </formulas>
    <formulas>
        <name>NotBorrowedTemp</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp;
(NOT((ISCHANGED({!$Record.GUID_placement__c}) || ISCHANGED({!$Record.IP_LastPassedToTempest__c}))))</expression>
    </formulas>
    <formulas>
        <name>UpdatefirstpassFormula</name>
        <dataType>Boolean</dataType>
        <expression>AND(OR( PRIORVALUE({!$Record.IP_AssignmentRefForTempest__c} )!={!$Record.IP_AssignmentRefForTempest__c} ,
		PRIORVALUE({!$Record.IP_ClientIDLegacy__c} )!={!$Record.IP_ClientIDLegacy__c},
		PRIORVALUE({!$Record.IP_Division__c} )!= {!$Record.IP_Division__c},
		PRIORVALUE({!$Record.IP_LookupOfHolidayEntitlement__c} ) != {!$Record.IP_LookupOfHolidayEntitlement__c} ,
		PRIORVALUE({!$Record.IP_WorkerPayrollRef__c} )!= {!$Record.IP_WorkerPayrollRef__c},
		PRIORVALUE({!$Record.IP_PurchaseOrderNumber__c}) != {!$Record.IP_PurchaseOrderNumber__c},
		PRIORVALUE({!$Record.sirenum__End_Date__c}) != {!$Record.sirenum__End_Date__c},
		PRIORVALUE({!$Record.sirenum__Job_Role__c}) != {!$Record.sirenum__Job_Role__c},
		PRIORVALUE({!$Record.sirenum__Start_Date__c} ) != {!$Record.sirenum__Start_Date__c},
		PRIORVALUE({!$Record.IP_AWRCoreCat__c} ) != {!$Record.IP_AWRCoreCat__c},
		PRIORVALUE({!$Record.IP_AWRJobCat__c} )!={!$Record.IP_AWRJobCat__c},
		PRIORVALUE({!$Record.IP_Consultant1IDnumberSplitShare__c} ) !={!$Record.IP_Consultant1IDnumberSplitShare__c} ,
		PRIORVALUE({!$Record.IP_Consultant2IDnumberSplitShare__c}) !={!$Record.IP_Consultant2IDnumberSplitShare__c},
		AND(ISCHANGED({!$Record.IP_PayMethod__c}),PRIORVALUE({!$Record.IP_PayMethod__c} ) != {!$Record.IP_PayMethod__c}),
		AND(ISCHANGED({!$Record.IP_Consultant1PercentageSplit__c}),{!$Record.IP_Consultant1PercentageSplit__c}  != 1,{!$Record.IP_Consultant1PercentageSplit__c}  != 100),
		PRIORVALUE({!$Record.IP_Consultant2PercentageSplit__c}) != {!$Record.IP_Consultant2PercentageSplit__c},
		PRIORVALUE({!$Record.IP_Department__c} ) != {!$Record.IP_Department__c}),
	OR(PRIORVALUE({!$Record.sirenum__Start_Date__c} ) != {!$Record.sirenum__Start_Date__c}, {!$Record.sirenum__End_Date__c} &gt;= TODAY()),
NOT(ISBLANK({!$Record.IP_TimesheetIDLink__c})),
ISNULL({!$Record.IP_LastPassedToTempest__c} ))</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - S-Placement Merged Back To SetupHelp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - S-Placement Merged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Get_rota_from_job_role</name>
        <label>Get rota from job role</label>
        <locationX>1002</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>Update_Cost_Code_from_Consultant_Dept</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__Rota__c</field>
            <value>
                <elementReference>$Record.sirenum__Job_Role__r.sirenum__Rota__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_standard_split</name>
        <label>Set standard split</label>
        <locationX>992</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Update_Rota</targetReference>
        </connector>
        <inputAssignments>
            <field>IP_Consultant1LookupSplitShare__c</field>
            <value>
                <elementReference>$Record.sirenum__Site__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Consultant1PercentageSplit__c</field>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pass_to_tempest</name>
        <label>Update Pass to tempest</label>
        <locationX>1017</locationX>
        <locationY>972</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_PayMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>1004</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>assignment_subsequent_pass_logic</targetReference>
        </connector>
        <inputAssignments>
            <field>IP_Costcode__c</field>
            <value>
                <elementReference>$Record.IP_Consultant1LookupSplitShare__r.IP_TempestDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_placement</name>
        <label>Update S-placement</label>
        <locationX>1001</locationX>
        <locationY>1120</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_PayMethod__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_FirstPass__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>sirenum__Placement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
