Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Pay_Profile_Merged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_payroll_ID</name>
        <label>Assign payroll ID</label>
        <locationX>1758</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_PayrollID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AutoID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Candidate_primary_payroll_id_assign</name>
        <label>Candidate primary payroll id assign</label>
        <locationX>1240</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>Get_Candidate.Primary_Payroll_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IP_PayrollID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>P45_Leaver_By</name>
        <label>P45 Leaver By</label>
        <locationX>1015</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>$Record.P45_Requested_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_type_candidate_update</name>
        <label>Record type candidate update</label>
        <locationX>1070</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>Get_Candidate.Sync_Pay_Profile2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_pass_to_tempest</name>
        <label>Untick pass to tempest</label>
        <locationX>1679</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_EmergencyPull__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IP_PassToTempest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_pass_to_tempest_0</name>
        <label>Untick pass to tempest</label>
        <locationX>1441</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_EmergencyPull__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IP_PassToTempest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_batch_variable</name>
        <label>Update batch variable</label>
        <locationX>1337</locationX>
        <locationY>1203</locationY>
        <assignmentItems>
            <assignToReference>$Record.For_P45_batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_salted_bank_details</name>
        <label>Update salted bank details</label>
        <locationX>1481</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>$Record.IP_AccountNumberSalted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IP_AccountNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.IP_SortCodeSalted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IP_SortCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1580</locationX>
        <locationY>221</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_Update_Decision</name>
        <label>Candidate Update Decision</label>
        <locationX>1016</locationX>
        <locationY>776</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Candidate_Changed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Candidate_primary_payroll_id_assign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_type_candidate_update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Candidate_Update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Update</targetReference>
            </connector>
            <label>Candidate Changed</label>
        </rules>
        <rules>
            <name>Pay_Profile_Changes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_payroll_ID</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_salted_bank_details</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_batch_variable</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P45_Leaver_By</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pay_Profile_Update</targetReference>
            </connector>
            <label>Pay Profile Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decisions</name>
        <label>Decisions</label>
        <locationX>1356</locationX>
        <locationY>859</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Candidate_primary_payroll_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate.Primary_Payroll_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IP_PayrollID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PrimaryPayMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Candidate_primary_payroll_id_assign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_primary_payroll_id_assign</targetReference>
            </connector>
            <label>Update Candidate primary payroll ID</label>
        </rules>
        <rules>
            <name>Pass_pay_profile_to_Tempest</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 15 AND 16 AND (7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_MissingPayrollDetail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PayrollID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.IP_MissingPayrollDetail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Candidate.Missing_Compliance_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_BankAccountName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_BankAccountName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Sort_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_Sort_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_AccountNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_AccountNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Building_Society_Roll_No__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_Building_Society_Roll_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.P45_Requested__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.P45_Requested__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_StudentLoan__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_StudentLoan__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_NewStarterTaxStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_NewStarterTaxStatus__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PayrollID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IP_PayrollID__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_LastPassedToTempest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_FirstPass__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Untick_pass_to_tempest</targetReference>
            </connector>
            <label>Pass pay profile to Tempest</label>
        </rules>
        <rules>
            <name>Pay_Profile_ticked_as_pass_to_tempest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_MissingPayrollDetail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PayrollID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Untick_pass_to_tempest_0</targetReference>
            </connector>
            <label>Pay Profile ticked as pass to tempest</label>
        </rules>
        <rules>
            <name>Pay_Profile_ID_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_PayrollID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_payroll_ID</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_payroll_ID</targetReference>
            </connector>
            <label>Pay Profile ID Update</label>
        </rules>
        <rules>
            <name>Pay_Profile_ID_Update_Blue_Arrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_PayrollID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue Arrow</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0120Y000000FISYQA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_payroll_ID</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_payroll_ID</targetReference>
            </connector>
            <label>Pay Profile ID Update Blue Arrow</label>
        </rules>
        <rules>
            <name>Bank_Details_Updated</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IP_AccountNumberSalted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IP_AccountNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_SortCodeSalted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.IP_SortCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_salted_bank_details</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_salted_bank_details</targetReference>
            </connector>
            <label>Bank Details Updated</label>
        </rules>
        <rules>
            <name>Pay_profile_batch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.For_P45_batch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_batch_variable</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_batch_variable</targetReference>
            </connector>
            <label>Pay profile batch</label>
        </rules>
        <rules>
            <name>PAYE_record_type_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120Y000000FISYQA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IP_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_type_candidate_update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_type_candidate_update</targetReference>
            </connector>
            <label>PAYE record type update</label>
        </rules>
        <rules>
            <name>Leaver_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Leaving1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P45_Leaver_By</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_for_Leaving1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>P45_Leaver_By</targetReference>
            </connector>
            <label>Leaver Requested</label>
        </rules>
        <rules>
            <name>Details_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assign_payroll_ID</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_salted_bank_details</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_batch_variable</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Candidate_primary_payroll_id_assign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Record_type_candidate_update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P45_Leaver_By</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Update_Decision</targetReference>
            </connector>
            <label>Details Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pass_to_tempest_decision</name>
        <label>Pass to tempest decision</label>
        <locationX>574</locationX>
        <locationY>711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unticked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Untick_pass_to_tempest_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pay_Profile_again</targetReference>
            </connector>
            <label>Unticked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Pay Profile Merged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Pay Profile Merged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>1121</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IP_Candidate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Candidate_Update</name>
        <label>Candidate Update</label>
        <locationX>890</locationX>
        <locationY>1027</locationY>
        <connector>
            <targetReference>Candidate_Update_Decision</targetReference>
        </connector>
        <inputReference>Get_Candidate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Pay_Profile_Update</name>
        <label>Pay Profile Update</label>
        <locationX>779</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Pass_to_tempest_decision</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pay_Profile_again</name>
        <label>Update Pay Profile again</label>
        <locationX>326</locationX>
        <locationY>809</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IP_PayProfile__c</object>
    </recordUpdates>
    <start>
        <locationX>997</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>IP_PayProfile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Candidate.Id</elementReference>
        </value>
    </variables>
</Flow>
