Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Employee_Request_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>387</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unavailable_For_Shift</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow2</name>
        <label>Bypass flow2</label>
        <locationX>948</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_not_actioned</targetReference>
            </connector>
            <label>Bypass flow3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_not_actioned</name>
        <label>Record not actioned</label>
        <locationX>733</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Rejected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005Pv00000D2xZIIAZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unavailable_For_Shift</name>
        <label>Unavailable For Shift</label>
        <locationX>513</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sirenum__Availability__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sirenum__Shift__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shift_Cancellation_Reason</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>This is replacing the below process builder:
https://bluearrowgroup--migration.sandbox.my.salesforce-setup.com/lightning/setup/ProcessAutomation/home</description>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Employee Request Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Employee Request Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>897</locationX>
        <locationY>787</locationY>
        <inputAssignments>
            <field>Request_not_actioned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift_Cancellation_Reason</name>
        <label>Update Shift Cancellation Reason</label>
        <locationX>525</locationX>
        <locationY>670</locationY>
        <inputAssignments>
            <field>sirenum__CancellationReason__c</field>
            <value>
                <elementReference>$Record.sirenum__Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.sirenum__Shift__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>763</locationX>
        <locationY>79</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>sirenum__Employee_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Update_after_1_day</name>
            <connector>
                <targetReference>Bypass_flow2</targetReference>
            </connector>
            <label>Update after 1 day</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
