Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Forcasted_Pay_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>452</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forcasted_Pay_Date_Field</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <description>https://rssglobal.atlassian.net/browse/PT1-1308</description>
    <environments>Default</environments>
    <formulas>
        <name>Forcasted_Pay_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>IF( 
NOT(ISBLANK({!$Record.Sunday_Weekending__c})),
 {!$Record.Sunday_Weekending__c} + 5,
IF(
 NOT(ISBLANK({!$Record.Friday_Weekending__c})),
 {!$Record.Friday_Weekending__c} + 7, 
IF( 
NOT(ISBLANK({!$Record.Saturday_Weekending__c})),
 {!$Record.Saturday_Weekending__c} + 6,
IF( 
NOT(ISBLANK({!$Record.Wednesday_Weekending__c})),
 {!$Record.Wednesday_Weekending__c} + 9, NULL 
) 
) 
) 
)</expression>
    </formulas>
    <interviewLabel>Record Triggered Flow - Forcasted Pay Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Forcasted Pay Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Forcasted_Pay_Date_Field</name>
        <label>Update Forcasted Pay Date Field</label>
        <locationX>776</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Forecasted_Pay_Date__c</field>
            <value>
                <elementReference>Forcasted_Pay_Date_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR (1 AND 2)</filterLogic>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Published__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>sirenum__Shift__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
