Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Third_Party_Job_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Field_Check</name>
        <label>Field Check</label>
        <locationX>349</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Record.Media_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0</name>
        <label>Field Check</label>
        <locationX>532</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>$Record.Criminal_Records_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0</name>
        <label>Field Check</label>
        <locationX>781</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lunar_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0_0</name>
        <label>Field Check</label>
        <locationX>899</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Record.Qualification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0_0_0</name>
        <label>Field Check</label>
        <locationX>651</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>$Record.Animal_Rights_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0_0_0_0</name>
        <label>Field Check</label>
        <locationX>453</locationX>
        <locationY>980</locationY>
        <assignmentItems>
            <assignToReference>$Record.Professional_Registration_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0_0_0_0_0</name>
        <label>Field Check</label>
        <locationX>252</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.Certificate_of_Fitness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Field_Check_0_0_0_0_0_0_0</name>
        <label>Field Check</label>
        <locationX>140</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proof_of_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Competency_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>368</locationX>
        <locationY>255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Competencys</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Competency_Check</name>
        <label>Competency Check</label>
        <locationX>439</locationX>
        <locationY>673</locationY>
        <defaultConnector>
            <targetReference>Competency_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Media_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check</targetReference>
            </connector>
            <label>Media Check</label>
        </rules>
        <rules>
            <name>Criminal_Records_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0</targetReference>
            </connector>
            <label>Criminal Records Check</label>
        </rules>
        <rules>
            <name>Lunar_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0</targetReference>
            </connector>
            <label>Lunar Training</label>
        </rules>
        <rules>
            <name>Qualification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0_0</targetReference>
            </connector>
            <label>Qualification</label>
        </rules>
        <rules>
            <name>Animal_Rights_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0_0_0</targetReference>
            </connector>
            <label>Animal Rights Check</label>
        </rules>
        <rules>
            <name>Professional_Registration_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0_0_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0_0_0_0</targetReference>
            </connector>
            <label>Professional Registration Check</label>
        </rules>
        <rules>
            <name>Certificate_of_Fitness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0_0_0_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Certificate of Fitness</label>
        </rules>
        <rules>
            <name>Proof_of_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competency_Loop.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a6vPv0000003Ju9IAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Field_Check_0_0_0_0_0_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_Check_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Proof of Address</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Third Party Job Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Third Party Job Application</label>
    <loops>
        <name>Competency_Loop</name>
        <label>Competency Loop</label>
        <locationX>228</locationX>
        <locationY>543</locationY>
        <collectionReference>Get_Competencys</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Competency_Check</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Competencys</name>
        <label>Get Competencys</label>
        <locationX>138</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competency_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.stgAtsCandidateIntegrationRef__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>StagingJobApplication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
