Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_Client_User_Permission_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Brand_Decision</name>
        <label>Brand Decision</label>
        <locationX>207</locationX>
        <locationY>443</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blue_Arrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blue Arrow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Permisson</targetReference>
            </connector>
            <label>Blue Arrow</label>
        </rules>
        <rules>
            <name>Tate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Brand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Permisson_0</targetReference>
            </connector>
            <label>Tate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - Client User Permission Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - Client User Permission Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permisson</name>
        <label>Create Permisson</label>
        <locationX>237</locationX>
        <locationY>619</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSPv0000020edpOAA</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permisson_0</name>
        <label>Create Permisson</label>
        <locationX>516</locationX>
        <locationY>487</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSPv0000020ecDOAQ</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Brand_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00ePv000003Wa8HIAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
