Frankbelford/BAFullDevNEW/force-app/main/default/flows/Record_Triggered_Flow_User_Branch_Phone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Issue_Email</name>
        <label>Send Issue Email</label>
        <locationX>270</locationX>
        <locationY>687</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Issue with a User</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Issue</name>
        <label>Assign Issue</label>
        <locationX>404</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>Issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User has no Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Issue_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Issue_0</name>
        <label>Assign Issue</label>
        <locationX>440</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>Issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>User has no matching Branch Status List to their Role</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Issue_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Issue_0_0</name>
        <label>Assign Issue</label>
        <locationX>575</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>Issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Branch Status List is missing a phone for this branch</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Issue_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Branch_Status_List_Found</name>
        <label>Branch Status List Found</label>
        <locationX>672</locationX>
        <locationY>536</locationY>
        <defaultConnector>
            <targetReference>Update_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UserRole.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Issue</targetReference>
            </connector>
            <label>No Role</label>
        </rules>
        <rules>
            <name>No_Branch_Status_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch_Status_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Issue_0</targetReference>
            </connector>
            <label>No Branch Status Found</label>
        </rules>
        <rules>
            <name>No_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Branch_Status_List.Branch_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Issue_0_0</targetReference>
            </connector>
            <label>No Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Triggered Flow - User Branch Phone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Triggered Flow - User Branch Phone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Branch_Status_List</name>
        <label>Get Branch Status List</label>
        <locationX>663</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Status_List_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserRole.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_BranchStatus__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>804</locationX>
        <locationY>742</locationY>
        <inputAssignments>
            <field>Branch_Phone__c</field>
            <value>
                <elementReference>Get_Branch_Status_List.Branch_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>521</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Branch_Status_List</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Branch_Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_TempestID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Hi&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;There has been an issue with a user, see details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Issue: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Issue}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Name: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Record.FirstName} {!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Email: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!$Record.Email}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thanks&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Sam&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>continuousimprovement@bluearrow.co.uk</stringValue>
        </value>
    </variables>
    <variables>
        <name>Issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
