Frankbelford/BAFullDevNEW/force-app/main/default/flows/RecruiterBot_Question_Deletion_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Value_Assign</name>
        <label>Value Assign</label>
        <locationX>239</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>Question_Loop.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question_Loop.Number_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuestionNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Assign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Value_Assign_0</name>
        <label>Value Assign</label>
        <locationX>399</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>QuestionNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Questions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Question_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>165</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Questions</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RecruiterBot - Question Deletion Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecruiterBot - Question Deletion Trigger</label>
    <loops>
        <name>Question_Loop</name>
        <label>Question Loop</label>
        <locationX>565</locationX>
        <locationY>496</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Value_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecruiterBot__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecruiterBot__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecruiterBot_Question__c</object>
        <sortField>Number_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Questions</name>
        <label>Update Questions</label>
        <locationX>846</locationX>
        <locationY>567</locationY>
        <inputReference>Questions</inputReference>
    </recordUpdates>
    <start>
        <locationX>434</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>RecruiterBot_Question__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>QuestionText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Question {!QuestionNumber}</text>
    </textTemplates>
    <variables>
        <name>QuestionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecruiterBot_Question__c</objectType>
    </variables>
</Flow>
