Frankbelford/BAFullDevNEW/force-app/main/default/flows/Scheduled_Flow_Send_Birthday_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_and_Wish_candidate_Happy_Birthday</name>
        <label>Call and Wish candidate Happy Birthday</label>
        <locationX>982</locationX>
        <locationY>417</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.IP_18DigitID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Call and Wish candidate Happy Birthday</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IP_TaskType__c</name>
            <value>
                <stringValue>General Call</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Birthday_Email_2</name>
        <label>Send Birthday Email 2</label>
        <locationX>739</locationX>
        <locationY>563</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Call_and_Wish_candidate_Happy_Birthday</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014UbKAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Blue Arrow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00XPv000002q07NMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>CandidateID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Candidate_ID_assignment</name>
        <label>Candidate ID assignment</label>
        <locationX>719</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>CandidateID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Birthday_Email_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>1092</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_ID_assignment</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Birthday</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Next_Birthday__c} = {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>Candidate_Email</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Scheduled Flow -Send Birthday email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow -Send Birthday email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>649</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 5 AND 6 AND 7) OR (2 AND ((3 AND 4) OR 4) AND 5 AND 6 AND 7 AND 8)</filterLogic>
        <filters>
            <field>Compliance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Temp_Work__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Perm_Work__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012QH000001ptGVYAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Next_Birthday_Is_Today__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IP_PermDisclaimer__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-12</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
