Frankbelford/BAFullDevNEW/force-app/main/default/flows/Screen_flow_S_placement_flagging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>100</locationX>
        <locationY>128</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_S_placement</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pass_to_Tempest_Decision</name>
        <label>Pass to Tempest Decision</label>
        <locationX>445</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_S_placement.IP_PayrollStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_S_placement.Missing_Placement_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flagging_Check_Screen_0_0</targetReference>
            </connector>
            <label>Missing details</label>
        </rules>
        <rules>
            <name>Not_Passed</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_S_placement.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_S_placement.IP_EmergencyPull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_EmergencyPull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flagging_Check_Screen</targetReference>
            </connector>
            <label>Not Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pass_to_Tempest_Decision_0</name>
        <label>Pass to Tempest Decision</label>
        <locationX>738</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Flagging_Check_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S_placement_flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_S_placement.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_S_placement.IP_EmergencyPull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_S_placement</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_S_placement</targetReference>
            </connector>
            <label>S-placement flag</label>
        </rules>
        <rules>
            <name>Pay_Profile_Flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_PassToTempest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Pay_Profile.IP_EmergencyPull__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Pay_Profile</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pay_Profile</targetReference>
            </connector>
            <label>Pay Profile Flag</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen flow - S-placement flagging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow - S-placement flagging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Pay_Profile</name>
        <label>Get Pay Profile</label>
        <locationX>266</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pass_to_Tempest_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_S_placement.IP_PayMethod__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IP_PayProfile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_S_placement</name>
        <label>Get S-placement</label>
        <locationX>212</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pay_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pay_Profile</name>
        <label>Update Pay Profile</label>
        <locationX>808</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>Update_Pay_Profile_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>IP_PayProfile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pay_Profile_0</name>
        <label>Update Pay Profile</label>
        <locationX>991</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Pass_to_Tempest_Decision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pay_Profile.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IP_PayProfile__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_placement</name>
        <label>Update S-placement</label>
        <locationX>915</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Update_S_placement_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_S_placement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Placement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_placement_0</name>
        <label>Update S-placement</label>
        <locationX>667</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Pass_to_Tempest_Decision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_S_placement.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IP_EmergencyPull__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_PassToTempest__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>sirenum__Placement__c</object>
    </recordUpdates>
    <screens>
        <name>Flagging_Check_Screen</name>
        <label>Flagging Check Screen</label>
        <locationX>652</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pass_to_Tempest_Decision_0</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px; color: rgb(194, 57, 52);&quot;&gt;&lt;u&gt;Alert!&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;S-Placement has not passed to Tempest, this will prevent the Candidate being paid. Use the missing detail fields below as well as the missing details fields on the candidate to correct any issues then use the button below to attempt a reflag.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Pass to Tempest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flagging_Check_Screen_0</name>
        <label>Flagging Check Screen</label>
        <locationX>460</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(17, 150, 0); font-size: 16px;&quot;&gt;S-placement Updated!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Checking to ensure data has passed to Tempest......&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Navigate_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flagging_Check_Screen_0_0</name>
        <label>Flagging Check Screen</label>
        <locationX>603</locationX>
        <locationY>715</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 20px;&quot;&gt;&lt;u&gt;Alert!&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;S-Placement has not passed to Tempest, this will prevent the Candidate being paid. Use the &quot;Missing Placement Details&quot; and &quot;Payroll Status&quot; fields to identify missing details and update as needed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>250</locationX>
        <locationY>101</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
