Frankbelford/BAFullDevNEW/force-app/main/default/flows/Screen_flow_Contact_Holiday_Scheduler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Paid_Holiday_Record</name>
        <label>Create Paid Holiday Record</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HolidayScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Holiday request created successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UpdatedRecord</name>
        <label>UpdatedRecord</label>
        <locationX>662</locationX>
        <locationY>1490</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Records successfully updated as requested</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ApprovedAssignment</name>
        <label>ApprovedAssignment</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Approvedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopApprovedHolidays.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rejectedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopApprovedHolidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Labels</name>
        <label>Assign Labels</label>
        <locationX>618</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>LabelCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Holiday Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a paid/unpaid holiday request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:all</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Approve/Reject</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescriptionCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Approve/Reject Holiday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:all</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_assignments</name>
        <label>Clear assignments</label>
        <locationX>662</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>IdCollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Approvedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rejectedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HolidayCollection</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectedAssignment</name>
        <label>RejectedAssignment</label>
        <locationX>794</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Approvedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRejectedHolidays.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Rejectedv2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRejectedHolidays</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>FullDay</name>
        <choiceText>Full Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>HalfDay</name>
        <choiceText>Half Day</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Half Day</stringValue>
        </value>
    </choices>
    <choices>
        <name>Paid</name>
        <choiceText>Paid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unpaid</name>
        <choiceText>Unpaid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unpaid</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Approval</name>
        <label>Approval</label>
        <locationX>662</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopApprovedHolidays</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approve_Reject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopRejectedHolidays</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>RequestType</name>
        <label>RequestType</label>
        <locationX>618</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>HolidayScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Holiday_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HolidayAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Holiday Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HolidayPaidScreen</targetReference>
            </connector>
            <label>Holiday Request</label>
        </rules>
        <rules>
            <name>Approvals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HolidayAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve/Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalRejectScreen</targetReference>
            </connector>
            <label>Approvals</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen flow - Contact - Holiday Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen flow - Contact - Holiday Scheduler</label>
    <loops>
        <name>LoopApprovedHolidays</name>
        <label>LoopApprovedHolidays</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <collectionReference>HolidayCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApprovedAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRequestRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRejectedHolidays</name>
        <label>LoopRejectedHolidays</label>
        <locationX>706</locationX>
        <locationY>890</locationY>
        <collectionReference>HolidayCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RejectedAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRequestRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Paid_Employee_Request</name>
        <label>Create Paid Employee Request</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Paid_Holiday_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Paid_Unpaid__c</field>
            <value>
                <elementReference>Paid_Unpaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Time__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Contact__c</field>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Date__c</field>
            <value>
                <elementReference>Holiday_Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Local_Start_Date__c</field>
            <value>
                <elementReference>Holiday_Request_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Type__c</field>
            <value>
                <stringValue>Holiday</stringValue>
            </value>
        </inputAssignments>
        <object>sirenum__Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>618</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Holidays</name>
        <label>Get Holidays</label>
        <locationX>618</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HolidayScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Rejected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Employee_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRequestRecords</name>
        <label>Update Request Records</label>
        <locationX>662</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Clear_assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IdCollection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>sirenum__Approved__c</field>
            <value>
                <elementReference>Approvedv2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Rejected__c</field>
            <value>
                <elementReference>Rejectedv2</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Employee_Request__c</object>
    </recordUpdates>
    <screens>
        <name>ApprovalRejectScreen</name>
        <label>ApprovalRejectScreen</label>
        <locationX>662</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Approval</targetReference>
        </connector>
        <fields>
            <name>Headertext2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Employee requests to approve/reject &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Holidaysv2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Employee_Request__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9866&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Request Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Holidays</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>HolidayCollection</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ApprovalRejectScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApprovalRejectScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>blank</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>headertext1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;What do you want to do with the selected requests?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Approve_Reject</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Approve/Reject</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HolidayPaidScreen</name>
        <label>HolidayPaidScreen</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Create_Paid_Employee_Request</targetReference>
        </connector>
        <fields>
            <name>PaidHolidayRequesttext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Paid Holiday Request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HolidayPaidScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HolidayPaidScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Holiday_Request_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Holiday Request Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HolidayPaidScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type</name>
                    <choiceReferences>FullDay</choiceReferences>
                    <choiceReferences>HalfDay</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HolidayPaidScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Paid_Unpaid</name>
                    <choiceReferences>Paid</choiceReferences>
                    <choiceReferences>Unpaid</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Paid/Unpaid</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Holiday Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HolidayScreen</name>
        <label>HolidayScreen</label>
        <locationX>618</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RequestType</targetReference>
        </connector>
        <fields>
            <name>HolidayScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HolidayScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requestsv2</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>staticChoicesString</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Paid Holiday&quot;,&quot;value&quot;:&quot;Paid Holiday&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>IconCollection1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>LabelCollection1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>DescriptionCollection1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSameHeight</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>HolidayAnswer</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;displaytext&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HolidayScreen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HolidayScreen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HolidayScreen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OutstandingHolidayRequests</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Outstanding Holiday Requests&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>HolidayApprovalsv2</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>sirenum__Employee_Request__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Holidays</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8dd0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Request Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;sirenum__Date__c&quot;,&quot;guid&quot;:&quot;column-2ac6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>HolidayScreen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>HolidayScreen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>HolidayScreen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>492</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Labels</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Approvedv2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionCollection1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionCollection3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionLabel2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HolidayAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HolidayApprovalSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HolidayCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
    <variables>
        <name>IconCollection1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IconCollection2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IconCollection3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rejectedv2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnpaidLeaveAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedRequestsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Employee_Request__c</objectType>
    </variables>
</Flow>
