Frankbelford/BAFullDevNEW/force-app/main/default/flows/Screen_Flow_Admin_Candidate_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Done</name>
        <label>Done</label>
        <locationX>557</locationX>
        <locationY>1191</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>Dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Records moved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Candidate</name>
        <label>Assign Candidate</label>
        <locationX>584</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>Timesheet_Loop.sirenum__Worker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Lookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Timesheet_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Candidate_0</name>
        <label>Assign Candidate</label>
        <locationX>900</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>Shift_Loop.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Lookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Candidate_0_0</name>
        <label>Assign Candidate</label>
        <locationX>571</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>S_placement_Loop.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Lookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_placement_Loop.IP_PayMethod__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>S_placement_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Candidate_0_0_0</name>
        <label>Assign Candidate</label>
        <locationX>1006</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Document_Loop.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Lookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>424</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidate_Search</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow - Admin Candidate Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Admin Candidate Transfer</label>
    <loops>
        <name>Document_Loop</name>
        <label>Document Loop</label>
        <locationX>827</locationX>
        <locationY>983</locationY>
        <collectionReference>Get_Document_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Candidate_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>S_placement_Loop</name>
        <label>S-placement Loop</label>
        <locationX>749</locationX>
        <locationY>768</locationY>
        <collectionReference>Get_S_Placements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Candidate_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_S_placements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Shift_Loop</name>
        <label>Shift Loop</label>
        <locationX>747</locationX>
        <locationY>580</locationY>
        <collectionReference>Get_Shifts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Candidate_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Shift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Timesheet_Loop</name>
        <label>Timesheet Loop</label>
        <locationX>403</locationX>
        <locationY>558</locationY>
        <collectionReference>Get_Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Candidate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Timesheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document_Link</name>
        <label>Get Document Link</label>
        <locationX>670</locationX>
        <locationY>1003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_S_Placements</name>
        <label>Get S-Placements</label>
        <locationX>892</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_placement_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Placement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shifts</name>
        <label>Get Shifts</label>
        <locationX>616</locationX>
        <locationY>642</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shift_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheets</name>
        <label>Get Timesheets</label>
        <locationX>333</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Worker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Document_Link</name>
        <label>Update Document Link</label>
        <locationX>753</locationX>
        <locationY>1169</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputReference>Get_Document_Link</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_S_placements</name>
        <label>Update S-placements</label>
        <locationX>534</locationX>
        <locationY>963</locationY>
        <connector>
            <targetReference>Get_Document_Link</targetReference>
        </connector>
        <inputReference>Get_S_Placements</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Shift</name>
        <label>Update Shift</label>
        <locationX>1208</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Get_S_Placements</targetReference>
        </connector>
        <inputReference>Get_Shifts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Timesheets</name>
        <label>Update Timesheets</label>
        <locationX>451</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Get_Shifts</targetReference>
        </connector>
        <inputReference>Get_Timesheets</inputReference>
    </recordUpdates>
    <screens>
        <name>Candidate_Search</name>
        <label>Candidate Search</label>
        <locationX>279</locationX>
        <locationY>270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Timesheets</targetReference>
        </connector>
        <fields>
            <name>Person_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>RecordTypeID = &apos;012QH000001ptGVYAY&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who do you want to transfer data to?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
