Frankbelford/BAFullDevNEW/force-app/main/default/flows/Screen_Flow_Candidate_Competency_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cannot</name>
        <label>Cannot Request - Covid Exempt</label>
        <locationX>121</locationX>
        <locationY>468</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>Dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Candidate has got valid Covid Vaccination Exception competency</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cannot_Request_Covid</name>
        <label>Cannot Request - Covid</label>
        <locationX>104</locationX>
        <locationY>630</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>8</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Candidate has already got a valid Fully Covid Vaccinated competency</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_Sent</name>
        <label>Email Sent</label>
        <locationX>915</locationX>
        <locationY>731</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Email successfully sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>Dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Covid_Email</name>
        <label>Send Covid Email</label>
        <locationX>432</locationX>
        <locationY>691</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Email_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Decision</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014nxKAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00XPv000002q066MAA</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Email_Success</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>598</locationX>
        <locationY>99</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Covid_Competency_Decision</name>
        <label>Covid Competency Decision</label>
        <locationX>488</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Covid_Proof_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type-10136</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Request_Covid</targetReference>
            </connector>
            <label>Covid Proof Exists</label>
        </rules>
        <rules>
            <name>Covid_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__TicketType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Type-01037</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot</targetReference>
            </connector>
            <label>Covid Exemption Exist</label>
        </rules>
        <rules>
            <name>No_Covid_Competency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__TicketType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Type-01037</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Competencies.sirenum__TicketType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Type-01036</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Covid_Email</targetReference>
            </connector>
            <label>No Existing Covid Competency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Decision</name>
        <label>Email Decision</label>
        <locationX>596</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Create_Covid_Competency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed_to_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Covid_Email</targetReference>
            </connector>
            <label>Failed to Send</label>
        </rules>
    </decisions>
    <description>Allow branch to request for proof of certain competencies from candidate, e.g. Covid Vaccine Proof</description>
    <environments>Default</environments>
    <formulas>
        <name>UserBrand</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.Brand__c})</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Screen Flow - Candidate Competency Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Candidate Competency Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Covid_Competency</name>
        <label>Create Covid Competency</label>
        <locationX>788</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Email_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Request_Made__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting_Candidate_Response</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Revoked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__TicketType__c</field>
            <value>
                <stringValue>a6uPv0000008AuzIAE</stringValue>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>333</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Competencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Competencies</name>
        <label>Get Competency</label>
        <locationX>336</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Competency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ticket_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fully Covid Vaccinated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PORTW</name>
        <label>Get PORTW</label>
        <locationX>4</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002JsBsIAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Verfied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Select_Competency</name>
        <label>Select Competency</label>
        <locationX>521</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Warning</targetReference>
        </connector>
        <fields>
            <name>Covid_Vaccinated</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>COVID19 Vaccine Status Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>centre</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>676</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Covid_Competency_Decision</targetReference>
        </connector>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;COVID vaccine status should only be requested for workers when this is at the specific request of a client and we have sent and received a reply to the &apos;COVID vaccination client email&apos; template. Please confirm that the candidate meets this requirement.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>206</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BA_SMS_Portal_Details</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, click the following link to login to your Blue Arrow Portal https://bit.ly/2Ni5TLg. You’ll be asked for you login details which you can reset if you’ve forgotten them. Thanks, Blue Arrow</text>
    </textTemplates>
    <textTemplates>
        <name>BA_SMS_Register</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, Thanks for choosing Blue Arrow to help you find your next role. Click the following link to create your account and start your registration https://bit.ly/3jhOM6K. You can complete in your own time; saving your progress and returning to your registration any time. We hope to welcome you soon. Thanks, Blue Arrow</text>
    </textTemplates>
    <textTemplates>
        <name>BA_SMS_Reminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, we noticed you began to register with us. You can pick up where you left off anytime by clicking this link. You’ll be asked for you login details which you can reset if you’ve forgotten them https://bit.ly/2Ni5TLg. Thanks Blue Arrow</text>
    </textTemplates>
    <textTemplates>
        <name>PORTWURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>https://blue-arrow.lightning.force.com/{!Get_PORTW.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>Tate_SMS_Portal</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, click the following link to login to your Tate Portal https://bit.ly/3t04UyI. You’ll be asked for you login details which you can reset if you’ve forgotten them. Thanks, Tate</text>
    </textTemplates>
    <textTemplates>
        <name>Tate_SMS_Register</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, Thanks for choosing Tate to help you find your next role. Click the following link to create your account and start your registration https://bit.ly/2R2Pyfb. You can complete in your own time; saving your progress and returning to your registration any time. We hope to welcome you soon. Thanks, Tate</text>
    </textTemplates>
    <textTemplates>
        <name>Tate_SMS_Reminder</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Candidate.FirstName}, we noticed you began to register with us. You can pick up where you left off anytime by clicking this link. You’ll be asked for you login details which you can reset if you’ve forgotten them https://bit.ly/3t04UyI. Thanks Tate</text>
    </textTemplates>
    <variables>
        <name>Email_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PORTWFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sender_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
