Frankbelford/BAFullDevNEW/force-app/main/default/flows/Screen_Flow_Prospect_Site_Conversion_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Prospect_Site_Con_Req_Email_Notification</name>
        <label>Prospect Site Con Req Email Notification</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Site_Name_is_Modified</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Prospect_Site_Con_Req_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>BlueArrowNoReplyEmailAddressLst</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Site Conversion Request Notification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SendHTMLEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign list of email addresses to send Prospect to Active Site Conversion Notification</description>
        <name>Assign_Email_Addresses</name>
        <label>Assign Email Addresses</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>BlueArrowNoReplyEmailAddressLst</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>jobscienceNA@bluearrow.co.uk</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prospect_Site_Con_Req_Email_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>BlueArrowNoReplyEmailAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>swarupa.karri@rssglobal.com,Lauren.Maxwell@bluearrow.co.uk,bethan.jones@bluearrow.co.uk,laurenelvina@gmail.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Info</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Site_Name_is_Modified</name>
        <label>Check if Site Name is Modified</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Pros_Con_Req_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Site_Name_Modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site_Info.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Site_Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Site_Name_and_Other_Fields</targetReference>
            </connector>
            <label>Is Site Name Modified</label>
        </rules>
    </decisions>
    <description>Prospect Site Conversion Request</description>
    <dynamicChoiceSets>
        <name>BusinessSubTypeChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Sub_Type__c</picklistField>
        <picklistObject>sirenum__Site__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessTypeChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Type__c</picklistField>
        <picklistObject>sirenum__Site__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Site_Record_Link</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!recordId}</expression>
    </formulas>
    <interviewLabel>Screen Flow - Prospect Site Conversion Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Prospect Site Conversion Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Letterhead_Info</name>
        <label>Get Letterhead Info</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blue Arrow Letter Head - No merge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EnhancedLetterhead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Info</name>
        <label>Get Site Info</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Letterhead_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Pros_Con_Req_Fields</name>
        <label>Update Prospect Conversion Request Fields</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Prospect_Con_Req_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Site__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_Name_and_Other_Fields</name>
        <label>Update Site Name and Other Fields</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Site_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Con_Req_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Site__c</object>
    </recordUpdates>
    <screens>
        <name>Convert_Site</name>
        <label>Prospect Site Conversion Request</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Email_Addresses</targetReference>
        </connector>
        <fields>
            <name>Site_Link_Label</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Link to the Prospect Site:&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Link_Value</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!Site_Record_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;{!Site_Record_Link}&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Name_Naming_Convention</name>
            <fieldText>&lt;p&gt;&lt;em&gt;**Naming Convention: N&lt;/em&gt;&lt;em style=&quot;font-size: inherit;&quot;&gt;ational Account – Site Name – Location – (Site Number or ID if Needed)&amp;nbsp;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.Name</elementReference>
            </defaultValue>
            <fieldText>Site Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_PO</name>
            <dataType>String</dataType>
            <fieldText>Unit/PO Number(If Required)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DBS_Check</name>
            <dataType>String</dataType>
            <fieldText>DBS Check(If Required)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SL_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_SalesLedgerNo__c</elementReference>
            </defaultValue>
            <fieldText>SL Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inv_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_Invoice_Address_Full__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_ClientInvoiceName__c</elementReference>
            </defaultValue>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessType</name>
            <choiceReferences>BusinessTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.Business_Type__c</elementReference>
            </defaultValue>
            <fieldText>Business Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BusinessSubType</name>
            <choiceReferences>BusinessSubTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.Business_Sub_Type__c</elementReference>
            </defaultValue>
            <fieldText>Business SubType</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inv_Con_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_InvoiceContactText__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inv_Con_Email_addresses</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_InvoiceContactEmail__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Contact Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inv_Con_Phone_Numbers</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Site_Info.IP_InvoiceContactPhone__c</elementReference>
            </defaultValue>
            <fieldText>Invoice Contact Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Submit</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actionTarget</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Finish</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Prospect_Site_Con_Req_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!Get_Letterhead_Info.LetterheadHeader}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Hi,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Please could you verify the below Prospect Site Conversion request:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Site_Record_Link}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Site_Record_Link}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Site Name &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                                       : {!Site_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Unit/PO Number &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                           : {!Unit_PO}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;DBS Check &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                                      : {!DBS_Check}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;SL Number  &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                                    : {!SL_Number}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Invoice Address&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                              : {!Inv_Address}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Business Type&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                                 : {!BusinessType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Business SubType&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                          : {!BusinessSubType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Company Name &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                            : {!Company_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Invoice Contact Name   &lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;                : {!Inv_Con_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Invoice Contact Email Address&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; : {!Inv_Con_Email_addresses}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Invoice Contact Phone Number&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt; : {!Inv_Con_Phone_Numbers}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Once the site has been activated, the site owner will be notified.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Thank You.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;{!Get_Letterhead_Info.LetterheadFooter}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Configured Blue Arrow No Reply Email Address for now. Created a list to add additional emails in the future.</description>
        <name>BlueArrowNoReplyEmailAddressLst</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of a Site Record which initiates the Prospect Conversion request</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
