Frankbelford/BAFullDevNEW/force-app/main/default/flows/TKC_Add_Contact_to_Call_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateBellNotification</name>
        <label>CreateBellNotification</label>
        <locationX>534</locationX>
        <locationY>2966</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>$Label.TCK_CandidatesAddedToCallListTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>TargetId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddCandidateName</name>
        <label>AddCandidateName</label>
        <locationX>138</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>ExistingCallListMemberContactNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingCallListMemberNamesAndComma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCandidateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughExistingMembers.TR1__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RemoveCandidateWithMembership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>622</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>CallListMemberRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CallListMemberRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfCallListMembersCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignNewMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveComma</name>
        <label>RemoveComma</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>ExistingCallListMemberContactNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NonMemberCandidatesFinal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Members_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCallListMemberRecord</name>
        <label>SetCallListMemberRecord</label>
        <locationX>622</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>CallListMemberRecord.TR1__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignNewMembers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallListMemberRecord.TR1__Call_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallListId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Is used to create a text collection from text.</description>
        <name>SetCandidateIdsCollection</name>
        <label>SetCandidateIdsCollection</label>
        <locationX>116</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>SelectedCandidateIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetNextCandidateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CandidateIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FurtherCandidateIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Length</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateIdsFilteredCollection</name>
        <label>SetCandidateIdsFilteredCollection</label>
        <locationX>138</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>SelectedCandidateIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveCandidateWithMembership</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughExistingMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Is used to create a text collection from text</description>
        <name>SetCandidateIdsVariable</name>
        <label>SetCandidateIdsVariable</label>
        <locationX>116</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CandidateIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Textkernel1__SearchResultIds__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCandidateIdsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewCallListRecord</name>
        <label>SetNewCallListRecord</label>
        <locationX>842</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>CallListRecord.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallListRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallListName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallListRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCallListRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCallList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Is used in Notification, it must be text collection variable</description>
        <name>SetRecipientId</name>
        <label>SetRecipientId</label>
        <locationX>534</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBellNotification</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>RemoveCandidateWithMembership</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>RemoveCandidateWithMembership</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignNextValueToReference>currentItem_RemoveCandidateWithMembership</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SelectedCandidateIds</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_RemoveCandidateWithMembership</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>LoopCandidateId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SetCandidateIdsFilteredCollection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>1007</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Textkernel1__Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddCandidateToCallListPortal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateIdsVariable</targetReference>
            </connector>
            <label>Call List</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is used to check if there are any Ids left to process</description>
        <name>Check_Length</name>
        <label>Check Length</label>
        <locationX>116</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>GetCallListRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;18</defaultConnectorLabel>
        <rules>
            <name>X18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedIdsLength</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetCandidateIdsCollection</targetReference>
            </connector>
            <label>&gt;=18</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfCallListFound</name>
        <label>CheckIfCallListFound</label>
        <locationX>534</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>SetNewCallListRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Call List Found</defaultConnectorLabel>
        <rules>
            <name>Call_List_is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCallList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCallListMembers</targetReference>
            </connector>
            <label>Call List is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfMembersFound</name>
        <label>CheckIfMembersFound</label>
        <locationX>226</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>AssignNewMembers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoMembersFound</defaultConnectorLabel>
        <rules>
            <name>Member_s_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCallListMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughExistingMembers</targetReference>
            </connector>
            <label>Member(s)Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Members_to_Create</name>
        <label>New Members to Create?</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Do not create Members</defaultConnectorLabel>
        <rules>
            <name>Create_New_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedCandidateIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignNewMembers</targetReference>
            </connector>
            <label>Create New Members</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BeginningOfToday</name>
        <dataType>DateTime</dataType>
        <expression>(DATETIMEVALUE( TEXT(YEAR(TODAY())) + &quot;-&quot; + TEXT(MONTH(TODAY())) + &quot;-&quot; +   TEXT(DAY(TODAY())) + &quot; 00:00:00&quot;))</expression>
    </formulas>
    <formulas>
        <name>CallListDisplayName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetCallList.Id}), {!CallListName}, {!GetCallList.Name})</expression>
    </formulas>
    <formulas>
        <name>CallListId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!GetCallList.Id}), {!CallListRecord.Id}, {!GetCallList.Id} )</expression>
    </formulas>
    <formulas>
        <name>CallListName</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT(TODAY()) &amp; &apos; - &apos; &amp; {!$User.Username} ,79)</expression>
    </formulas>
    <formulas>
        <name>ExistingCallListMemberNamesAndComma</name>
        <dataType>String</dataType>
        <expression>{!LoopThroughExistingMembers.TKC_Candidate_Name__c} &amp; &apos;, &apos;</expression>
    </formulas>
    <formulas>
        <name>FurtherCandidateIds</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!CandidateIds})=18, &apos;&apos;,
IF(LEN({!CandidateIds})&gt;18,
TRIM(RIGHT({!CandidateIds}, LEN({!CandidateIds}) - FIND(&quot;,&quot;,{!CandidateIds}))),null))</expression>
    </formulas>
    <formulas>
        <name>GetNextCandidateId</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!CandidateIds}) =18, {!CandidateIds},
IF(LEN({!CandidateIds}) &gt;18,
LEFT({!CandidateIds}, FIND(&quot;,&quot;,{!CandidateIds}) - 1),null))</expression>
    </formulas>
    <formulas>
        <name>NonMemberCandidatesFinal</name>
        <dataType>String</dataType>
        <expression>LEFT( {!ExistingCallListMemberContactNames}, LEN({!ExistingCallListMemberContactNames})- 2)</expression>
    </formulas>
    <formulas>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Flow.FaultMessage}),

IF(ISBLANK({!ExistingCallListMemberContactNames}), 
{!$Label.TKC_CandidatesAddedToCallList} &amp; &apos; &apos; &amp; {!CallListDisplayName} &amp; &apos;.&apos;,

IF({!NumberOfCallListMembersCreated} !=0, 
{!$Label.TKC_CandidatesAddedToCallList} &amp; &apos; &apos; &amp; {!CallListDisplayName} &amp; &apos;.&apos; &amp;
{!$Label.TKC_CandidateNotAddedToCallList} &amp; &apos; &apos; &amp;{!ExistingCallListMemberContactNames},

{!$Label.TKC_CandidateNotAddedToCallList} &amp; &apos; &apos; &amp;{!ExistingCallListMemberContactNames}
)
)

,{!$Label.TKC_ErrorMessage})</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SelectedIdsLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!CandidateIds})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TargetId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!CallListRecord.Id}), {!GetCallList.Id}, {!CallListRecord.Id})</expression>
    </formulas>
    <interviewLabel>TKC - Add Contact to Call List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TKC - Add Contact to Call List</label>
    <loops>
        <name>AssignNewMembers</name>
        <label>AssignNewMembers</label>
        <locationX>534</locationX>
        <locationY>2234</locationY>
        <collectionReference>SelectedCandidateIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCallListMemberRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCallTeamMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughExistingMembers</name>
        <label>LoopThroughExistingMembers</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <collectionReference>GetCallListMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddCandidateName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RemoveComma</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCallList</name>
        <label>CreateCallList</label>
        <locationX>842</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>AssignNewMembers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNotificationType</targetReference>
        </faultConnector>
        <inputReference>CallListRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCallTeamMembers</name>
        <label>CreateCallTeamMembers</label>
        <locationX>534</locationX>
        <locationY>2642</locationY>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNotificationType</targetReference>
        </faultConnector>
        <inputReference>CallListMemberRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetCallList</name>
        <label>GetCallList</label>
        <locationX>534</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfCallListFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNotificationType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCallListRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>BeginningOfToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Call_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCallListMembers</name>
        <label>GetCallListMembers</label>
        <locationX>226</locationX>
        <locationY>926</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfMembersFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetNotificationType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Call_List__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCallList.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Contact__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SelectedCandidateIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Call_List_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCallListRecordType</name>
        <label>GetCallListRecordType</label>
        <locationX>534</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCallList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TR1__Call_List__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Search_Result</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>534</locationX>
        <locationY>2750</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetRecipientId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BellNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Textkernel1__PortalAction__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CallListMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Call_List_Member__c</objectType>
    </variables>
    <variables>
        <name>CallListMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Call_List_Member__c</objectType>
    </variables>
    <variables>
        <name>CallListRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Call_List__c</objectType>
    </variables>
    <variables>
        <name>CandidateIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_RemoveCandidateWithMembership</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingCallListMemberContactNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfCallListMembersCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCandidateIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
