Frankbelford/BAFullDevNEW/force-app/main/default/flows/Transfer_consultant_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_owner_map</name>
        <label>Account owner map</label>
        <locationX>975</locationX>
        <locationY>429</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Accounts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_accounts_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>AccountText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Assignment_owner_map</name>
        <label>Assignment owner map</label>
        <locationX>1771</locationX>
        <locationY>1420</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Assignments</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>TR1__Job__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>TR1__Job__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_Assignment_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>AssignmentText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Candidate_owner_map</name>
        <label>Candidate owner map</label>
        <locationX>615</locationX>
        <locationY>804</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Candidates</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_candidates_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>CandidateOwnerText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CDP_owner_Map</name>
        <label>CDP owner Map</label>
        <locationX>2852</locationX>
        <locationY>1351</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_CDPs</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Sales_Campaign__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Sales_Campaign__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_CDPS_for_loop_0_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>CDPText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Contact_owner_map</name>
        <label>Contact Owner Map</label>
        <locationX>1511</locationX>
        <locationY>1930</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Client_Contacts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_Contacts_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>ContactOwnerText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Contracts_owner_map</name>
        <label>Contracts owner map</label>
        <locationX>1885</locationX>
        <locationY>2069</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Contracts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Contracts__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Contracts__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_Contracts_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>ContractsText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Accounts</name>
        <label>Mass update Accounts</label>
        <locationX>1036</locationX>
        <locationY>554</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Account_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Assignments</name>
        <label>Mass_update_Assignments</label>
        <locationX>1652</locationX>
        <locationY>1472</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>TR1__Job__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Assignment_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Candidates</name>
        <label>Mass update Candidates</label>
        <locationX>749</locationX>
        <locationY>1020</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BatchSize</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Candidate_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_CDPs</name>
        <label>Mass update CDPs</label>
        <locationX>3017</locationX>
        <locationY>1346</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Sales_Campaign__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>CDP_owner_Map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Client_Contacts</name>
        <label>Mass update Client Contacts</label>
        <locationX>1523</locationX>
        <locationY>1762</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Contact_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Contracts</name>
        <label>Mass update Contracts</label>
        <locationX>1724</locationX>
        <locationY>2007</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Contracts__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>No_Assignment_records_found_decision</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Contracts_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_New_Business_Leads</name>
        <label>Mass update New Business Leads</label>
        <locationX>2927</locationX>
        <locationY>1653</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Inquiry__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>NewBusinessLead_Owner_Map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_S_placements</name>
        <label>Mass update S-placements</label>
        <locationX>1664</locationX>
        <locationY>793</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>sirenum__Placement__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>SPlacement_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Shifts</name>
        <label>Mass update Shifts</label>
        <locationX>977</locationX>
        <locationY>1703</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>sirenum__Shift__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Shift_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Sites</name>
        <label>Mass update Sites</label>
        <locationX>1569</locationX>
        <locationY>518</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>sirenum__Site__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Site_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Mass_update_Tasks</name>
        <label>Mass update Tasks</label>
        <locationX>1872</locationX>
        <locationY>1042</locationY>
        <actionName>MassTransactorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__RequestList</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Error_Screen_when_no_records_identified</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>OperationType</name>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RequestList</name>
            <value>
                <elementReference>Task_owner_map.outputCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassTransactorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NewBusinessLead_Owner_Map</name>
        <label>NewBusinessLead Owner Map</label>
        <locationX>2923</locationX>
        <locationY>1488</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_New_Business_Leads</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Inquiry__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Inquiry__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_Contracts_for_loop_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>NewBusinessLeadText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Shift_owner_map</name>
        <label>Shift owner map</label>
        <locationX>1030</locationX>
        <locationY>1889</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Shifts</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>sirenum__Shift__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>sirenum__Shift__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_Shifts_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>ShiftText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Site_owner_map</name>
        <label>Site Owner Map</label>
        <locationX>1467</locationX>
        <locationY>601</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Sites</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>sirenum__Site__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>sirenum__Site__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_site_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>SiteText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SPlacement_owner_map</name>
        <label>SPlacement Owner Map</label>
        <locationX>1780</locationX>
        <locationY>753</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_S_placements</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>sirenum__Placement__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>sirenum__Placement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_S_placement_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>SplacementText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Task_owner_map</name>
        <label>Task owner map</label>
        <locationX>1948</locationX>
        <locationY>913</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mass_update_Tasks</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_selected_future_task_for_loop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>TaskText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>172</locationX>
        <locationY>1147</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_consultant_profile_record_details</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>CDP_records_found_decision_0_0</name>
        <label>CDP records found decision</label>
        <locationX>2588</locationX>
        <locationY>1377</locationY>
        <defaultConnector>
            <targetReference>CDP_owner_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_CDP_records_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_CDPS_for_loop_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No CDP records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_from_and_to_users</name>
        <label>Check the from and to users</label>
        <locationX>759</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Duplicate_user_selected_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_that_both_users_are_not_same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Lookup_From.selectedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>User_Lookup_To.selectedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_records_you_want_to_transfer_over</targetReference>
            </connector>
            <label>Both users are not same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mark_user_as_inactive</name>
        <label>Mark user as inactive?</label>
        <locationX>678</locationX>
        <locationY>1642</locationY>
        <defaultConnector>
            <targetReference>Success_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_user_Marked_as_inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mark_consultant_as_Inactive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_selected_FROM_user</targetReference>
            </connector>
            <label>Is the user Marked as inactive?</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Assignment_records_found_decision</name>
        <label>No Assignment records found decision</label>
        <locationX>1841</locationX>
        <locationY>1302</locationY>
        <defaultConnector>
            <targetReference>Assignment_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Assignment_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Assignment_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Assignment records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>no_business_leads_records_found_decision_0</name>
        <label>No Business Leads records found decision</label>
        <locationX>2617</locationX>
        <locationY>1527</locationY>
        <defaultConnector>
            <targetReference>NewBusinessLead_Owner_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Business_Lead_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Contracts_for_loop_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Business Lead records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Candidates_records_found_decision</name>
        <label>No Candidates records found decision</label>
        <locationX>835</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Candidate_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Candidates_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_candidates_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Candidates records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Contact_records_found_decision</name>
        <label>No Contact records found decision</label>
        <locationX>1391</locationX>
        <locationY>2094</locationY>
        <defaultConnector>
            <targetReference>Contact_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Contacts_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Contact records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Contract_records_found_decision</name>
        <label>No Contract records found decision</label>
        <locationX>1815</locationX>
        <locationY>1649</locationY>
        <defaultConnector>
            <targetReference>Contracts_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contract_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Contracts_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Contract records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_records_found_decision</name>
        <label>No records found decision</label>
        <locationX>1172</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Account_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_records_found_decision_accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_accounts_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No records found decision_accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_records_found_site</name>
        <label>No records found decision</label>
        <locationX>1396</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Site_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_records_found_decision_site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_site_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No records found decision site</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_S_Palcement_records_found_decision</name>
        <label>No S-Palcement records found decision</label>
        <locationX>1661</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>SPlacement_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_S_placement_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_S_placement_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No S-placement records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Shift_records_found_decision</name>
        <label>No Shift records found decision</label>
        <locationX>1172</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Shift_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Shift_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_Shifts_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Shift records found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Task_records_found_decision</name>
        <label>No Task records found decision</label>
        <locationX>1777</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>Task_owner_map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Task_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_selected_future_task_for_loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_selected_for_the_loop</targetReference>
            </connector>
            <label>No Task records found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This shows the options that have been selected for the loop.</description>
        <name>Options_selected_for_the_loop</name>
        <label>Options selected for the loop.</label>
        <locationX>1289</locationX>
        <locationY>1230</locationY>
        <defaultConnector>
            <targetReference>Mark_user_as_inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Candidate_records_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Candidate_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Candidates_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Candidates_Navigate_Screen</targetReference>
            </connector>
            <label>Candidate records Selected</label>
        </rules>
        <rules>
            <name>Accounts_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Accounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accounts_Navigate_Screen</targetReference>
            </connector>
            <label>Accounts Selected</label>
        </rules>
        <rules>
            <name>Sites_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sites</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Navigate_Screen</targetReference>
            </connector>
            <label>Sites Selected</label>
        </rules>
        <rules>
            <name>S_placements_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S_placements</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S_placement_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S_placement_Navigate_Screen</targetReference>
            </connector>
            <label>S-placements Selected</label>
        </rules>
        <rules>
            <name>Future_tasks_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Future_tasks</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Task_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Navigate_Screen</targetReference>
            </connector>
            <label>Future tasks Selected</label>
        </rules>
        <rules>
            <name>Assignments_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignments</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assignment_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Navigate_Screen</targetReference>
            </connector>
            <label>Assignments Selected</label>
        </rules>
        <rules>
            <name>Client_contracts_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_contracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Navigate_Screen</targetReference>
            </connector>
            <label>Client contracts Selected</label>
        </rules>
        <rules>
            <name>Client_contacts_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Navigate_Screen</targetReference>
            </connector>
            <label>Client contacts Selected</label>
        </rules>
        <rules>
            <name>Shift_records_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shift_records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Shift_Navigate_Screen</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shift_Navigate_Screen</targetReference>
            </connector>
            <label>Shift records Selected</label>
        </rules>
        <rules>
            <name>CDPs_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CDPs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CDP_Navigate_Screen_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CDP_Navigate_Screen_0</targetReference>
            </connector>
            <label>CDPs Selected</label>
        </rules>
        <rules>
            <name>New_Business_Leads_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Business_Leads</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewBusinessLeads_Navigate_Screen_0_0</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBusinessLeads_Navigate_Screen_0_0</targetReference>
            </connector>
            <label>New Business Leads Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UserRecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Last_10_days</name>
        <dataType>Date</dataType>
        <expression>( {!$Flow.CurrentDate} -10 )</expression>
    </formulas>
    <formulas>
        <name>Last_7_days</name>
        <dataType>Date</dataType>
        <expression>( {!$Flow.CurrentDate} -7 )</expression>
    </formulas>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Transfer consultant records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Consultant Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_consultant_profile_record_details</name>
        <label>Get consultant profile record details</label>
        <locationX>316</locationX>
        <locationY>1314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Consultant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JS Recruiter - Hybrid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_accounts_for_loop</name>
        <label>Get selected accounts for loop</label>
        <locationX>1290</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_records_found_decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Assignment_for_loop</name>
        <label>Get selected Assignment for loop</label>
        <locationX>1682</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Assignment_records_found_decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3)</filterLogic>
        <filters>
            <field>TR1__Sourcing_Recruiter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>TR1__Sourcing_Recruiter__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_candidates_for_loop</name>
        <label>Get selected candidates for loop</label>
        <locationX>986</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Candidates_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012QH000001ptGVYAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_CDPS_for_loop_0_0</name>
        <label>Get selected CDPs for loop</label>
        <locationX>2458</locationX>
        <locationY>1386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CDP_records_found_decision_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Campaign__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Contacts_for_loop</name>
        <label>Get selected Contacts for loop</label>
        <locationX>1297</locationX>
        <locationY>1918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Contact_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002GXy9IAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>Person_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Contracts_for_loop</name>
        <label>Get selected Contracts for loop</label>
        <locationX>1640</locationX>
        <locationY>1733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Contract_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contracts__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Contracts_for_loop_0</name>
        <label>Get selected New Business Leads for loop</label>
        <locationX>2454</locationX>
        <locationY>1691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>no_business_leads_records_found_decision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Converted__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_future_task_for_loop</name>
        <label>Get selected future task for loop</label>
        <locationX>1733</locationX>
        <locationY>1025</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Task_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_S_placement_for_loop</name>
        <label>Get selected S-placement for loop</label>
        <locationX>1573</locationX>
        <locationY>761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_S_Palcement_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_Consultant1LookupSplitShare__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last_7_days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Placement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IP_Consultant1LookupSplitShare__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_Shifts_for_loop</name>
        <label>Get selected Shifts for loop</label>
        <locationX>1094</locationX>
        <locationY>1575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Shift_records_found_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Shift_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last_10_days</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_selected_site_for_loop</name>
        <label>Get selected site for loop</label>
        <locationX>1376</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_records_found_site</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Disable_selected_FROM_user</name>
        <label>Disable selected FROM user</label>
        <locationX>242</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_Lookup_From.selectedRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deactivate_User__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Accounts_Navigate_Screen</name>
        <label>Accounts_Navigate Screen</label>
        <locationX>1225</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_accounts_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Assignment_Navigate_Screen</name>
        <label>Assignment Navigate Screen</label>
        <locationX>1480</locationX>
        <locationY>1360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_Assignment_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Candidates_Navigate_Screen</name>
        <label>Candidates Navigate Screen</label>
        <locationX>956</locationX>
        <locationY>1091</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_candidates_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>CDP_Navigate_Screen_0</name>
        <label>CDP Navigate Screen</label>
        <locationX>2272</locationX>
        <locationY>1421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_CDPS_for_loop_0_0</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Contact_Navigate_Screen</name>
        <label>Contact Navigate Screen</label>
        <locationX>1291</locationX>
        <locationY>1759</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_Contacts_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Contract_Navigate_Screen</name>
        <label>Contract Navigate Screen</label>
        <locationX>1460</locationX>
        <locationY>1507</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_Contracts_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_user_selected_screen</name>
        <label>Duplicate user selected_screen</label>
        <locationX>763</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Consultant</targetReference>
        </connector>
        <fields>
            <name>Duplicate_user_selected_text</name>
            <fieldText>&lt;p&gt;The selected users in the &lt;strong&gt;FROM &lt;/strong&gt;and &lt;strong&gt;TO &lt;/strong&gt;dropdown list&lt;strong&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 65, 65);&quot;&gt;should not be the same&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please ensure the same user is not selected and try again. You can go back to the previous screen by clicking on the previous button below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_when_no_records_identified</name>
        <label>Error Screen when no records identified.</label>
        <locationX>2545</locationX>
        <locationY>1221</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_the_records_you_want_to_transfer_over</targetReference>
        </connector>
        <fields>
            <name>Error_Screen</name>
            <fieldText>&lt;p&gt;Unfortunately an error has occurred please close this window and try again, an email has been raised for investigation. If you continue to have this issue raise a wise ticket with the date and time of the error and we will investigate.Thank you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>NewBusinessLeads_Navigate_Screen_0_0</name>
        <label>New Business Leads Navigate Screen</label>
        <locationX>2260</locationX>
        <locationY>1689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_Contracts_for_loop_0</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>S_placement_Navigate_Screen</name>
        <label>S-placement Navigate Screen</label>
        <locationX>1445</locationX>
        <locationY>825</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_S_placement_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_records_you_want_to_transfer_over</name>
        <label>Select the records you want to transfer over</label>
        <locationX>914</locationX>
        <locationY>1389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Options_selected_for_the_loop</targetReference>
        </connector>
        <fields>
            <name>Record_Transfer_Screen</name>
            <fieldText>&lt;p&gt;Select the records you want to transfer using the check boxes below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Candidate_records</name>
            <dataType>Boolean</dataType>
            <fieldText>Candidate records</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accounts</name>
            <dataType>Boolean</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sites</name>
            <dataType>Boolean</dataType>
            <fieldText>Sites</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S_placements</name>
            <dataType>Boolean</dataType>
            <fieldText>S-placements</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Future_tasks</name>
            <dataType>Boolean</dataType>
            <fieldText>Future tasks</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assignments</name>
            <dataType>Boolean</dataType>
            <fieldText>Assignments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_contracts</name>
            <dataType>Boolean</dataType>
            <fieldText>Client contracts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_contacts</name>
            <dataType>Boolean</dataType>
            <fieldText>Client contacts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Shift_records</name>
            <dataType>Boolean</dataType>
            <fieldText>Shift records</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CDPs</name>
            <dataType>Boolean</dataType>
            <fieldText>CDPs</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Business_Leads</name>
            <dataType>Boolean</dataType>
            <fieldText>New Business Leads</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Shift_Navigate_Screen</name>
        <label>Shift Navigate Screen</label>
        <locationX>1126</locationX>
        <locationY>1427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_Shifts_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Site_Navigate_Screen</name>
        <label>Site Navigate Screen</label>
        <locationX>1270</locationX>
        <locationY>1039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_site_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>653</locationX>
        <locationY>1849</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Transfer_Success_Text</name>
            <fieldText>&lt;p&gt;Your request has been submitted and the selected records will be queued to be completed at the next available opportunity, please note this could take 1-2 hours to process. You can now click finish to close this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>This is used as a placeholder to avoid hitting limits as this will act as a break.</description>
        <name>Task_Navigate_Screen</name>
        <label>Task Navigate Screen</label>
        <locationX>1560</locationX>
        <locationY>1010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_selected_future_task_for_loop</targetReference>
        </connector>
        <fields>
            <name>Navigate_0_0_0_0</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Consultant</name>
        <label>Transfer Consultant</label>
        <locationX>553</locationX>
        <locationY>1399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_the_from_and_to_users</targetReference>
        </connector>
        <fields>
            <name>Transfer_from_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please select the user you want to transfer records FROM:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Lookup_From</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>IsActive=TRUE AND IsPortalEnabled=FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mark_consultant_as_Inactive</name>
            <dataType>Boolean</dataType>
            <fieldText>Mark consultant as Inactive</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Transfer_to_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Please select the user you want to transfer records TO:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Lookup_To</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>IsActive=TRUE AND IsPortalEnabled=FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AccountText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>AssignmentText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;,&quot;TR1__Sourcing_Recruiter__c&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>CandidateOwnerText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>CDPText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ContactOwnerText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ContractsText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewBusinessLeadText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>ShiftText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;</text>
    </textTemplates>
    <textTemplates>
        <name>SiteText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SplacementText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;IP_Consultant1LookupSplitShare__c&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&quot;OwnerId&quot;:&quot;{!User_Lookup_To.selectedRecordId}&quot;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>This is a collection to store all accounts</description>
        <name>Account_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Assignment_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Job__c</objectType>
    </variables>
    <variables>
        <description>Candidate record collection for loop</description>
        <name>Candidate_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Client_contact_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>record collection for transferring client contracts</description>
        <name>Client_contracts_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contracts__c</objectType>
    </variables>
    <variables>
        <description>A collection to store the S-placement records</description>
        <name>S_placement_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Placement__c</objectType>
    </variables>
    <variables>
        <name>Shift_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <description>A collection of the site records</description>
        <name>Site_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Site__c</objectType>
    </variables>
    <variables>
        <description>A collection of all tasks associated to a consultant</description>
        <name>Task_record_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
