Frankbelford/BAFullDevNEW/force-app/main/default/flows/Update_Email_Task_Activity_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CreateBulkUpdate</name>
        <label>CreateBulkUpdate</label>
        <locationX>570</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>BulkUpdateActivitiesToSendEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProcessTasksToBeUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThoughTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updates</name>
        <label>Updates</label>
        <locationX>397</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>ProcessTasksToBeUpdate.IP_ActivityType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBulkUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>410</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_all_tasks_with_subtype_of_send_email</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Email Task Activity Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email Task Activity Type</label>
    <loops>
        <name>LoopThoughTasks</name>
        <label>LoopThroughTasks</label>
        <locationX>396</locationX>
        <locationY>412</locationY>
        <assignNextValueToReference>ProcessTasksToBeUpdate</assignNextValueToReference>
        <collectionReference>EmailTasksToBeUpdated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProcessBulkUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_all_tasks_with_subtype_of_send_email</name>
        <label>Find all tasks with subtype of send email</label>
        <locationX>396</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThoughTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_ActivityType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TaskSubtype</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>EmailTasksToBeUpdated</outputReference>
        <queriedFields>TaskSubtype</queriedFields>
        <queriedFields>IP_ActivityType__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ProcessBulkUpdate</name>
        <label>ProcessBulkUpdate</label>
        <locationX>649</locationX>
        <locationY>411</locationY>
        <inputReference>BulkUpdateActivitiesToSendEmail</inputReference>
    </recordUpdates>
    <start>
        <locationX>33</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BulkUpdateActivitiesToSendEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>EmailTasksToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ProcessTasksToBeUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
