Frankbelford/BAFullDevNEW/force-app/main/default/flows/Vetting_and_Compliance_Candidate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Candidate_Email</name>
        <label>Candidate Email</label>
        <locationX>1709</locationX>
        <locationY>1151</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Compliance_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014Ub</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ConsultantEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Candidate_Email_0</name>
        <label>Candidate Email</label>
        <locationX>2239</locationX>
        <locationY>1140</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>CancelBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D2Pv00000014Ub</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>ConsultantEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>CancelSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Capita_Assignment</name>
        <label>Capita Assignment</label>
        <locationX>1106</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>Capita_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capita_Percent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Complete_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Capita_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OngoingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enhanced_Vetting_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCS_Assignment</name>
        <label>CCS Assignment</label>
        <locationX>1190</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>CCS_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCS_Percent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Complete_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CCS_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OngoingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enhanced_Vetting_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCS_Assignment2</name>
        <label>CCS Assignment</label>
        <locationX>1068</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>Enhanced_Vetting_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCS_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Crown Commercial Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CCS_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vetting_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCS_Assignment2_0</name>
        <label>CCS Assignment</label>
        <locationX>952</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>Enhanced_Vetting_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capita_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capita</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capita_Percent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vetting_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Client_ID_Assignment</name>
        <label>Client ID Assignment</label>
        <locationX>1246</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Enhanced_Vetting.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Enhanced_Vetting_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Enhanced_Vetting.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Enhanced_Vetting.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Enhanced_Vetting.Complete_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vetting_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_Assignment</name>
        <label>Completed Assignment</label>
        <locationX>686</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>Completed_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vetting_Document_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CompletedFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vetting_Document_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_URL_Assign</name>
        <label>Completed URL Assign</label>
        <locationX>50</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>Vetting_Document_Loop.Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletedURL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lapsed_Assignment</name>
        <label>Lapsed Assignment</label>
        <locationX>1348</locationX>
        <locationY>1291</locationY>
        <assignmentItems>
            <assignToReference>Lapsed_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vetting_Document_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LapsedFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Lapsed_URL_Assign</name>
        <label>Lapsed URL Assign</label>
        <locationX>1309</locationX>
        <locationY>1481</locationY>
        <assignmentItems>
            <assignToReference>Vetting_Document_Loop.Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lapsed_URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lapsed_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pending_Assignment</name>
        <label>Pending Assignment</label>
        <locationX>712</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>Pending_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vetting_Document_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vetting_Document_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pending_Flow_URL_Assign</name>
        <label>Pending Flow URL Assign</label>
        <locationX>680</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Vetting_Document_Loop.Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pending_URL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pending_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RMG_Assignment</name>
        <label>RMG Assignment</label>
        <locationX>1058</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>Enhanced_Vetting_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RMG_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Royal Mail Group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Percentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoyalMailPercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Vetting_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Royal_Mail_Assignment</name>
        <label>Royal Mail Assignment</label>
        <locationX>845</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>RoyalMailStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RoyalMailPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Complete_Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMG_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enhanced_Vetting_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OngoingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enhanced_Vetting_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Verified_Assignment</name>
        <label>Verified Assignment</label>
        <locationX>1075</locationX>
        <locationY>1517</locationY>
        <assignmentItems>
            <assignToReference>Verified_Documents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Vetting_Document_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerifiedFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Vetting_Document_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Verified_Attachment_URL_Assign</name>
        <label>Verified Attachment URL Assign</label>
        <locationX>794</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Vetting_Document_Loop.Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerifiedAttachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verified_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Verified_Flow_URL_Assign</name>
        <label>Verified Flow URL Assign</label>
        <locationX>93</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>Vetting_Document_Loop.Flow_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verified_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Button_Pressed</name>
        <label>Button Pressed</label>
        <locationX>1829</locationX>
        <locationY>930</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Screen</targetReference>
            </connector>
            <label>Cancel Clicked</label>
        </rules>
        <rules>
            <name>Backclicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Back2.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Backclicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Button_Pressed_0</name>
        <label>Button Pressed</label>
        <locationX>2024</locationX>
        <locationY>1092</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_Clicked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Proceed.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enhanced_Vetting_0</targetReference>
            </connector>
            <label>Proceed Clicked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>882</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Candidate_Complete</name>
        <label>Candidate Complete</label>
        <locationX>1469</locationX>
        <locationY>987</locationY>
        <defaultConnector>
            <targetReference>Compliance_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Enhanced_Vetting__r.Complete_Percent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Enhanced_Vetting__r.Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enhanced_Vetting</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_Decision</name>
        <label>Client Decision</label>
        <locationX>869</locationX>
        <locationY>849</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Royal_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RMG_Start.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RMG_Assignment</targetReference>
            </connector>
            <label>Royal Mail</label>
        </rules>
        <rules>
            <name>CCS2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCS_Start.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCS_Assignment2</targetReference>
            </connector>
            <label>CCS</label>
        </rules>
        <rules>
            <name>Capita2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Capita_Start.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCS_Assignment2_0</targetReference>
            </connector>
            <label>Capita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Status</name>
        <label>Document Status</label>
        <locationX>890</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Vetting_Document_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Flow_URL_Assign</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Assignment</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_or_attachment_0_0_0_0</targetReference>
            </connector>
            <label>Verified</label>
        </rules>
        <rules>
            <name>Lapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lapsed</stringValue>
                </rightValue>
            </conditions>
            <label>Lapsed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enhance_Vetting_Decision</name>
        <label>Enhance Vetting Decision</label>
        <locationX>1065</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Enhanced_Vetting_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Royal_Mail_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enhanced_Vetting_Loop.Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Royal Mail Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Royal_Mail_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Royal_Mail_Assignment</targetReference>
            </connector>
            <label>Royal Mail</label>
        </rules>
        <rules>
            <name>CCS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enhanced_Vetting_Loop.Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crown Commercial Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCS_Assignment</targetReference>
            </connector>
            <label>CCS</label>
        </rules>
        <rules>
            <name>Capita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enhanced_Vetting_Loop.Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capita</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capita_Assignment</targetReference>
            </connector>
            <label>Capita</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_or_attachment_0_0</name>
        <label>Flow or attachment</label>
        <locationX>258</locationX>
        <locationY>1163</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Flow_Api_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Attachment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_or_attachment_0_0_0</name>
        <label>Flow or attachment</label>
        <locationX>254</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Completed_URL_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Flow_Api_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_URL_Assign</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Attachment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Attachment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_or_attachment_0_0_0_0</name>
        <label>Flow or attachment</label>
        <locationX>882</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Verified_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Flow_Api_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verified_Assignment</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Attachment_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Attachment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verified_Attachment_URL_Assign</targetReference>
            </connector>
            <label>Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_or_attachment_0_0_0_0_0</name>
        <label>Flow or attachment</label>
        <locationX>1533</locationX>
        <locationY>1499</locationY>
        <defaultConnector>
            <targetReference>Lapsed_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Flow_Api_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lapsed_Assignment</targetReference>
            </connector>
            <label>Flow</label>
        </rules>
        <rules>
            <name>Attachment_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vetting_Document_Loop.Attachment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>OngoingAssignment</name>
        <label>OngoingAssignment</label>
        <locationX>761</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>Client_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Vetting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enhanced_Vetting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Screen_0</targetReference>
            </connector>
            <label>No Vetting</label>
        </rules>
        <rules>
            <name>Only_1_Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OngoingCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Enhanced_Vetting</targetReference>
            </connector>
            <label>Only 1 Ongoing</label>
        </rules>
        <rules>
            <name>More_than_1_Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OngoingCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Client_List</targetReference>
            </connector>
            <label>More than 1 Ongoing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Vetting and Compliance - Candidate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - Candidate Flow</label>
    <loops>
        <name>Enhanced_Vetting_Loop</name>
        <label>Enhanced Vetting Loop</label>
        <locationX>865</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Enhanced_Vetting</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enhance_Vetting_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OngoingAssignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Vetting_Document_Loop</name>
        <label>Vetting Document Loop</label>
        <locationX>1217</locationX>
        <locationY>1030</locationY>
        <collectionReference>Get_Vetting_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Document_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Candidate_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>690</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enhanced_Vetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enhanced_Vetting</name>
        <label>Get Enhanced Vetting</label>
        <locationX>690</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enhanced_Vetting_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Enhanced_Vetting</name>
        <label>Get Single Enhanced Vetting</label>
        <locationX>952</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_ID_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vetting_Documents</name>
        <label>Get Vetting Documents</label>
        <locationX>1220</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vetting_Document_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enhanced_Vetting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enhanced_Vetting_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Hidden__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vetting_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enhanced_Vetting</name>
        <label>Update Enhanced Vetting</label>
        <locationX>1497</locationX>
        <locationY>1191</locationY>
        <connector>
            <targetReference>Candidate_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enhanced_Vetting_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Enhanced_Vetting_0</name>
        <label>Update Enhanced Vetting</label>
        <locationX>2029</locationX>
        <locationY>1269</locationY>
        <connector>
            <targetReference>Candidate_Email_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enhanced_Vetting_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancellation_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancel_Screen</name>
        <label>Cancel Screen</label>
        <locationX>2058</locationX>
        <locationY>932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_Pressed_0</targetReference>
        </connector>
        <fields>
            <name>Canceltext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 26px; color: rgb(231, 0, 0);&quot;&gt;&lt;u&gt;Alert!&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;This will cancel this Vetting process and all progress will be lost, are you sure you want to cancel &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Back</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>neutral</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Proceed</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Proceed</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel_Screen_0</name>
        <label>Cancel Screen</label>
        <locationX>536</locationX>
        <locationY>570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Canceltext_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 24px;&quot;&gt;You are currently not undergoing any vetting&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Client_List</name>
        <label>Client List</label>
        <locationX>624</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Client_Decision</targetReference>
        </connector>
        <fields>
            <name>Client_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Roayl_Mail_Logo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>RoyalMail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>200px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Spacer3</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RMG_Progress_Bar</name>
                    <extensionName>c:Progress_Bar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Width</name>
                        <value>
                            <elementReference>RoyalMailPercentage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Spacer</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RMG_Start</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>View Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LastElement</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Client_List_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CCS_Logo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CCSLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>200px</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CCS_Status</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Spacer4</name>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RoyalMailStatus</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CCS_Progress</name>
                    <extensionName>c:Progress_Bar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Width</name>
                        <value>
                            <elementReference>CCS_Percent</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>spacer45</name>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CCS_Status</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Started</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CCS_Start</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>View Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LastElement</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>OutputCreatedID</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Client_List_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Capita_Logo</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>150px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>200px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>CapitaLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Spacer7</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Capita_Progress</name>
                    <extensionName>c:Progress_Bar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Width</name>
                        <value>
                            <elementReference>Capita_Percent</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>spacer6</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Capita_Start</name>
                    <extensionName>navbutton:NavigationButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>Label</name>
                        <value>
                            <stringValue>View Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonPosition</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>FlowAction</name>
                        <value>
                            <stringValue>next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>LastElement</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>OutputCreatedID</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>Clicked</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Compliance_Screen</name>
        <label>Compliance Screen</label>
        <locationX>1681</locationX>
        <locationY>897</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_Pressed</targetReference>
        </connector>
        <fields>
            <name>Cancel</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Cancel Vetting</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Back2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>neutral</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OngoingCount</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VettingText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Vetting Documents - {!ClientName} &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(144, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RMG_Progress</name>
            <extensionName>c:Progress_Bar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Width</name>
                <value>
                    <elementReference>Percentage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Pending_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Pending Documents&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PendingFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Pending_Table</name>
            <extensionName>c:VettingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>VettingTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Vetting_Document__CList</name>
                <value>
                    <elementReference>Pending_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLazyRecordsMobile</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PendingFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Completed_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Completed Documents&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CompletedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Completed_Table</name>
            <extensionName>c:VettingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>VettingTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Vetting_Document__CList</name>
                <value>
                    <elementReference>Completed_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLazyRecordsMobile</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CompletedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verified_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Verified Documents&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VerifiedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Verified_Table</name>
            <extensionName>c:VettingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>VettingTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Vetting_Document__CList</name>
                <value>
                    <elementReference>Verified_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLazyRecordsMobile</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VerifiedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lapsed_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Lapsed Documents&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LapsedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Lapsed_Table</name>
            <extensionName>c:VettingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>VettingTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLazyRecordsMobile</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Vetting_Document__CList</name>
                <value>
                    <elementReference>Lapsed_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LapsedFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1055</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Vetting_Document_Loop.Enhanced_Vetting__r.Candidate__r.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A candidate has completed all their vetting documents, please make sure these are verified so they can be passed to the vetting and compliance team.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Candidate Name: &lt;/strong&gt;{!$User.Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vetting: &lt;/strong&gt;{!Vetting_Document_Loop.Enhanced_Vetting__r.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Completed Date: &lt;/strong&gt;{!$Flow.CurrentDateTime}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To quickly access this vetting pack click the link below:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://bluearrowgroup--fulldev.sandbox.my.salesforce.com/lightning/r/Enhanced_Vetting__c/{!Enhanced_Vetting_ID}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://bluearrowgroup--fulldev.sandbox.my.salesforce.com/lightning/r/Enhanced_Vetting__c/{!Enhanced_Vetting_ID}/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CancelBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Vetting_Document_Loop.Enhanced_Vetting__r.Candidate__r.Owner.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A candidate has cancelled their current vetting process&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Candidate Name: &lt;/strong&gt;{!$User.Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vetting: &lt;/strong&gt;{!Vetting_Document_Loop.Enhanced_Vetting__r.Account__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To quickly access this vetting pack click the link below:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://bluearrowgroup--fulldev.sandbox.my.salesforce.com/lightning/r/Enhanced_Vetting__c/%7B!Enhanced_Vetting_ID%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://bluearrowgroup--fulldev.sandbox.my.salesforce.com/lightning/r/Enhanced_Vetting__c/{!Enhanced_Vetting_ID}/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CancelSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$User.Name__c} - {!Vetting_Document_Loop.Enhanced_Vetting__r.Account__r.Name} - Candidate cancelled vetting&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CompletedURL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/candidate/s/flow/{!Vetting_Document_Loop.Flow_Api_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot;&gt;View/Edit Document&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Lapsed_URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/candidate/s/flow/{!Vetting_Document_Loop.Flow_Api_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot;&gt;View Document&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Pending_URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/candidate/s/flow/{!Vetting_Document_Loop.Flow_Api_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot;&gt;Complete Document&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$User.Name__c} - {!Vetting_Document_Loop.Enhanced_Vetting__r.Account__r.Name} - Candidate vetting documents completed</text>
    </textTemplates>
    <textTemplates>
        <name>Verified_URL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/candidate/s/flow/{!Vetting_Document_Loop.Flow_Api_Name__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_self&quot;&gt;View Document&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VerifiedAttachment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!Vetting_Document_Loop.Attachment__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Document&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Capita_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Capita_Percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Capita_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </variables>
    <variables>
        <name>CCS_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCS_Percent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CCS_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompleteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Completed_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Document__c</objectType>
    </variables>
    <variables>
        <name>CompletedFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsultantEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Owner_Email__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Document_Selected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Doucment_Chosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enhanced_Vetting_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lapsed_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Document__c</objectType>
    </variables>
    <variables>
        <name>LapsedFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OngoingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Pending_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Document__c</objectType>
    </variables>
    <variables>
        <name>PendingFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>RMG_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoyalMailPercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RoyalMailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </variables>
    <variables>
        <name>Verified_Documents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Document__c</objectType>
    </variables>
    <variables>
        <name>VerifiedFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
