Frankbelford/BAFullDevNEW/force-app/main/default/flows/Vetting_and_Compliance_CCS_Covid_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>832</locationX>
        <locationY>418</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Vetting_and_Compliance_CCS_Covid_Form</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissble</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Vetting document updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Percentage</name>
        <label>Assign Percentage</label>
        <locationX>435</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>CompletePercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enhanced_Vetting</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>No</description>
        <name>BooleanNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BooleanYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>I_Agree</name>
        <choiceText>I Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>134</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Status</name>
        <label>Document Status</label>
        <locationX>416</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Update_Vetting_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Percentage</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
        <rules>
            <name>Not_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Vetting_Document</targetReference>
            </connector>
            <label>Not Pending</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ppe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - CCS - Covid form Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>253</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enhanced_Vetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enhanced_Vetting</name>
        <label>Get Enhanced Vetting</label>
        <locationX>41</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crown Commercial Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vetting_Document</name>
        <label>Get Vetting Document</label>
        <locationX>41</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Covid_Form_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enhanced_Vetting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Covid Form</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vetting_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enhanced_Vetting</name>
        <label>Update_Enhanced_Vetting</label>
        <locationX>699</locationX>
        <locationY>597</locationY>
        <connector>
            <targetReference>Update_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Percent__c</field>
            <value>
                <elementReference>CompletePercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document</name>
        <label>Update Vetting Document</label>
        <locationX>694</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Text__c</field>
            <value>
                <elementReference>Document_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <screens>
        <name>Covid_Form_1</name>
        <label>Covid Form</label>
        <locationX>239</locationX>
        <locationY>443</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Document_Status</targetReference>
        </connector>
        <fields>
            <name>Covid_Form_Title_1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgba(0, 0, 0, 0.8); background-color: rgb(255, 255, 255); font-size: 16px; font-family: Arial;&quot;&gt;&lt;u&gt;Confidential NHS COVID 19 Risk Assessment Form&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_role_may_involve_working_on_or_near_wards_impacted_by_COVID_19_please_confi</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Your role may involve working on or near wards impacted by COVID-19, please confirm your willingness to accept a role at the NHS under these conditions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Are_you_showing_any_COVID_19_symptoms</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you showing any COVID-19 symptoms?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_in_the_last_7_days_been_in_immediate_contact_with_anyone_who_is_proven</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you, in the last 7 days, been in immediate contact with anyone who is proven to have COVID-19</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_had_any_trips_to_countries_outside_of_the_UK_where_you_have_returned_th</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you, had any trips to countries outside of the UK, where you have returned the last 4 weeks?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Have_you_any_underlying_health_conditions_that_might_affect_the_work_you_could_u</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you, any underlying health conditions that might affect the work you could undertake</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Candidate_Declaration_1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Candidate Declaration&lt;/b&gt;&lt;/p&gt;&lt;p&gt;I declare that the answers to the above questions are true and complete to the best of my knowledge and belief.  I give permission for this form to be  shared with the hiring NHS Trust. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_understand_that_should_my_situation_change_I_will_keep_the_agency_apprised_of</name>
            <choiceReferences>I_Agree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I understand that should my situation change; I will keep the agency apprised of this</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Covid_Form_Not_Agreed</name>
        <label>Covid Form - Not Agreed</label>
        <locationX>436</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Not_Agreed</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please agree to proceed.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Answers</name>
        <label>Verify Answers</label>
        <locationX>600</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Covid_Form_Answers</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please review your answers:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Document_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vetting_and_Compliance_CCS_Covid_Form</name>
        <label>Vetting and Compliance - CCS - Covid Form</label>
        <locationX>828</locationX>
        <locationY>244</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>URL_Navigate</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/mycompliance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Document_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgba(0, 0, 0, 0.8); font-size: 16px; font-family: Arial;&quot;&gt;&lt;u&gt;Confidential NHS COVID 19 Risk Assessment Form&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Your role may involve working on or near wards impacted by COVID-19, please confirm your willingness to accept a role at the NHS under these conditions.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Your_role_may_involve_working_on_or_near_wards_impacted_by_COVID_19_please_confi}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Are you showing any COVID-19 symptoms?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Are_you_showing_any_COVID_19_symptoms}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Have you, in the last 7 days, been in immediate contact with anyone who is proven to have COVID-19?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Have_you_in_the_last_7_days_been_in_immediate_contact_with_anyone_who_is_proven}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Have you, had any trips to countries outside of the UK, where you have returned the last 4 weeks?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Have_you_had_any_trips_to_countries_outside_of_the_UK_where_you_have_returned_th}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Have you, any underlying health conditions that might affect the work you could undertake?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Have_you_any_underlying_health_conditions_that_might_affect_the_work_you_could_u}&lt;/p&gt;&lt;p&gt;&lt;b&gt;I understand that should my situation change; I will keep the agency apprised of this&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!I_understand_that_should_my_situation_change_I_will_keep_the_agency_apprised_of}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Candidate Declaration&lt;/b&gt;&lt;/p&gt;&lt;p&gt;I declare that the answers to the above questions are true and complete to the best of my knowledge and belief.  I give permission for this form to be  shared with the hiring NHS Trust. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Candidate Signed Name: &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Candidate.FirstName} {!Get_Candidate.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Candidate Signed Date/Time:&lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; {!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CompletePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Enhanced_Vetting.Complete_Percent__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>text</description>
        <name>Variable1yes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
