Frankbelford/BAFullDevNEW/force-app/main/default/flows/Vetting_and_Compliance_CCS_Activity_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Success</name>
        <label>Success</label>
        <locationX>540</locationX>
        <locationY>733</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissble</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>10</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Vetting document updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Activity_Assignment</name>
        <label>Activity Assignment</label>
        <locationX>687</locationX>
        <locationY>1329</locationY>
        <assignmentItems>
            <assignToReference>ActivityHistory</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Supporting_Information_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocumentText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Supporting_Information_Loop.Supporting_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ToDate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Supporting_Information_Loop.Activity_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysToComplete</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Supporting_Information_Loop.Activity_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysCompleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Supporting_Information_Loop.Activity_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supporting_Information_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_Assignment_0</name>
        <label>Activity Assignment</label>
        <locationX>539</locationX>
        <locationY>999</locationY>
        <assignmentItems>
            <assignToReference>DaysToComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DaysFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supporting_Information_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_Assignment_0_0</name>
        <label>Activity Assignment</label>
        <locationX>417</locationX>
        <locationY>1173</locationY>
        <assignmentItems>
            <assignToReference>SchoolDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Leaving_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vetting_Document_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Activity_Assignment_0_0_0</name>
        <label>Activity Assignment</label>
        <locationX>291</locationX>
        <locationY>1044</locationY>
        <assignmentItems>
            <assignToReference>SchoolDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vetting_Document.School_Leaving_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vetting_Document_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Percentage</name>
        <label>Assign Percentage</label>
        <locationX>1129</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>CompletePercentage</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enhanced_Vetting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Employed_Assignment</name>
        <label>Employed Assignment</label>
        <locationX>978</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>SupportingText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SupportingTextEmployed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Support_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_Assignment</name>
        <label>Other Assignment</label>
        <locationX>764</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>SupportingText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SupportingTextOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Support_Documents</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirmation</name>
        <choiceText>I confirm</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>I_Confirm</name>
        <choiceText>I Confirm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I Confirm</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Activity_Type_Decision</name>
        <label>Activity Type Decision</label>
        <locationX>1005</locationX>
        <locationY>681</locationY>
        <defaultConnector>
            <targetReference>Other_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activity_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employed_Assignment</targetReference>
            </connector>
            <label>Employed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>346</locationX>
        <locationY>428</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Outcomes_0</name>
        <label>Decision Outcomes</label>
        <locationX>881</locationX>
        <locationY>1052</locationY>
        <defaultConnector>
            <targetReference>Previous_Address_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocumentComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysToComplete</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Percentage</targetReference>
            </connector>
            <label>DocumentComplete</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Leaving_Blank</name>
        <label>School Leaving Blank</label>
        <locationX>108</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Activity_Assignment_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vetting_Document.School_Leaving_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Address_Screen_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - {!SchoolDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Vetting and Compliance - CCS - Activity History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vetting and Compliance - CCS - Activity History</label>
    <loops>
        <name>Supporting_Information_Loop</name>
        <label>Supporting Information Loop</label>
        <locationX>692</locationX>
        <locationY>1024</locationY>
        <collectionReference>Get_Supporting_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activity_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Outcomes_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Support_Documents</name>
        <label>Create Support Documents</label>
        <locationX>690</locationX>
        <locationY>526</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Activity_Type__c</field>
            <value>
                <elementReference>Activity_Type.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer__c</field>
            <value>
                <elementReference>Employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>From</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Type__c</field>
            <value>
                <stringValue>Activity History</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Activity_History_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supporting_Text__c</field>
            <value>
                <elementReference>SupportingText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To__c</field>
            <value>
                <elementReference>ToDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vetting_Document__c</field>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Vetting_Supporting_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>452</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Enhanced_Vetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enhanced_Vetting</name>
        <label>Get Enhanced Vetting</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crown Commercial Services</stringValue>
            </value>
        </filters>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enhanced_Vetting__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Supporting_Information</name>
        <label>Get Supporting Information</label>
        <locationX>57</locationX>
        <locationY>881</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>School_Leaving_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vetting_Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Vetting_Supporting_Information__c</object>
        <sortField>From__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vetting_Document</name>
        <label>Get Vetting Document</label>
        <locationX>246</locationX>
        <locationY>796</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Supporting_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enhanced_Vetting__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activity History</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vetting_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enhanced_Vetting</name>
        <label>Update Enhanced Vetting</label>
        <locationX>1147</locationX>
        <locationY>1363</locationY>
        <connector>
            <targetReference>Update_Vetting_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enhanced_Vetting.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Complete_Percent__c</field>
            <value>
                <elementReference>CompletePercentage</elementReference>
            </value>
        </inputAssignments>
        <object>Enhanced_Vetting__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document</name>
        <label>Update Vetting Document</label>
        <locationX>1316</locationX>
        <locationY>1241</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Text__c</field>
            <value>
                <elementReference>DocumentTextFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document_0</name>
        <label>Update Vetting Document</label>
        <locationX>421</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Activity_Assignment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>School_Leaving_Date__c</field>
            <value>
                <elementReference>SchoolDate</elementReference>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vetting_Document_0_0</name>
        <label>Update Vetting Document</label>
        <locationX>325</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Activity_Assignment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vetting_Document.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Document_Text__c</field>
            <value>
                <elementReference>DocumentTextHalf</elementReference>
            </value>
        </inputAssignments>
        <object>Vetting_Document__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Previous_Address_Add_Screen</name>
        <label>Previous Address Add Screen</label>
        <locationX>1183</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Activity_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Header_Text2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Activity History&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>From</name>
            <dataType>Date</dataType>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;From date must be before To date&lt;/p&gt;</errorMessage>
                <formulaExpression>{!From}&lt;{!ToDate}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Totext</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;To:&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!ToDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activity_Type</name>
            <extensionName>c:fbc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Vetting_Supporting_Information__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Please choose from the below Activity Types</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Activity_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ActivityVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sdf</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Activty_other</name>
            <dataType>String</dataType>
            <fieldText>Please provide the other reason below:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 0, 0);&quot;&gt;&lt;u&gt;Please Note&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If claiming Job Seekers Allowance, please detail the Job Centre&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unemployed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_was_your_method_of_support_during_this_time</name>
            <fieldText>What was your method of support during this time?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employer</name>
            <dataType>String</dataType>
            <fieldText>Name of company:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Company_Address</name>
            <fieldText>Company Address:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DaysCompleted</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1095.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reference_name</name>
            <dataType>String</dataType>
            <fieldText>Referee Name:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DaysCompleted</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1095.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reference_contact_number</name>
            <dataType>String</dataType>
            <fieldText>Referee Contact Number:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DaysCompleted</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1095.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reference_email_address</name>
            <dataType>String</dataType>
            <fieldText>Referee Email Address:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DaysCompleted</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1095.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_acknowledge_that_Get_Candidate_Brand_c_will_verify_the_contents_of_my_registra</name>
            <choiceReferences>I_Confirm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I acknowledge that Blue Arrow will verify the contents of my vetting including asking referees to provide a reference and that this falls into legitimate business interest as defined by the Data Protection Act 2018.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Activity_Type.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Employed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DaysCompleted</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1095.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activity_Next2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Save Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>Brand</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Activity_Back2</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>Neutral</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Previous_Address_Screen</name>
        <label>Previous Address Screen</label>
        <locationX>1078</locationX>
        <locationY>898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Previous_Address_Add_Screen</targetReference>
        </connector>
        <fields>
            <name>Back1</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/candidate/s/mycompliance</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Activity History&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 36px; color: rgb(0, 127, 23);&quot;&gt;✔&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Status: &lt;/span&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Completed&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: Arial, sans-serif; font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;Date: &lt;/span&gt;&lt;b style=&quot;font-family: Arial, sans-serif; font-size: 18px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Vetting_Document.Document_Completed_Date__c}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Completed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>trex3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;In order to be eligible for work we require a detailed activity history from yourself since leaving school. This will include any periods in which you have been absent from employment including un-employment, higher education etc. Any employment references given in the last 3 years will also need extra details &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;School Leaving Date: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!SchoolDate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>vdxczxvc</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Outstanding Days: &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(247, 0, 0);&quot;&gt;{!DaysToComplete}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DaysToComplete</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Button</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Add Activity History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>brand-outline</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Vetting_Document.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DaysToComplete</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activity_Table</name>
            <extensionName>c:SupportingTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Vetting_Supporting_Information__cList</name>
                <value>
                    <elementReference>ActivityHistory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>ActivityTable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>250.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableMode</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ActivityCount</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Previous_Address_Screen_0</name>
        <label>Previous Address Screen</label>
        <locationX>137</locationX>
        <locationY>1314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Vetting_Document_0_0</targetReference>
        </connector>
        <fields>
            <name>Prior_text_to_activity_history</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;You will now be required to complete your activity history starting with your most recent employer and working back to your school leaving age.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Header_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Activity History&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>trex3_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;In order to be eligible for work we require a detailed activity history from yourself since leaving school. This will include any periods in which you have been absent from employment including un-employment, higher education etc.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;We will be applying for employment referencing covering the last 3 years therefore we will require additional information to obtain these.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>School_Leaving_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Vetting_Document.School_Leaving_Date__c</elementReference>
            </defaultValue>
            <fieldText>School Leaving Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OutsideUK</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Have you been outside of the UK for 6 months or more in the last 5 years?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FromOutside</name>
            <dataType>Date</dataType>
            <fieldText>From</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OutsideUK</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ToOutside</name>
            <dataType>Date</dataType>
            <fieldText>To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OutsideUK</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OutsideUK</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>260</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Activity_History_Name</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Activity History - {!Activity_Type.value}</text>
    </textTemplates>
    <textTemplates>
        <name>DocumentTextFinal</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Vetting_Document.Document_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Status: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Completed&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Completed Date: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;{!DocumentText}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;﻿Confirmed By: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Get_Candidate.Name} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Confirmed Date: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!$Flow.CurrentDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DocumentTextHalf</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Activity History&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;School Leaving Date: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!School_Leaving_Date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: sans-serif;&quot;&gt;Have you been outside of the UK for 6 months or more in the last 5 years?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102); font-family: sans-serif;&quot;&gt;{!OutsideUK}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;From:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; {!FromOutside}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;To:&lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; {!ToOutside}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Country: &lt;/b&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Country}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SupportingTextEmployed</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Activity Type: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Activity_Type.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Name of Company:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; {!Employer}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;﻿Company Address:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Company_Address}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Reference Name: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Reference_name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Reference Contact Number: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!Reference_contact_number}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Reference Email Address:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt; {!Reference_email_address}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Permission to contact: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Yes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;From: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!From}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;To: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!ToDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SupportingTextOther</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;Activity Type: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!Activity_Type.value}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;Method of Support: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(102, 102, 102);&quot;&gt;{!What_was_your_method_of_support_during_this_time}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;From: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!From}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;To: &lt;/b&gt;&lt;span style=&quot;color: rgb(102, 102, 102); font-size: 16px;&quot;&gt;{!ToDate}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ActivityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ActivityHistory</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>ActivityVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Employed</stringValue>
        </value>
    </variables>
    <variables>
        <name>Agreement</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Choices</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Get_Enhanced_Vetting.Complete_Percent__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>DaysCompleted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DaysToComplete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>DaysFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>DocumentText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchoolDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportDocumentCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>Supporting_Document_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vetting_Supporting_Information__c</objectType>
    </variables>
    <variables>
        <name>SupportingText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
