Frankbelford/BAFullDevNEW/force-app/main/default/flows/VMS_Supplier_Booking_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Shift_to_Creation_Variable</name>
        <label>Add Shift to Creation Variable</label>
        <locationX>1201</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>ShiftCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Shift_Creation_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_Creation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Job_Order_List</name>
        <label>Add to Job Order List</label>
        <locationX>498</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>Job_Order_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Job_Order_SLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Order_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Confirmation</name>
        <label>Stage Assignment - Confirmation</label>
        <locationX>889</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Job_Order</name>
        <label>Stage Assignment - Job Order</label>
        <locationX>854</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Job_Order_View</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Shifts</name>
        <label>Stage Assignment - Shifts</label>
        <locationX>1103</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shift_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shift_View</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stage_Assignment_Workers</name>
        <label>Stage Assignment - Workers</label>
        <locationX>1303</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Worker_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Worker_View</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Shift_Collection</name>
        <label>Update Shift Collection</label>
        <locationX>1291</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>Shift_Creation_Loop.sirenum__Broadcasts__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Creation_Loop.sirenum__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Worker_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Creation_Loop.sirenum__ShiftDemand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shift_Creation_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Shift_Creation_Loop.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Created_Shift_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Shift_to_Creation_Variable</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;f&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Confirmation</name>
        <choiceText>I confirm the worker I am supplying is fully compliant and is able to work all the shifts listed above</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Confirmation_Choice</name>
        <choiceText>I Confirm</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>295</locationX>
        <locationY>284</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Orders_Found</name>
        <label>Job Orders Found</label>
        <locationX>592</locationX>
        <locationY>580</locationY>
        <defaultConnector>
            <targetReference>Stage_Assignment_Job_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Job_Orders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Job_Order_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Job_Order_View</targetReference>
            </connector>
            <label>No Job Orders</label>
        </rules>
    </decisions>
    <decisions>
        <name>SLA_Decision</name>
        <label>SLA Decision</label>
        <locationX>507</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Order_SLA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SLA_not_reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_SLA_Times</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Order_SLA</targetReference>
            </connector>
            <label>SLA not reached</label>
        </rules>
        <rules>
            <name>SLA_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_SLA_Times</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Job_Order_List</targetReference>
            </connector>
            <label>SLA Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Worker_Selection</name>
        <label>Worker Selection</label>
        <locationX>1330</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Worker_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Worker_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Worker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Worker_View_0</targetReference>
            </connector>
            <label>Create New Worker</label>
        </rules>
    </decisions>
    <description>Allows suppliers to view bookings and apply candidates to shifts</description>
    <dynamicChoiceSets>
        <name>Salutation_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Final_SLA_Times</name>
        <dataType>DateTime</dataType>
        <expression>{!Update_Job_Order_SLA.SLA__c}+({!Supplier_List_Builder.SLA__c}/24)</expression>
    </formulas>
    <formulas>
        <name>Management_Fee</name>
        <dataType>Currency</dataType>
        <expression>({!Job_Order_Loop.Minimum_Wage__c}*{!Job_Order_Loop.Management_Fee__c}) + {!Job_Order_Loop.Management_Fee_hr__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Total_Invoice_Formula</name>
        <dataType>Currency</dataType>
        <expression>({!Job_Order_Loop.Minimum_Wage__c}*(({!Job_Order_Loop.Total_Supplier_Percentage_Fee__c}-{!Job_Order_Loop.Management_Fee__c})+1))+{!Job_Order_Loop.Total_Supplier_Flat_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalSupplierFee</name>
        <dataType>Currency</dataType>
        <expression>{!Job_Order_Loop.Minimum_Wage__c}*({!Job_Order_Loop.Total_Supplier_Percentage_Fee__c})+{!Job_Order_Loop.Total_Supplier_Flat_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>User_ID</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <formulas>
        <name>VerifiedBy</name>
        <dataType>String</dataType>
        <expression>{!$User.Name__c} + &quot; &quot;+ text({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>VMS - Supplier - Booking Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMS - Supplier - Booking Screen</label>
    <loops>
        <name>Job_Order_Loop</name>
        <label>Job Order Loop</label>
        <locationX>757</locationX>
        <locationY>88</locationY>
        <collectionReference>Job_Order_Chosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Shifts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Job_Order_View</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>NI_Check_Loop</name>
        <label>NI Check Loop</label>
        <locationX>1844</locationX>
        <locationY>418</locationY>
        <collectionReference>Ni_Duplicate_Workers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Worker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Shift_Check_Loop</name>
        <label>Shift Check Loop</label>
        <locationX>1043</locationX>
        <locationY>342</locationY>
        <collectionReference>Shifts_Chosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Workers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Shift_Creation_Loop</name>
        <label>Shift Creation Loop</label>
        <locationX>932</locationX>
        <locationY>838</locationY>
        <collectionReference>Shifts_Chosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Shift_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Shifts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Supplier_List_Builder</name>
        <label>Supplier List Builder</label>
        <locationX>268</locationX>
        <locationY>555</locationY>
        <collectionReference>Get_Accounts_Supplying</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Job_Order_Get</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Job_Orders_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Job_Order_SLA</name>
        <label>Update Job Order SLA</label>
        <locationX>322</locationX>
        <locationY>760</locationY>
        <collectionReference>Job_Order_Get</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SLA_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Supplier_List_Builder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Worker_Loop</name>
        <label>Worker_Loop</label>
        <locationX>1120</locationX>
        <locationY>718</locationY>
        <collectionReference>Worker_Chosen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage_Assignment_Confirmation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Workers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Certification</name>
        <label>Create Certification</label>
        <locationX>1785</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Create_Competency</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Create_Worker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120Y000000FOZY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verfied_Record__c</field>
            <value>
                <elementReference>VerifiedBy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verfied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Competency</name>
        <label>Create Competency</label>
        <locationX>1589</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>Lookup_Worker_0</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__Owner__c</field>
            <value>
                <elementReference>Create_Worker</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shifts</name>
        <label>Create Shifts</label>
        <locationX>875</locationX>
        <locationY>1011</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <inputReference>ShiftCreation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Worker</name>
        <label>Create Worker</label>
        <locationX>1935</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>Create_Certification</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Postcode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Pv00000D2c3WIAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Pv000002GXyAIAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__National_Insurance__c</field>
            <value>
                <elementReference>National_Insurance_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts_Supplying</name>
        <label>Get Accounts Supplying</label>
        <locationX>490</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Supplier_List_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Suppliers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>298</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts_Supplying</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>User_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Orders</name>
        <label>Get Job Orders</label>
        <locationX>0</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Supplier_List_Builder.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__JobOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shifts</name>
        <label>Get Shifts</label>
        <locationX>905</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Assignment_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__FillRateByCount__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__JobOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Order_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workers</name>
        <label>Get Workers</label>
        <locationX>1089</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Assignment_Workers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002GXyAIAW</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Workers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>sirenum__National_Insurance__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Person_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Job_Order_Get</name>
        <label>Job Order Get</label>
        <locationX>118</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Job_Order_SLA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Supplier_List_Builder.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__JobOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Worker_0</name>
        <label>Lookup Worker</label>
        <locationX>1394</locationX>
        <locationY>733</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Worker_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Worker</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Worker_Chosen</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>sirenum__National_Insurance__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>NI_Get_Worker</name>
        <label>NI Get Worker</label>
        <locationX>1743</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NI_Check_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002GXyAIAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__National_Insurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>National_Insurance_Number</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Ni_Duplicate_Workers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>sirenum__National_Insurance__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>736</locationX>
        <locationY>876</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Shift_Creation_Loop</targetReference>
        </connector>
        <fields>
            <name>Shifts_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 26px; color: rgb(0, 170, 227);&quot;&gt;Confir﻿mation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Site: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Site_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Worker:&lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt; {!Worker_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Worker NI: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;{!Worker_Loop.sirenum__National_Insurance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Shifts:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shift_Table_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Shifts_Chosen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Scheduled_Start_Date_Display__c,IP_DayShiftStartsOn__c,Scheduled_Start_Time_Text__c,	Scheduled_End_Time_Text__c,	sirenum__Scheduled_Shift_Length_Decimal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Start Date,2:Day,3:Start Time,4:End Time,5:Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>5:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirmation_Display</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(255, 0, 0);&quot;&gt;Important!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Radio</name>
            <choiceReferences>Confirmation</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please check below:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1594</locationX>
        <locationY>355</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Worker_View_0</targetReference>
        </connector>
        <fields>
            <name>Worker_Text_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 26px; color: rgb(0, 170, 227);&quot;&gt;New Worker&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 20px;&quot;&gt;Error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;The national insurance number matches another worker, details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;Worker Name: &lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;{!NI_Check_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;Worker NI: &lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;{!NI_Check_Loop.sirenum__National_Insurance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt;Worker DOB:&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); font-size: 16px;&quot;&gt; {!NI_Check_Loop.Birthdate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer3_0_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pauseButtonLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButtonLabel</name>
                <value>
                    <stringValue>Back</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Order_View</name>
        <label>Job Order View</label>
        <locationX>842</locationX>
        <locationY>302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Job_Order_Loop</targetReference>
        </connector>
        <fields>
            <name>Ongoing_Jobs</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 26px; color: rgb(0, 170, 227);&quot;&gt;Open Bookings&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Order_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__JobOrder__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Job_Order_Collection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name_Text__c,Site_Text__c,sirenum__StartDate__c,	sirenum__EndDate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnOtherAttribs</name>
                <value>
                    <stringValue>1:{wrapText: true};2:{wrapText: true};3:{wrapText: true};4:{wrapText: true}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Name,2:Site,3:Start Date,4:End Date</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>3:110,4:110,</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Job_Order_Chosen</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>More Details</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Job_Order_View</name>
        <label>No Job Order View</label>
        <locationX>597</locationX>
        <locationY>215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Ongoing_Jobs_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 170, 227); font-size: 26px; background-color: rgb(255, 255, 255);&quot;&gt;Open Bookings&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); font-size: 22px;&quot;&gt;There are currently no Open Bookings&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer1_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Refresh</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shift_View</name>
        <label>Shift View</label>
        <locationX>1176</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Shift_Check_Loop</targetReference>
        </connector>
        <fields>
            <name>Shifts</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 26px; color: rgb(0, 170, 227);&quot;&gt;Open Bookings&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Site: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Site_Text__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>View_Fee_breakdown</name>
            <dataType>Boolean</dataType>
            <fieldText>View example bill rate</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This will show you a breakdown of how Blue Arrow calculates the bill rate&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Fee_Breakdown_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Minimum Worker Pay Rate : &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;£{!Job_Order_Loop.Minimum_Wage__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;Total Supplier Fee: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(82, 82, 82);&quot;&gt;{!TotalSupplierFee}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>View_Fee_breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee_Breakdown_Text2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(82, 82, 82); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Blue Arrow Management Fee :&lt;/b&gt;&lt;span style=&quot;color: rgb(82, 82, 82); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; {!Management_Fee}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Management_Fee</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>View_Fee_breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee_Breakdown_Text3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(82, 82, 82); background-color: rgb(255, 255, 255);&quot;&gt;Hourly Self Bill Rate: &lt;/b&gt;&lt;span style=&quot;font-size: 16px; color: rgb(82, 82, 82); background-color: rgb(255, 255, 255);&quot;&gt;{!Total_Invoice_Formula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>View_Fee_breakdown</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display54</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 170, 227);&quot;&gt;Available Shifts:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Shift_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>sirenum__Shift__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Shifts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Scheduled_Start_Date_Display__c,IP_DayShiftStartsOn__c,Scheduled_Start_Time_Text__c,	Scheduled_End_Time_Text__c,	sirenum__Scheduled_Shift_Length_Decimal__c,Break_from_Brekdef__c,Remaining_Shifts__c,Fill_Rate_Text__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Date,2:Day,3:Start Time,4:End Time,5:Length (Hrs),6:Break (Mins),7:Shifts Remaining,8:Filled %</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>5:left,6:left,7:left,8:left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:120,2:100,3:110,4:110,5:150,6:150,7:150,8:150</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableBorder</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnScales</name>
                <value>
                    <stringValue>Fill_Rate_Text__c:2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Shifts_Chosen</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Assign Worker</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>956</locationX>
        <locationY>1148</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 26px; color: rgb(0, 170, 227);&quot;&gt;Confirmation&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Site: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;{!Job_Order_Loop.Site_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Worker:&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt; {!Worker_Loop.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;Worker NI: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(82, 82, 82);&quot;&gt;{!Worker_Loop.sirenum__National_Insurance__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(0, 157, 46);&quot;&gt;{!Created_Shift_Count} Shifts have been created successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer6</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishButtonLabel</name>
                <value>
                    <stringValue>Go Back</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Worker_View</name>
        <label>Worker View</label>
        <locationX>1452</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Worker_Selection</targetReference>
        </connector>
        <fields>
            <name>Worker_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 170, 227); font-size: 26px;&quot;&gt;Open Bookings&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Worker</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Worker</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Ticking this box will take you through the process of creating a new worker. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please confirm the worker does not exist in the table below first!&lt;/b&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Worker_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Workers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FirstName,LastName,sirenum__National_Insurance__c,Birthdate,Person_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:First name,2:Last Name,3:NI,4:DOB,5:Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxNumberOfRows</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Worker_Chosen</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Worker_View_0</name>
        <label>Worker View</label>
        <locationX>1575</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NI_Get_Worker</targetReference>
        </connector>
        <fields>
            <name>Worker_Text_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 170, 227); font-size: 26px;&quot;&gt;New Worker&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>Salutation_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>First_Name</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Last_Name</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>National_Insurance_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>National_Insurance_Number</elementReference>
            </defaultValue>
            <fieldText>National Insurance Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter a valid NI number with no spaces&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!National_Insurance_Number},&quot;[ABCEGHJKLMNOPRSTWXYZ]{1}[ABCEGHJKLMNPRSTWXYZ]{1}[0-9]{6}[A-DMF]{1}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_of_Birth</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Street</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>City</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>County</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>County</elementReference>
            </defaultValue>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Postcode</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Postcode</elementReference>
            </defaultValue>
            <fieldText>Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Mobile.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Please_confirm_the_worker_has_a_legal_right_to_work_in_the_UK</name>
            <choiceReferences>Confirmation_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm the worker has a legal right to work in the UK</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3_0</name>
            <extensionName>qsydApps_AO:LightningFlowFooterCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>activeStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showProgress</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Confirmation_Stage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Job_Order</name>
        <isActive>true</isActive>
        <label>View Job Orders</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Shift_Stage</name>
        <isActive>true</isActive>
        <label>View Open Shifts</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Worker_Stage</name>
        <isActive>true</isActive>
        <label>Assign Worker</label>
        <stageOrder>30</stageOrder>
    </stages>
    <start>
        <locationX>242</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Created_Shift_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Job_Order_Chosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__JobOrder__c</objectType>
    </variables>
    <variables>
        <name>Job_Order_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__JobOrder__c</objectType>
    </variables>
    <variables>
        <name>Ni_Duplicate_Workers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Shift_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ShiftCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <name>Shifts_Chosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>sirenum__Shift__c</objectType>
    </variables>
    <variables>
        <name>Worker_Chosen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Workers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
