Frankbelford/BAFullDevNEW/force-app/main/default/flows/VMS_Supplier_Supplier_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_Subscriptions</name>
        <label>Create Subscriptions</label>
        <locationX>666</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>Subscription_Var.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Var.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subscription_Var.Supplier_Job_Order_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subscription_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subscription_Variable</name>
        <label>Subscription Variable</label>
        <locationX>510</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>Subscription_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subscription_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>328</locationX>
        <locationY>328</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_flow1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Bypass flow1</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found</label>
        <locationX>581</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Create_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Loop</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <description>Creates subscriptions after a supplier is created</description>
    <environments>Default</environments>
    <interviewLabel>VMS - Supplier - Supplier Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VMS - Supplier - Supplier Update</label>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>337</locationX>
        <locationY>534</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Subscriptions2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Subscriptions2</name>
        <label>Create Subscriptions</label>
        <locationX>227</locationX>
        <locationY>739</locationY>
        <inputReference>Subscription_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>149</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Supplier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002GYkYIAW</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>411</locationX>
        <locationY>783</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>115</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>Suppliers__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Subscription_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscriptions__c</objectType>
    </variables>
    <variables>
        <name>Subscription_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscriptions__c</objectType>
    </variables>
</Flow>
