Frankbelford/BAFullDevNEW/force-app/main/default/flows/VMS_Client_Community_Create_Job_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_SirenumLinkIds_to_Collection</name>
        <label>Adding SirenumLinkIds to Collection</label>
        <locationX>424</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SetSirenumLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Sirenum_Link_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Sirenum_Link_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_button_Click</name>
        <label>Assign Next button Click</label>
        <locationX>336</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>isJoborderclicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_box_value_and_next_button_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Getting_Contact_ids</name>
        <label>Getting Contact ids</label>
        <locationX>138</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>AllCandidatesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_past_timesheets.sirenum__Worker__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_past_timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pickSiteID</name>
        <label>pickSiteID</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SetRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>allSitesToShow.IP_Site__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>allSitesToShow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Timesheetfoundassignment</name>
        <label>Timesheetfoundassignment</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>isTimesheetfound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_past_timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uploaded_Files_assignment</name>
        <label>Uploaded Files assignment</label>
        <locationX>292</locationX>
        <locationY>8294</locationY>
        <assignmentItems>
            <assignToReference>CDLrec.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Uploaded_files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLrec.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewJobOrderCreated.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLrec.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CDLcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CDLrec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Uploaded_files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Over_14_Days</name>
        <choiceText>Week 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>14</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_7_Days</name>
        <choiceText>Week 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_box_value_and_next_button_check</name>
        <label>Check box value and next button check</label>
        <locationX>336</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>specific_worker_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_all_condition_meets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isJoborderclicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNoneSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Error_Screen</targetReference>
            </connector>
            <label>If all condition meets</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Files_upload</name>
        <label>Check for Files upload</label>
        <locationX>336</locationX>
        <locationY>8078</locationY>
        <defaultConnector>
            <targetReference>Job_Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>uploaded_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JOD_FileUpload.contentDocIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Uploaded_files</targetReference>
            </connector>
            <label>uploaded yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Past_Timesheet_is_available_for_selected_site_or_not</name>
        <label>Past Timesheet is available for selected site or not</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>SpecificWorkerSelectionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPastTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timesheetfoundassignment</targetReference>
            </connector>
            <label>If found</label>
        </rules>
    </decisions>
    <decisions>
        <name>specific_worker_needed</name>
        <label>specific worker needed</label>
        <locationX>336</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>GetJobRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_any_Specific_Worker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPastTimeSheets</targetReference>
            </connector>
            <label>if yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Fri_Selected</name>
        <label>WK1 - Fri - Selected</label>
        <locationX>336</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>WK1_Sat_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fri_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Friday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fri_Pattern</targetReference>
            </connector>
            <label>Fri- Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Mon_Selected</name>
        <label>WK1 - Mon - Selected</label>
        <locationX>336</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>WK1_Tue_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mon_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Monday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mon_Pattern</targetReference>
            </connector>
            <label>Mon - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Sat_Selected</name>
        <label>WK1 - Sat - Selected</label>
        <locationX>336</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>WK1_Sun_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sat_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Saturday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sat_Pattern</targetReference>
            </connector>
            <label>Sat - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Sun_Selected</name>
        <label>WK1 - Sun - Selected</label>
        <locationX>336</locationX>
        <locationY>5138</locationY>
        <defaultConnector>
            <targetReference>WK2_Mon_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sun_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sunday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sun_Pattern</targetReference>
            </connector>
            <label>Sun - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Thu_Selected</name>
        <label>WK1 - Thu - Selected</label>
        <locationX>336</locationX>
        <locationY>4238</locationY>
        <defaultConnector>
            <targetReference>WK1_Fri_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thu_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thursday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Thu_Pattern</targetReference>
            </connector>
            <label>Thu - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Tue_Selected</name>
        <label>WK1 - Tue - Selected</label>
        <locationX>336</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>WK1_Wed_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tue_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tuesday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tue_Pattern</targetReference>
            </connector>
            <label>Tue - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK1_Wed_Selected</name>
        <label>WK1 - Wed - Selected</label>
        <locationX>336</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>WK1_Thu_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wed_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wednesday_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Wed_Pattern</targetReference>
            </connector>
            <label>Wed - Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Fri_Selected</name>
        <label>WK2 - Fri - Selected</label>
        <locationX>336</locationX>
        <locationY>6638</locationY>
        <defaultConnector>
            <targetReference>WK2_Sat_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fri_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Friday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fri_Pattern_WK2</targetReference>
            </connector>
            <label>Fri- Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Mon_Selected</name>
        <label>WK2 - Mon - Selected</label>
        <locationX>336</locationX>
        <locationY>5438</locationY>
        <defaultConnector>
            <targetReference>WK2_Tue_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mon_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Monday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mon_Pattern_WK2</targetReference>
            </connector>
            <label>Mon - Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Sat_Selected</name>
        <label>WK2 - Sat - Selected</label>
        <locationX>336</locationX>
        <locationY>6938</locationY>
        <defaultConnector>
            <targetReference>WK2_Sun_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sat_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sat_Selected_WK2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sat_Pattern_WK2</targetReference>
            </connector>
            <label>Sat - Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Sun_Selected</name>
        <label>WK2 - Sun - Selected</label>
        <locationX>336</locationX>
        <locationY>7238</locationY>
        <defaultConnector>
            <targetReference>GetSite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sun_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sunday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Sun_Pattern_WK2</targetReference>
            </connector>
            <label>Sun - Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Thu_Selected</name>
        <label>WK2 - Thu - Selected</label>
        <locationX>336</locationX>
        <locationY>6338</locationY>
        <defaultConnector>
            <targetReference>WK2_Fri_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Thu_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thursday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thu_Pattern_WK2</targetReference>
            </connector>
            <label>Thu- Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Tue_Selected</name>
        <label>WK2 - Tue - Selected</label>
        <locationX>336</locationX>
        <locationY>5738</locationY>
        <defaultConnector>
            <targetReference>WK2_Wed_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tue_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tuesday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tue_Pattern_WK2</targetReference>
            </connector>
            <label>Tue - Selected - WK2</label>
        </rules>
    </decisions>
    <decisions>
        <name>WK2_Wed_Selected</name>
        <label>WK2 - Wed - Selected</label>
        <locationX>336</locationX>
        <locationY>6038</locationY>
        <defaultConnector>
            <targetReference>WK2_Thu_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wed_Selected_WK2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Wednesday_Select_P2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wed_Pattern_WK2</targetReference>
            </connector>
            <label>Wed- Selected - WK2</label>
        </rules>
    </decisions>
    <description>VMS Client Screen Flow to Create Job Order</description>
    <dynamicChoiceSets>
        <name>FilteredJobRolescollection</name>
        <collectionReference>Get_Job_Roles_based_on_Sirenum_Links</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>sirenum__Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JobRolesCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3FS9000000imfFMAQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3FQ50000008fFhMAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>sirenum__Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>sirenum__Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPICKLIST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>sirenum__Priority__c</picklistField>
        <picklistObject>sirenum__JobOrder__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForJobPICKLIST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_requirement__c</picklistField>
        <picklistObject>sirenum__JobOrder__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteCollection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Operating_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountID.Id</elementReference>
            </value>
        </filters>
        <object>sirenum__Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteFILTER</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Operating_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>Contains</operator>
            <value>
                <elementReference>GetContactId.Id</elementReference>
            </value>
        </filters>
        <object>sirenum__Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteFILTER1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>sirenum__Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sites</name>
        <collectionReference>GetRelatedSites</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>sirenum__Site__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TimeIntervalPICKLIST</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeSelect__c</picklistField>
        <picklistObject>sirenum__JobOrder__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>X2ndTierCandidate</name>
        <collectionReference>Get2ndtrierContacts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseSafeIDAccount</name>
        <dataType>String</dataType>
        <expression>casesafeid({!GetAccountID.Id})</expression>
    </formulas>
    <formulas>
        <name>Date6monthbeforetoday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 180</expression>
    </formulas>
    <formulas>
        <name>FriWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Fri_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>FriWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Fri_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>FriWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Fri_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>FriWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Fri_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>isNoneSelected</name>
        <dataType>Boolean</dataType>
        <expression>NOT(
{!Monday_Select} || {!Monday_Select_P2} || 
{!Tuesday_Select} || {!Tuesday_Select_P2} ||
{!Wednesday_Select} || {!Wednesday_Select_P2} ||
{!Thursday_Select} || {!Thursday_Select_P2} ||
{!Friday_Select} || {!Friday_Select_P2} ||
{!Saturday_Select} || {!Saturday_Select_P2} ||
{!Sunday} || {!Sunday_Select_P2}
)</expression>
    </formulas>
    <formulas>
        <name>JobOrderName</name>
        <dataType>String</dataType>
        <expression>{!GetJobRole.Name}</expression>
    </formulas>
    <formulas>
        <name>MonWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Mon_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>MonWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Mon_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>MonWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Mon_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>MonWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Mon_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewJobOrderName</name>
        <dataType>String</dataType>
        <expression>{!GetJobRole.Name}</expression>
    </formulas>
    <formulas>
        <name>SatWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sat_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SatWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sat_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SatWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sat_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SatWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sat_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SunWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sun_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SunWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sun_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SunWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sun_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>SunWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Sun_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThuWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Thu_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThuWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Thu_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThuWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Thu_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThuWK2_Start_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Thu_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>ThuWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Thu_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>TueWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Tue_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>TueWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Tue_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>TueWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Tue_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>TueWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Tue_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WedWK1_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Wed_End_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WedWK1_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Wed_Start_Time} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WedWK2_EndTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Wed_End_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WedWK2_StartTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!Start_Date}) &amp; &quot; &quot; &amp; {!Wed_Start_TimeP2} &amp; &quot;:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WeekCycle</name>
        <dataType>Number</dataType>
        <expression>IF({!Pattern_Cycle} = &apos;Week 2&apos;,14,7)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>VMS Client &gt; Community &gt; Create Job Order {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>VMS Client &gt; Community &gt; Create Job Order</label>
    <loops>
        <name>allSitesToShow</name>
        <label>allSitesToShow</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>ContactSite_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>pickSiteID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRelatedSites</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_past_timesheets</name>
        <label>Loop On past timesheets</label>
        <locationX>50</locationX>
        <locationY>2438</locationY>
        <collectionReference>GetPastTimeSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Getting_Contact_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get2ndtrierContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Sirenum_Link_collection</name>
        <label>Loop on Sirenum Link collection</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Account_s_Sirenum_Link</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adding_SirenumLinkIds_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Job_Roles_based_on_Sirenum_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Uploaded_files</name>
        <label>Loop on Uploaded files</label>
        <locationX>204</locationX>
        <locationY>8186</locationY>
        <collectionReference>JOD_FileUpload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Uploaded_Files_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_files_for_job_order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fri_Pattern</name>
        <label>Create Fri - Pattern</label>
        <locationX>204</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>WK1_Sat_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>FriWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>FriWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fri_Pattern_WK2</name>
        <label>Create Fri - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>6746</locationY>
        <connector>
            <targetReference>WK2_Sat_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>ThuWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>ThuWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Mon_Pattern</name>
        <label>Create Mon - Pattern</label>
        <locationX>204</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>WK1_Tue_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>MonWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>MonWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Mon_Pattern_WK2</name>
        <label>Create Mon - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>5546</locationY>
        <connector>
            <targetReference>WK2_Tue_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>MonWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>MonWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Resource_Required</name>
        <label>Create Resource Required</label>
        <locationX>336</locationX>
        <locationY>7862</locationY>
        <connector>
            <targetReference>Update_Job_to_Ongoing</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__JobOrder__c</field>
            <value>
                <elementReference>CreateJobOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__NumberOfStaff__c</field>
            <value>
                <elementReference>No_of_Staff_Required</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__JobOrderRequiredStaff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sat_Pattern</name>
        <label>Creat Sat - Pattern</label>
        <locationX>204</locationX>
        <locationY>4946</locationY>
        <connector>
            <targetReference>WK1_Sun_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>SatWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>SatWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sat_Pattern_WK2</name>
        <label>Create Sat - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>7046</locationY>
        <connector>
            <targetReference>WK2_Sun_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>SatWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>SatWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sun_Pattern</name>
        <label>Create Sun - Pattern</label>
        <locationX>204</locationX>
        <locationY>5246</locationY>
        <connector>
            <targetReference>WK2_Mon_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>SunWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>SunWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sun_Pattern_WK2</name>
        <label>Create Sun - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>7346</locationY>
        <connector>
            <targetReference>GetSite</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>SunWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>SunWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Thu_Pattern</name>
        <label>Create Thu - Pattern</label>
        <locationX>204</locationX>
        <locationY>4346</locationY>
        <connector>
            <targetReference>WK1_Fri_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>ThuWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>ThuWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tue_Pattern</name>
        <label>Create Tue - Pattern</label>
        <locationX>204</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>WK1_Wed_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>TueWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>TueWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Wed_Pattern</name>
        <label>Create Wed - Pattern</label>
        <locationX>204</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>WK1_Thu_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>WedWK1_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>WedWK1_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Scheudle</name>
        <label>Create Work Scheudle</label>
        <locationX>336</locationX>
        <locationY>3230</locationY>
        <connector>
            <targetReference>WK1_Mon_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobOrderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Account__c</field>
            <value>
                <elementReference>GetAccountID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Length__c</field>
            <value>
                <elementReference>WeekCycle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateJobOrder</name>
        <label>CreateJobOrder</label>
        <locationX>336</locationX>
        <locationY>7646</locationY>
        <connector>
            <targetReference>GetNewJobOrderCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobOrderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetSite.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_requirement__c</field>
            <value>
                <elementReference>Reason_for_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Pv000002Hb5GIAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specific_Worker_New__c</field>
            <value>
                <elementReference>Specific_Worker.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Account__c</field>
            <value>
                <elementReference>GetAccountID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__EndDate__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__JobRole__c</field>
            <value>
                <elementReference>Job_Role_LOOKUP.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Site__c</field>
            <value>
                <elementReference>GetSite.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__JobOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_files_for_job_order</name>
        <label>Insert files for job order</label>
        <locationX>204</locationX>
        <locationY>8486</locationY>
        <connector>
            <targetReference>Job_Success_Screen</targetReference>
        </connector>
        <inputReference>CDLcollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Thu_Pattern_WK2</name>
        <label>Thu - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>6446</locationY>
        <connector>
            <targetReference>WK2_Fri_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>ThuWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>ThuWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tue_Pattern_WK2</name>
        <label>Tue - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>WK2_Wed_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>TueWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>TueWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Wed_Pattern_WK2</name>
        <label>Wed - Pattern WK2</label>
        <locationX>204</locationX>
        <locationY>6146</locationY>
        <connector>
            <targetReference>WK2_Thu_Selected</targetReference>
        </connector>
        <inputAssignments>
            <field>sirenum__End__c</field>
            <value>
                <elementReference>WedWK2_EndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Offset__c</field>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Start__c</field>
            <value>
                <elementReference>WedWK2_StartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__WorkSchedule__c</field>
            <value>
                <elementReference>Create_Work_Scheudle</elementReference>
            </value>
        </inputAssignments>
        <object>sirenum__WorkScheduleDay__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get contact site link record</description>
        <name>ContactSite_Link</name>
        <label>ContactSite Link</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>allSitesToShow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IP_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact_Site_link__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get2ndtrierContacts</name>
        <label>Get2ndtrierContacts</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SpecificWorkerSelectionScreen</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Pv000002GXyAIAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012QH000001ptGVYAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AllCandidatesIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_s_Sirenum_Link</name>
        <label>Get Account&apos;s Sirenum Link</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Sirenum_Link_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__ProActiveContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Roles_based_on_Sirenum_Links</name>
        <label>Get Job Roles based on Sirenum Links</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactSite_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SetSirenumLinks</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountID</name>
        <label>GetAccountId</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_s_Sirenum_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactId</name>
        <label>GetContactId</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetJobRole</name>
        <label>GetJobRole</label>
        <locationX>336</locationX>
        <locationY>3122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Scheudle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Role_LOOKUP.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewJobOrderCreated</name>
        <label>GetNewJobOrderCreated</label>
        <locationX>336</locationX>
        <locationY>7754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Resource_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateJobOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__JobOrder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPastTimeSheets</name>
        <label>GetPastTimeSheets</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Past_Timesheet_is_available_for_selected_site_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sirenum__Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Account_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sirenum__Team__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job_Role_LOOKUP.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Date6monthbeforetoday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedSites</name>
        <label>GetRelatedSites</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_JO_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>SetRecordIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSite</name>
        <label>GetSite</label>
        <locationX>336</locationX>
        <locationY>7538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateJobOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sirenum__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUserId</name>
        <label>GetUserId</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_to_Ongoing</name>
        <label>Update Job to Ongoing</label>
        <locationX>336</locationX>
        <locationY>7970</locationY>
        <connector>
            <targetReference>Check_for_Files_upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateJobOrder</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewJobOrderName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sirenum__Status__c</field>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </inputAssignments>
        <object>sirenum__JobOrder__c</object>
    </recordUpdates>
    <screens>
        <name>Job_Error_Screen</name>
        <label>Job Error Screen</label>
        <locationX>204</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Okay</backButtonLabel>
        <connector>
            <targetReference>specific_worker_needed</targetReference>
        </connector>
        <fields>
            <name>Job_Error_Screen_msg</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;    &lt;/span&gt;&lt;span style=&quot;font-size: 28px;&quot;&gt;  &lt;/span&gt;&lt;strong style=&quot;font-size: 48px;&quot;&gt;⚠️&lt;/strong&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;It looks like you haven’t selected a working pattern yet.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; Please choose the &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;days and times&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; you need staff before continuing.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_Success_Screen</name>
        <label>Job Success Screen</label>
        <locationX>336</locationX>
        <locationY>8678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://img.icons8.com/?size=100&amp;amp;id=63262&amp;amp;format=png&amp;amp;color=000000&quot; alt=&quot;success.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Job Order Created Successfully&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!NewJobOrderName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Complete &amp; Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_JO_Screen</name>
        <label>New JO Screen</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Next_button_Click</targetReference>
        </connector>
        <fields>
            <name>New_JO_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Holder1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(105, 105, 105); font-family: Cabin; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Job Information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(2, 157, 228); font-family: Cabin; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;____________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Role_LOOKUP</name>
                    <choiceReferences>FilteredJobRolescollection</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Job Role</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Site</name>
                    <choiceReferences>Sites</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Site</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>No_of_Staff_Required</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>No of Staff Required</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Holder2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(105, 105, 105); font-family: Cabin; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Duration &amp;amp; Reason&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(2, 157, 228); font-family: Cabin; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;____________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_Job</name>
                    <choiceReferences>ReasonForJobPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Requirement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_any_Specific_Worker</name>
            <dataType>Boolean</dataType>
            <fieldText>If you would like to request a worker who has previously performed this role at this site, please tick this box. You will be able to select them on the next screen.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_JO_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>holder5</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(105, 105, 105);&quot;&gt;Week 1 - &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(105, 105, 105);&quot;&gt;Working Patten&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(2, 157, 228);&quot;&gt;____________________&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mon_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mon_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tuesday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tuesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tue_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tue_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wednesday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Wednesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wed_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wed_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thursday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Thursday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thu_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thu_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Friday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Friday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fri_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fri_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Saturday_Select</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Saturday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sat_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sat_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Select</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sunday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sunday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sun_Start_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sun_End_Time</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section9_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Holder3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(105, 105, 105);&quot;&gt;If the booking requires staff to work on a 14 day rota, add week 2 below. For more complex shift patterns, please contact your Blue Arrow representative.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pattern_Cycle</name>
            <choiceReferences>Over_7_Days</choiceReferences>
            <choiceReferences>Over_14_Days</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Over_7_Days</defaultSelectedChoiceReference>
            <fieldText>Pattern Cycle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Holder4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(105, 105, 105);&quot;&gt;Week 2 - &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(105, 105, 105);&quot;&gt;Working Patten&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Cabin; color: rgb(2, 157, 228);&quot;&gt;____________________&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_JO_Screen_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Monday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mon_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mon_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Monday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section11_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tuesday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Tuesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tue_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tue_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tuesday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section12_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wednesday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Wednesday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wed_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Wed_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Wednesday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section13_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thursday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Thursday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thu_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Thu_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Thursday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section14_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Friday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Friday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fri_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fri_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Friday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section15_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Saturday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Saturday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sat_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Start Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section16_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sat_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Saturday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section16_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_JO_Screen_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_JO_Screen_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sunday_Select_P2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sunday</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sun_Start_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section17_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sun_End_TimeP2</name>
                    <choiceReferences>TimeIntervalPICKLIST</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>End Time</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sunday_Select_P2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_JO_Screen_Section17_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pattern_Cycle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Over_14_Days</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>JOD_FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Uploadedfileids</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Date6monthbeforetoday</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Job</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SpecificWorkerSelectionScreen</name>
        <label>SpecificWorkerSelectionScreen</label>
        <locationX>182</locationX>
        <locationY>2930</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetJobRole</targetReference>
        </connector>
        <fields>
            <name>SpecificWorkernotfound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;ℹ️ No workers found&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;We couldn&apos;t find any specific workers which match the site and job role.&amp;nbsp;Please continue and click &apos;Create Job&apos; below&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isTimesheetfound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SpecificWorkerSelectionScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SpecificWorkerSelectionScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SpecificWorkerSelectionScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Specific_Worker</name>
                    <choiceReferences>X2ndTierCandidate</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Select a previous worker from the drop down below:</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isTimesheetfound</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SpecificWorkerSelectionScreen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;ℹ️&lt;/span&gt;Blue Arrow will place this worker if they are available or we will fill the requirment with another suitable worker.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isTimesheetfound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Job</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCandidatesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CDLcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CDLrec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>isJoborderclicked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isTimesheetfound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SetRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetSirenumLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Uploadedfileids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
